<template name="tabs">
	<view class="content">
		<view class="tabs" :style="titleStyle">
			<!-- 下面的color需要子元素设定inherit去继承 -->
			<view class="target" v-for="(k, v) in tabs" :key="v" :style="{'border-bottom': v == target ? selectedLine: '',color: v == target ? selectcolor : color}" @click="setIndex(v)" :data-index="v">
				<!-- 定义插槽接收父组件的选项卡标题Dom结构 -->
				<slot name="tabTitle" :tabTitle="k"></slot>
			</view>
		</view>
		<swiper :duration="500" :current="thisindex" :data-index="thisindex" @change="toggle" :style="{ height: windowHeight + 'px' }">
			<swiper-item v-for="(item, index) in tabs" :key="index" :style="{ height: windowHeight + 'px' }">
				<!-- 定义插槽接收父组件的选项卡列表Dom结构 -->
				<slot name="tabList" :tabList="item"></slot>
			</swiper-item>
		</swiper>
	</view>
</template>

<script>
export default {
	components: {},
	data() {
		return {
			target: 0, //tabs索引
			thisindex: 0, //swiper-item索引
			windowHeight: 0
		};
	},
	props: {
		/* 数据列表 */
		tabs: {
			value: Array,
			default: false
		},
		/* 父组件所有元素占用页面的高度 */
		parentHeight: {
			value: Object,
			default: 0
		},
		/* 选项卡文字颜色 */
		titleStyle: {
			value: Object,
			default: false
		},
		/* 选中的边框颜色 */
		selectedLine: {
			type: String,
			default: "4rpx solid blue"
		},
		color: {
			type: String,
			default: "#333333"
		},
		/* 选中文字的颜色 */
		selectcolor: {
			type: String,
			default: "#ff5d16"
		}
	},
	computed: {},
	watch: {},
	created() {
		
		
	},
	mounted() {
		var that = this;
		setTimeout(async() => {
			let tabs = await that.$commonFun.getElSize('tabs');
			uni.getSystemInfo({
				success: res => {
					that.windowHeight = res.windowHeight - tabs.height - that.parentHeight;
				}
			});
		})
	},
	methods: {
		// 切换触发的事件
		toggle(e) {
			let index = e.detail.current;
			this.target = index;
		},
		// 点击nav控制下面的展示
		setIndex(index) {
			this.thisindex = index;
		}
	}
};
</script>

<style lang="scss">
.tabs {
	display: flex;
	justify-content: space-around;
}
.target {
	flex: 1;
	text-align: center;
}
</style>
