<template>
	<view class="Customer_service">
		<view class="container">
			<view class="title">请对我们的服务做出评价</view>
			<view class="personnel">
				<image src="../../static/images/CompanyDetails/1.jpg" mode=""></image>
				<text>圆圆</text>
			</view>
			<view class="select">
				<view class="box" v-for="(item,index) in outcome" :key="index" @click="target(index)" :class="{active: index == isActive ? 'active': ''}">
					<text class="iconfont" v-html="item.icon"></text>
					<text>{{item.title}}</text>
				</view>
			</view>
			<view class="textarea">
				<textarea placeholder="评价备注"></textarea>
			</view>
		</view>
		<button class="submit">提交</button>
	</view>
</template>

<script>

	export default {

        components: {

        },
        data() {
            return {
				outcome: [{
					icon: `&#xe66f;`,
					title: '非常满意'
					
				},{
					icon: `&#xe731;`,
					title: '满意'
				},{
					icon: `&#xe602;`,
					title: '一般'
				},{
					icon: `&#xe6bc;`,
					title: '不满意'
				},{
					icon: `&#xe65c;`,
					title: '非常差'
				}],
				isActive: 0
            }
        },
        computed: {

        },
        watch: {

        },
        onLoad() {

        },
        onReady() {

        },
        methods: {
			target(index) {
				console.log(index)
				this.isActive = index;
			}
        }

    }
</script>

<style lang="scss">
	page {
		background-color: #f3f5f8;
	}
	.Customer_service {
		overflow: hidden;
		.container {
			background-color: #fff;
			padding: 0 37rpx;
			padding-top: 43rpx;
			padding-bottom: 102rpx;
			margin-top: 42rpx;
			.title {
				font-size: 32rpx;
				color: #333333;
				font-weight: bold;
			}
			.personnel {
				margin-top: 46rpx;
				display: flex;
				align-items: center;
				image {
					width: 79rpx;
					height: 79rpx;
					border-radius: 50%;
					margin-right: 32rpx;
				}
			}
			.select {
				display: flex;
				justify-content: space-around;
				margin-top: 52rpx;
				.box {
					display: flex;
					flex-direction: column;
					align-items: center;
					color: #ababab;
					text {
						&:first-child {
							font-size: 64rpx;
							color: inherit;
						}
						&:last-child {
							font-size: 24rpx;
							color: inherit;
							margin-top: 24rpx;
						}
					}
				}
				.active {
					color: #ff5d16 !important;
				}
			}
			.textarea {
				background-color: #fafafa;
				border: solid 1rpx #f2f2f2;
				overflow: hidden;
				margin-top: 55rpx;
				textarea {
					width: 100%;
					padding: 30rpx 36rpx;
				}
			}
		}
		.submit {
			width: 86%;
			height: 88rpx;
			line-height: 88rpx;
			background-color: #ff5d16;
			box-shadow: 0rpx 8rpx 20rpx 0rpx 
				rgba(255, 65, 22, 0.31);
			border-radius: 10rpx;
			color: #ffffff;
			font-size: 36rpx;
			margin-top: 180rpx;
		}
	}
</style>