<template>
	<view class="invoice">
		<view class="list">
			<view class="item">
				<text class="text1">发票抬头</text>
				<text v-html="type == 1 ? '个人' : '企业单位'"></text>
			</view>
			<view class="item">
				<text class="text1">发票类型</text>
				<text v-html="type == 1 ? '增值税普通发票' : '增值税普通/专用发票'"></text>
			</view>
			<view class="item">
				<text class="text1">个人名称</text>
				<text v-html="type == 1 ? '王企鹅' : '北京科技有限公司'">王企鹅</text>
			</view>
			<view class="item">
				<text class="text1">收票人手机</text>
				<text>19910531121</text>
			</view>
			<view class="item">
				<text class="text1">收票人邮箱</text>
				<text>wangyandesh@ena.com</text>
			</view>
		</view>
	</view>
</template>

<script>

	export default {

        components: {

        },
        data() {
            return {
				type: 1,
            }
        },
        computed: {

        },
        watch: {

        },
        onLoad(options) {
			this.type = options.type;
        },
        onReady() {

        },
        methods: {

        }

    }
</script>

<style lang="scss">
	page {
		background-color: #f3f5f8;
	}
	.list {
		background-color: #fff;
		padding: 0 56rpx;
		border-top: 20rpx solid #f3f5f8;
		.item {
			height: 106rpx;
			line-height: 106rpx;
			display: flex;
			align-items: center;
			border-bottom: 0.5rpx solid #e6e6e6;
			.text1 {
				display: block;
				width: 149rpx;
				margin-right: 96rpx;
			}
			text {
				font-size: 28rpx;
				color: #666666;
			}
			&:last-child {
				border-bottom: none;
			}
		}
	}
</style>