<template>
	<view class="vault_seting">
		<view class="box" @click="set_cashpwd">
			<text>设置提现密码</text>
			<text class="iconfont">&#xe7d9;</text>
		</view>
	</view>
</template>

<script>

	export default {

        components: {

        },
        data() {
            return {

            }
        },
        computed: {

        },
        watch: {

        },
        onLoad() {

        },
        onReady() {

        },
        methods: {
			set_cashpwd() {
				uni.navigateTo({
					url: '/pages/Set_cash_pwd/Set_cash_pwd'
				})
			}
        }

    }
</script>

<style lang="scss">
	page {
		background-color: #f3f5f8;
	}
	.box {
		height: 110rpx;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 35rpx;
		background-color: #fff;
		margin-top: 20rpx;
		text {
			font-size: 34rpx;
			color: #333333;
			&:last-child {
				font-size: 28rpx;
				color: #999999;
			}
		}
	}
</style>