<template>
	<view class="invoice_record">
		<u-navbar :is-back="true" title="发票记录" :is-fixed="true" title-color="#282828" :title-size="38">
		</u-navbar>
		<hr-pull-load
			@refresh="refresh"
			@loadMore="loadMore"
			:height="windowHeight + 'px'"
			:pullHeight="50"
			:maxHeight="100"
			:lowerThreshold="100"
			:bottomTips="bottomTips"
			:isTab="false"
			ref="hrPullLoad"
			@scroll="listenScroll"
			:scrollTop="scrollTop"
		>
		<view class="list">
			<view class="item" @click="goDetail(1)" v-for="(item, index) in list" :key="index">
				<view class="top" v-if="item.type == 1">
					<text>个人 · 增值税专用发票</text>
					<text class="iconfont">已开票</text>
				</view>
				<view class="top" v-else>
					<text>企业 · 增值税专用发票</text>
					<text class="iconfont">待开票</text>
				</view>
				<view class="bottom">
					<view class="box">
						<text>2020年05月11日</text>
						<text>13:12</text>
					</view>
					<text>4000元</text>
				</view>
			</view>
		</view>
		</hr-pull-load>
		<u-back-top :scroll-top="scrollTop" @onScroll="gotop"></u-back-top>
	</view>
</template>

<script>
	import uBackTop from '../../components/u-back-top/u-back-top'
export default {
	components: {
		uBackTop
	},
	data() {
		return {
			list: [{
				type: 1,
				date: '2020年05月11日13:12',
				price: 4000
			},{
				type: 1,
				date: '2020年05月11日13:12',
				price: 4000
			},{
				type: 1,
				date: '2020年05月11日13:12',
				price: 4000
			}],
			windowHeight: 0,
			bottomTips: '',
			currentPage: 1,
			scrollTop: 0
		};
	},
	computed: {},
	watch: {},
	onLoad() {
		this.getExampleData(1);
	},
	async onReady() {
		var that = this;
		let navbar = await that.$commonFun.getElSize('u-navbar-inner');
		console.log(navbar)
		uni.getSystemInfo({
			success: res => {
				that.windowHeight = res.windowHeight - navbar.height;
				console.log(res.windowHeight);
			}
		});
	},
	methods: {
		gotop(e) {
			this.scrollTop = e
		},
		listenScroll(e) {
			this.scrollTop = e;
		},
		goDetail(type) {
			uni.navigateTo({
				url: `/pages/invoice_detail/invoice_detail?type=${type}`
			});
		},
		getExampleData(type) {
			/* type 1代表下拉刷新 2代表加载更多 */
			setTimeout(() => {
				/* 接口获取到的数据 */
				let data = [
					{
						type: 1,
						date: '2020年05月11日13:12',
						price: 4000
					},{
						type: 2,
						date: '2020年05月11日13:12',
						price: 4000
					},{
						type: 1,
						date: '2020年05月11日13:12',
						price: 4000
					},					{
						type: 2,
						date: '2020年05月11日13:12',
						price: 4000
					},{
						type: 1,
						date: '2020年05月11日13:12',
						price: 4000
					},{
						type: 2,
						date: '2020年05月11日13:12',
						price: 4000
					},					{
						type: 1,
						date: '2020年05月11日13:12',
						price: 4000
					},{
						type: 2,
						date: '2020年05月11日13:12',
						price: 4000
					},{
						type: 1,
						date: '2020年05月11日13:12',
						price: 4000
					}
				];
				/* 拿到数据后的处理 */
				if (data.length > 0) {
					if (type == 1) {
						this.list = data;
					} else if (type == 2) {
						this.list = this.list.concat(data);
					}
					/* 这里的20是每次调用后台接口返回的最大数据条数，可以自定义 */
					if (this.list.length < 3) {
						this.bottomTips = 'nomore';
					} else {
						this.bottomTips = 'more';
					}
				} else {
					if (type == 1) {
						this.list = [];
					} else if (type == 2) {
						this.currentPage--;
					}
					this.bottomTips = 'nomore';
				}
				/* 这里300毫秒的延时，主要是为了优化视觉效果 */
				setTimeout(() => {
					this.$refs.hrPullLoad.reSet();
				}, 300);
			}, 500);
		},
		//自定义上拉加载更多
		loadMore() {
			this.currentPage++;
			this.bottomTips = 'loading';
			this.getExampleData(2);
		},
		//自定义下拉刷新
		refresh() {
			this.currentPage = 1;
			this.getExampleData(1);
		}
	}
};
</script>

<style lang="scss">
page {
	background-color: #f3f5f8;
}
.list {
	overflow: hidden;
	padding: 33rpx 25rpx;
	.item {
		padding: 48rpx 38rpx;
		background-color: #ffffff;
		box-shadow: 0rpx 5rpx 22rpx 2rpx rgba(144, 159, 175, 0.07);
		border-radius: 25rpx;
		margin-bottom: 20rpx;
		.top {
			display: flex;
			justify-content: space-between;
			text {
				font-size: 30rpx;
				&:first-child {
					color: #333333;
				}
				&:last-child {
					color: #999999;
					position: relative;
					padding-right: 35rpx;
					&:after {
						content: '\e7d9';
						font-size: 20rpx;
						margin-left: 14rpx;
						position: absolute;
						bottom: 4rpx;
						right: 0;
					}
				}
			}
		}
		.bottom {
			display: flex;
			justify-content: space-between;
			margin-top: 22rpx;
			text {
				font-size: 26rpx;
				color: #999999;
				&:last-child {
					font-size: 30rpx;
				}
			}
		}
	}
}
</style>
