<script>
	import store from './store'
	import commonFun from "./common/common.js" //自己封装的公共工具函数
	import RongIMLib from './common/IM/RongIMLib-3.0.7.1-dev.js'; //goeasyIM通讯
	export default {  
		//nvue全局变量和方法及vuex的存储
		globalData: {
			store: store,
			commonFun: commonFun,
			IMService: RongIMLib
		},
		onLaunch: function() {
			// #ifdef APP-PLUS
			plus.screen.lockOrientation('portrait-primary'); //默认竖屏
			// #endif
			//请求接口判断登录
			let resData = {
				phone: '19888016558',
				token: 'BIrLsspBBHCtIAaIG6DQ2HrssXIBD4qK@aelf.cn.rongnav.com;aelf.cn.rongcfg.com'
			}
			let StorageUser = uni.getStorageSync('userInfo')
			if(resData.phone === StorageUser.phone && resData.token === StorageUser.token) {
				uni.reLaunch({
					url: '/pages/index/index'
				})
			}else {
				uni.reLaunch({
					url: '/pages/login/login'
				})
			}
		}
	}
</script>

<style lang="scss">
	/* 引入阿里字体图标 */
	/* #ifndef APP-NVUE || APP-PLUS-NVUE */
		@import url("./static/iconfont/iconfont.css");
		.u-collapse-head {
			border-bottom: 0.5rpx solid #e7e7e7;
		}
		.u-collapse-title {
			padding: 30rpx 34rpx !important;
		}
		.u-arrow-down-icon {
			margin-right: 34rpx !important;
		}
	/* #endif */
	/* #ifdef APP-NVUE || APP-PLUS-NVUE */
		@import '@mypui/myp-ui/base.scss';
		@import '@mypui/myp-ui/mypui.scss';
	/* #endif */
</style>
