<template>
	<view class="order">
		<u-navbar :is-back="true" title="我的订单" title-size="36rpx" :is-fixed="true" title-color="#282828" style="font-weight: bold;">
			<view class="navbar-right" slot="right" style="font-weight: normal;" @click="openBill">开发票</view>
		</u-navbar>
		<hr-pull-load
			@refresh="refresh"
			@loadMore="loadMore"
			:height="windowHeight + 'px'"
			:pullHeight="50"
			:maxHeight="100"
			:lowerThreshold="100"
			:bottomTips="bottomTips"
			:isTab="false"
			ref="hrPullLoad"
			@scroll="listenScroll"
			:scrollTop="scrollTop"
			:upDownBgColor="upDownBgColor"
			pullDownBgColor="#f3f5f8"
		>
			<view class="order_list">
				<view class="item" @click="goDetail(1)" v-for="(item, index) in list" :key="index">
					<view class="top">
						<text>已付金额: {{item.Amount_paid}}元</text>
						<text class="iconfont" :class="{ 'blue': item.type === 2 }">{{type[index]}}</text>
					</view>
					<view class="bottom">订单时间：{{item.Initial_amount}}</view>
					<view class="bottom" v-if="item.type !== 2">做账会计：{{item.name}}</view>
					<view class="between" v-else>
						<text>做账会计：李会计</text>
						<view class="right">
							<text class="time">支付剩余时间</text>
							<u-count-down :timestamp="timestamp" font-size="24rpx" color="#3b82fc" separator-color="#3b82fc" :show-days="false"></u-count-down>
						</view>
					</view>
				</view>
			</view>
		</hr-pull-load>
		<u-back-top :scroll-top="scrollTop" @onScroll="gotop" top="600"></u-back-top>
	</view>
</template>

<script>
	import uBackTop from '../../components/u-back-top/u-back-top'
export default {
	components: {
		uBackTop
	},
	data() {
		return {
			timestamp: 86400,
			list: [{
				Amount_paid: '4000',
				type: 1,
				Initial_amount: '4月21日 12:30',
				name: '李会计'
			},{
				Amount_paid: '4000',
				type: 2,
				Initial_amount: '4月21日 12:30',
				name: '李会计',
				timestamp: 86400
			},{
				Amount_paid: '4000',
				type: 3,
				Initial_amount: '4月21日 12:30',
				name: '李会计'
			},{
				Amount_paid: '4000',
				type: 4,
				Initial_amount: '4月21日 12:30',
				name: '李会计'
			}],
			windowHeight: 0,
			bottomTips: '',
			currentPage: 1,
			scrollTop: 0,
			upDownBgColor: '#f3f5f8'
		};
	},
	computed: {
		type() {
			return this.list.map((item) => {
				let {type} = item;
				return type === 1 ? '进行中' : type === 2 ? '待支付' : type === 3 ? '已取消' : '已退款';
			})
		}
	},
	watch: {},
	onLoad() {
		this.getExampleData(1);
	},
	async onReady() {
		var that = this;
		let navbar = await that.$commonFun.getElSize('u-navbar-inner');
		console.log(navbar)
		uni.getSystemInfo({
			success: res => {
				that.windowHeight = res.windowHeight - navbar.height;
				console.log(res.windowHeight);
			}
		});
	},
	onNavigationBarButtonTap(e) {
		console.log(e)
		if(e.text == '开发票') {
			uni.navigateTo({
				url: '/pages/invoice/invoice'
			})
		}
	},
	methods: {
		gotop(e) {
			this.scrollTop = e
		},
		listenScroll(e) {
			// this.scrollTop = e;
		},
		//开发票
		openBill() {
			uni.navigateTo({
				url: '/pages/invoice/invoice'
			})
		},
		goDetail(type) {
			if(type == 1) {
				uni.navigateTo({
					url: '/pages/order_detail/order_detail'
				})
			}else if(type == 2) {
				uni.navigateTo({
					url: '/pages/unpaid_order/unpaid_order'
				})
			}else if(type == 3) {
				// 已退款
				uni.navigateTo({
					url: '/pages/RefundDetails/RefundDetails'
				})
			}

		},
		getExampleData(type) {
			/* type 1代表下拉刷新 2代表加载更多 */
			setTimeout(() => {
				/* 接口获取到的数据 */
				let data = [
					{
						Amount_paid: '4000',
						type: 1,
						Initial_amount: '4月21日 12:30',
						name: '李会计'
					},{
						Amount_paid: '4000',
						type: 2,
						Initial_amount: '4月21日 12:30',
						name: '李会计',
						timestamp: 86400
					},{
						Amount_paid: '4000',
						type: 3,
						Initial_amount: '4月21日 12:30',
						name: '李会计'
					},{
						Amount_paid: '4000',
						type: 4,
						Initial_amount: '4月21日 12:30',
						name: '李会计'
					},					{
						Amount_paid: '4000',
						type: 1,
						Initial_amount: '4月21日 12:30',
						name: '李会计'
					},{
						Amount_paid: '4000',
						type: 2,
						Initial_amount: '4月21日 12:30',
						name: '李会计',
						timestamp: 86400
					},{
						Amount_paid: '4000',
						type: 3,
						Initial_amount: '4月21日 12:30',
						name: '李会计'
					},{
						Amount_paid: '4000',
						type: 4,
						Initial_amount: '4月21日 12:30',
						name: '李会计'
					}
				];
				/* 拿到数据后的处理 */
				if (data.length > 0) {
					if (type == 1) {
						this.list = data;
					} else if (type == 2) {
						this.list = this.list.concat(data);
					}
					/* 这里的20是每次调用后台接口返回的最大数据条数，可以自定义 */
					if (this.list.length < 3) {
						this.bottomTips = 'nomore';
					} else {
						this.bottomTips = 'more';
					}
				} else {
					if (type == 1) {
						this.list = [];
					} else if (type == 2) {
						this.currentPage--;
					}
					this.bottomTips = 'nomore';
				}
				/* 这里300毫秒的延时，主要是为了优化视觉效果 */
				setTimeout(() => {
					this.$refs.hrPullLoad.reSet();
				}, 300);
			}, 500);
		},
		//自定义上拉加载更多
		loadMore() {
			this.currentPage++;
			this.bottomTips = 'loading';
			this.getExampleData(2);
		},
		//自定义下拉刷新
		refresh() {
			this.currentPage = 1;
			this.getExampleData(1);
		}
	}
};
</script>

<style lang="scss">
.navbar-right {
	margin-right: 26rpx;
	font-size: 28rpx;
	color: #999999;
}
.order {
	padding: 0 25rpx;
}
.order_list {
	background-color: #f3f5f8;
	padding-top: 33rpx;
	.item {
		background-color: #fff;
		box-shadow: 0rpx 5rpx 22rpx 2rpx rgba(144, 159, 175, 0.07);
		border-radius: 25rpx;
		margin-bottom: 20rpx;
		padding: 47rpx 40rpx;
		.top {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 22rpx;
			text {
				font-size: 30rpx;
				&:first-child {
					color: #333333;
					font-weight: bold;
				}
				&:last-child {
					color: #999999;
					display: flex;
					align-items: center;
					&::after {
						content: '\e7d9';
						color: #999999;
						font-size: 19rpx;
						margin-left: 24rpx;
					}
				}
			}
			.iconfont.blue {
				color: #3b82fc;
			}
		}
		.bottom {
			font-size: 26rpx;
			color: #999999;
			margin-top: 14rpx;
		}
		.between {
			width: 100%;
			font-size: 26rpx;
			color: #999999;
			margin-top: 14rpx;
			display: flex;
			justify-content: space-between;
			.right {
				display: flex;
				.time {
					font-size: 24rpx;
					color: #999999;
					margin-right: 8rpx;
				}
			}
		}
	}
}
</style>
