<!-- 引导页组件 -->
<template>
	<view class="content">
		<swiper class="swiper" 
		:autoplay="autoplay" 
		:duration="duration"
		@change="change"
		>
			<swiper-item v-for="(item,index) in imgUrls" :key="index">
				<view class="swiper-item">
					<view class="swiper-item-img text-img"><image :src="item.titleImg" mode="aspectFit"></image></view>
					<view class="swiper-item-img"><image :src="item.img" mode="widthFix"></image></view>
				</view>
				
			</swiper-item>
			
		</swiper>
		<view class="jump-over" @tap="launchFlag()" v-show="isBtn" :style="{top: top}">{{jumpover}}</view>
		<view class="position-img" v-show="isBg"></view>
		<view class="experience" @tap="launchFlag()" v-show="isBtn">{{experience}}</view>
		<!--重置小圆点的样式  -->
		<view class="dots" :style="{bottom: bottom}">  
			<block v-for="(item,index) in imgUrls" :index="index" :key="index">  
				<view class="dot" :class="{'active':  index == cur}"></view>  
			</block>  
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				imgUrls: [{
					img: '../../static/images/guide/icon_01.png',
					titleImg: '../../static/images/guide/title_01.png'
				},{
					img: '../../static/images/guide/icon_02.png',
					titleImg: '../../static/images/guide/title_02.png'
				},{
					img: '../../static/images/guide/icon_03.png',
					titleImg: '../../static/images/guide/title_03.png'
				}],
				cur: 0,
				background: ['color1', 'color2', 'color3'],
				autoplay: false,
				duration: 500,
				jumpover: '跳过',
				experience: '立即体验',
				top: '5%',
				isBtn: false,
				bottom: '18.5%',
				isBg: true
			}
		},
		mounted() {
			var that = this;
			if(plus.navigator.hasNotchInScreen() == true) {
				that.top = '120rpx';
				that.bottom = '19.5%';
			}
		},
		methods: {
			launchFlag: function(){
				/**
				 * 向本地存储中设置launchFlag的值，即启动标识；
				 */
				uni.setStorage({
						key: 'launchFlag',
						data: true,
				});
				uni.switchTab({
					url: '/pages/tabBar/component/component'
				});
				
			},
			change(e) {
				this.cur = e.target.current;
				if(this.cur == 2) {
					this.isBtn = true;
				}else  {
					this.isBtn = false;
				}
				if(this.cur == 0 || this.cur == 2) {
					this.isBg = true;
				}else {
					this.isBg = false;
				}
			}
			
		}
	}
</script>
<style>
	page,
	.content{
		width: 100%;
		height: 100%;
		background-size: 100% auto;
		padding: 0;
	}
	.swiper{
		width: 100%;
		height: 90%;
		background: #FFFFFF;
	}
	.swiper-item {
		width: 100%;
		height: 100%;
		text-align: center;
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction:column-reverse
	}
	.swiper-item-img{
		width: 100%;
		height: auto;
		margin: 0 auto;
	}
	.swiper-item-img image{
		width: 80%;
	}
	.text-img {
		margin-top: 30rpx;
	}
	.text-img image {
		height: 180rpx;
	}
	
	.jump-over,.experience{
		position: absolute;
		height: 70upx;
		line-height: 70upx;
		padding: 0 40upx;
		border-radius: 100rpx;
		font-size: 32upx;
		color: #3b82fc;
		border: 1px solid #3b82fc;
		z-index: 999;
	}
	.jump-over{
		right: 45upx;
		top: 5%;
	}
	
	.position-img {
		width: 110rpx;
		height: 156.5rpx;
		position: absolute;
		left: 0;
		top: 40%;
		background: url('../../static/images/guide/3.png') no-repeat;
		background-size: 110rpx 100%;
	}
	
	.experience{
		width: 60%;
		height: 80rpx;
		line-height: 80rpx;
		text-align: center;
		background-color: #3b82fc;
		box-shadow: 0px 8px 20px 0px 
		rgba(59, 130, 252, 0.31);
		border-radius: 100rpx;
		left: 50%;
		transform: translateX(-50%);
		bottom: 100rpx;
		color: #FFFFFF;
		border: none;
	}
	.dots{  
		width: 150rpx;
		height: 18rpx;
	    position: absolute;
	    right: 0;
	    bottom: 18.5%;
	    left: 50%;
		transform: translateX(-50%);
		display: flex;
		justify-content: space-around;
	}  
	/*未选中时的小圆点样式 */
	.dot{  
	    width: 20rpx;
		height: 20rpx;
	    border-radius: 50%;
	    background-color: #cbcbcb;
	} 
	
	.active {
		background-color: #3b82fc;
	}
</style>
