<template>
	<div class="nvue-dropdown" @touchmove="stopmove">
		<div class="nvue-dropdown-select" @click="stretch" ref="nvueDropdownSelect">
			<text class="nvue-dropdown-select-text">资产负债表</text>
			<text class="iconfont" :class="[flag ? 'arrowTransform' : 'arrowTransformReturn']">&#xe63c;</text>
		</div>
		<div class="nvue-dropdown-mask" v-if="isShow" :style="{ height: parentHeight + 'px' }" @click="closeMask">
		<div class="nvue-dropdown-select-option" ref="nvueDropdownSelectOption">
			<div class="nvue-dropdown-select-option-items" v-for="(item,index) in optionItem" :key="index" @click="clickItem(index)">
				<text class="nvue-dropdown-select-option-items-text" :class="{'active': isChange == index}">{{item.name}}</text>
				<text class="nvue-dropdown-select-option-items-icon iconfont" :class="{'active': isChange == index}">{{check[index]}}</text>
			</div>
		</div>
		</div>
	</div>
</template>

<script>
	// #ifdef APP-NVUE
	const dom = weex.requireModule('dom');
	// #endif
export default {
	props: {
		parentHeight: {
			type: Number,
			default: 0
		}
	},
	data() {
		return {
			isShow: false,
			containerHeight: 0,
			flag: true,
			optionItem: [{id: 1, name: '资产负债表'},{id: 2, name: '利润表'}],
			isChange: 0,
			isSelect: false
		};
	},
	computed: {
		check() {
			return this.optionItem.map((item, index) => {
				return this.isChange == index ? '\ue60e' : '';
			})
		}
	},
	methods: {
		async stretch() {
			this.flag = !this.flag;
			// #ifdef APP-NVUE
			

			
			let select = await new Promise((res, rej) => {
				dom.getComponentRect(this.$refs.nvueDropdownSelect, option => {
					res(option.size);
				});
			});
			this.isShow = !this.isShow;
			this.$nextTick(() => {
				if(this.isShow === true) {
					setTimeout(async ()=> {
						let option = await new Promise((res, rej) => {
							dom.getComponentRect(this.$refs.nvueDropdownSelectOption, option => {
								res(option.size);
							});
						});
						this.containerHeight = select.height;
						this.$emit('childHeight', this.containerHeight);
						this.isSelect = true;
					},100)
				}
			})
			// #endif
			
		},
		stopmove() {
			
		},
		clickItem(index) {
			this.isShow = false;
			this.flag = true;
			this.isChange = index;
			
		},
		closeMask() {
			this.isShow = false;
			this.flag = true;
		}
	}
};
</script>

<style lang="scss">
.iconfont {
	font-family: iconfont;
}
.nvue-dropdown-select {
	height: 48px;
	position: relative;
	flex-direction: row;
	align-items: center;
	padding-left: 35rpx;
	padding-right: 31rpx;
	border-style: solid;
	border-bottom-width: 1rpx;
	border-bottom-color: #e7e7e7;
}
.nvue-dropdown-select-text {
	font-size: 26rpx;
	color: #666;
}
.nvue-dropdown-select-ico {

}
.arrowTransform {
	margin-left: 28rpx;
	font-size: 24rpx;
	color: #999;
	transition-property: transform;
	transform-origin: center;
	transform: rotate(0deg);
	transition-duration: 200ms;
}
.arrowTransformReturn {
	margin-left: 28rpx;
	font-size: 24rpx;
	color: #999;
	transition-property: transform;
	transform-origin: center;
	transform: rotate(180deg);
}
.nvue-dropdown-mask {
	width: 750rpx;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
}
.nvue-dropdown-select-option-items {
	background-color: #fff;
	padding-left: 35rpx;
	padding-right: 31rpx;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 48px;
	border-style: solid;
	border-bottom-color: #e7e7e7;
	border-bottom-width: 1rpx;
}
.nvue-dropdown-select-option-items-text {
	font-size: 26rpx;
	color: #666;
}
.nvue-dropdown-select-option-items-icon {
	font-size: 26rpx;
	color: #666;
}
.active {
	font-family: iconfont;
	color: #3b82fc;
}
</style>
