<template>
	<view class="EditNickname">
		<view class="top">设置后，其他人将看到你的昵称</view>
		<view class="box">
			<text class="nickname">昵称</text>
			<input type="text" v-model="nickname" @input="listenval" />
			<view class="clear iconfont" @click="clear" v-if="ishow">&#xe60b;</view>
		</view>
		<text class="tip">4-20字符，可由中英文，数字、“_”、“-”组成</text>
	</view>
</template>

<script>

	export default {

        components: {

        },
        data() {
            return {
				nickname: 'Starsky',
				ishow: true
            }
        },
        computed: {

        },
        watch: {

        },
        onLoad() {

        },
        onReady() {

        },
        methods: {
			clear() {
				this.nickname = '';
				this.ishow = false
			},
			listenval() {
				console.log("1243")
				this.ishow = true
			}
        }

    }
</script>

<style lang="scss">
	.EditNickname {
		.top {
			padding: 0 36rpx;
			font-size: 26rpx;
			color: #999999;
			height: 80rpx;
			line-height: 80rpx;
		}
		.box {
			padding: 20rpx 40rpx;
			background-color: #fff;
			position: relative;
			.nickname {
				font-size: 26rpx;
				color: #00B3FF;
			}
			input {
				font-size: 34rpx;
				margin-top: 15rpx;
			}
			.clear {
				width: 36rpx;
				height: 36rpx;
				line-height: 36rpx;
				text-align: center;
				border-radius: 50%;
				background-color: #CCCCCC;
				color: #FFFFFF;
				font-size: 24rpx;
				position: absolute;
				right: 40rpx;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		.tip {
			padding-left: 40rpx;
			font-size: 26rpx;
			color: #999999;
		}
	}

</style>