<template>
	<view class="company_info">
		<view class="item">
			<text>公司名称</text>
			<view class="input-box"><input type="text" v-model="val1" /></view>
		</view>
		<view class="item" @click="rDrawer">
			<text>行业（必填）</text>
			<view class="input-box hangye">{{ value }}</view>
			<text class="iconfont">&#xe7d9;</text>
		</view>
		<view class="item">
			<text>电话</text>
			<view class="input-box"><input type="text" v-model="val3" /></view>
		</view>
		<view class="item">
			<text>邮箱</text>
			<view class="input-box"><input type="text" v-model="val4" /></view>
		</view>
		<view class="item">
			<text>网址</text>
			<view class="input-box"><input type="text" v-model="val5" /></view>
		</view>
		<tui-drawer mode="right" :visible="rightDrawer" @close="closeDrawer">
			<scroll-view scroll-y="true" :style="{ height: windowHeight }">
				<view class="list">
					<view class="li" v-for="(item, index) in list" :key="index">
						<u-radio-group v-model="value" @change="radioGroupChange">
							<u-radio @change="radioChange" :name="item.name" :disabled="item.disabled">
								<view class="li">{{ item.name }}</view>
							</u-radio>
						</u-radio-group>
					</view>
				</view>
			</scroll-view>
		</tui-drawer>
	</view>
</template>

<script>
import tuiDrawer from '../../components/tui-drawer/tui-drawer.vue';
export default {
	components: {},
	data() {
		return {
			val1: '北京慧思背书科技发展有限公司',
			val2: '会计',
			val3: '19888016558',
			val4: 'wangyandesjx@yeah.net',
			val5: 'www.baidu.com',
			list: [
				{
					name: '农、林、牧、渔业',
					checked: false,
					disabled: false
				},
				{
					name: '采矿业',
					checked: false,
					disabled: false
				},
				{
					name: '制造业',
					checked: false,
					disabled: false
				},
				{
					name: `电力、热力、\n燃气及水生产和供应业`,
					checked: false,
					disabled: false
				},
				{
					name: '建筑业',
					checked: false,
					disabled: false
				},
				{
					name: '批发和零售业',
					checked: false,
					disabled: false
				},
				{
					name: '交通运输、仓储和邮政业',
					checked: false,
					disabled: false
				},
				{
					name: '住宿和餐饮业',
					checked: false,
					disabled: false
				},
				{
					name: '信息传输、软件和信息技术服务业',
					checked: false,
					disabled: false
				},
				{
					name: '金融业',
					checked: false,
					disabled: false
				},
				{
					name: '房地产业',
					checked: false,
					disabled: false
				},
				{
					name: '租赁和商务服务业',
					checked: false,
					disabled: false
				},
				{
					name: '科学研究和技术服务业',
					checked: false,
					disabled: false
				},
				{
					name: '水利、环境和公共设施管理业',
					checked: false,
					disabled: false
				},
				{
					name: '居民服务、修理和其他服务业',
					checked: false,
					disabled: false
				},
				{
					name: '教育',
					checked: false,
					disabled: false
				},
				{
					name: '卫生和社会工作',
					checked: false,
					disabled: false
				},
				{
					name: '文化、体育和娱乐业',
					checked: false,
					disabled: false
				},
				{
					name: '公共管理、社会保障和社会组织',
					checked: false,
					disabled: false
				},
				{
					name: '国际组织',
					checked: false,
					disabled: false
				}
			],
			rightDrawer: false,
			value: '',
			windowHeight: ''
		};
	},
	computed: {},
	watch: {},
	onLoad() {},
	onReady() {
		uni.getSystemInfo({
			success: res => {
				this.windowHeight = res.windowHeight + 'px';
				console.log(this.windowHeight);
			}
		});
	},
	methods: {
		rDrawer() {
			this.rightDrawer = true;
		},
		closeDrawer(e) {
			this.rightDrawer = false;
		},
		// 选中某个单选框时，由radio时触发
		radioChange(e) {
			console.log('1', e);
			this.value = e;
			this.rightDrawer = false;
		},
		// 选中任一radio时，由radio-group触发
		radioGroupChange(e) {
			console.log('2', e);
			this.value = e;
			this.rightDrawer = false;
		}
	}
};
</script>

<style lang="scss">
page {
	background-color: #fff;
}
.u-radio-group {
	display: block;
}
.u-radio {
	margin-bottom: 80rpx;
}
.company_info {
	padding: 0 35rpx;
	overflow: hidden;
	.item {
		display: flex;
		flex-flow: column;
		margin-top: 50rpx;
		position: relative;
		text {
			font-size: 28rpx;
			color: #333333;
		}
		.input-box {
			padding: 30rpx 0;
			border-bottom: 0.5rpx solid #e0e0e0;
			input {
				font-size: 32rpx;
				color: #999999;
			}
		}
		.hangye {
			font-size: 32rpx;
			color: #999999;
		}

		.iconfont {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			font-size: 24rpx;
			color: #999999;
		}
	}
	.list {
		padding-top: 100rpx;
		padding-left: 49rpx;
		.li {
			display: flex;
			margin-left: 46rpx;
			white-space: pre-wrap;
		}
	}
}
</style>
