<template>
	<view class="unpaid_order">
		<view class="inner">
			<view class="box">
				<view class="top">代理记账服务套餐（年）</view>
				<view class="center">
					<text>¥</text>
					<text>3600</text>
				</view>
				<view class="bottom">
					<text class="iconfont">&#xe619;</text>
					<text>做账人：李会计</text>
				</view>
				<image class="right" src="../../static/logo.png"></image>
			</view>
		</view>
		<view class="notice">
			<view class="title"><text class="text3">订单信息</text></view>
			<view class="list">
				<view class="grid" v-for="(item, index) in grid" :key="index">
					<text class="iconfont" v-html="item.icon"></text>
					<text class="name">{{ item.title }}</text>
					<view class="content">
						<text>{{ item.content }}</text>
						<text class="small">{{item.tip}}</text>
					</view>
				</view>
			</view>
		</view>
		<button class="gobuy" @click="goOrder">¥3600  立即购买</button>
	</view>
</template>

<script>
export default {
	components: {},
	data() {
		return {
			grid: [
				{
					icon: '&#xea58',
					title: '代理期限',
					content: '一年',
					tip: '(做账日期起开始计算)'
				},
				{
					icon: '&#xe775',
					title: '公司纳税类型',
					content: '非一般纳税人'
				},
				{
					icon: '&#xe62c',
					title: '每月产生发票数量',
					content: '11-20张'
				},
				{
					icon: '&#xe6bf',
					title: '是否需要税控托管',
					content: '不需要'
				}
			]
		};
	},
	computed: {},
	watch: {},
	onLoad() {},
	onReady() {},
	methods: {
		goOrder() {
			uni.navigateTo({
				url: '/pages/pay_order/pay_order'
			})
		}
	}
};
</script>

<style lang="scss">
page {
	background-color: #fff;
}
.unpaid_order {
	background-color: #fff;
}
.inner {
	padding: 0 26rpx;
	padding-top: 33rpx;
	padding-bottom: 76rpx;
	border-bottom: 20rpx solid #f3f5f8;
	.box {
		padding: 63rpx 60rpx;
		background-color: #3b82fc;
		box-shadow: 0rpx 17rpx 40rpx 0rpx rgba(59, 130, 252, 0.34);
		border-radius: 25rpx;
		position: relative;
		.top {
			font-size: 28rpx;
			color: #ffffff;
		}
		.center {
			font-size: 72rpx;
			color: #ffffff;
			margin-top: 12rpx;
			text {
				&:first-child {
					font-size: 40rpx;
					margin-right: 15rpx;
				}
			}
		}
		.bottom {
			font-size: 26rpx;
			color: #ffffff;
			margin-top: 30rpx;
			text {
				&:first-child {
					font-size: 28rpx;
					margin-right: 23rpx;
				}
			}
		}
		.right {
			position: absolute;
			right: 46rpx;
			top: 49rpx;
			width: 56rpx;
			height: 56rpx;
			border-radius: 50%;
		}
	}
}
.notice {
	padding: 0 48rpx;
	.title {
		height: 110rpx;
		line-height: 110rpx;
		display: flex;
		align-items: center;
		.iconfont {
			font-size: 42rpx;
			color: #3b82fc;
		}
		.text3 {
			font-size: 32rpx;
			font-weight: bold;
		}
	}
	.list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.grid {
			display: flex;
			flex-flow: column;
			width: 307rpx;
			background-color: #ffffff;
			box-shadow: 0rpx 7rpx 35rpx 0rpx rgba(121, 141, 177, 0.1);
			border-radius: 10rpx;
			margin-bottom: 30rpx;
			padding: 38rpx;
			.iconfont {
				font-size: 44rpx;
				color: #f49722;
			}
			.name {
				font-size: 26rpx;
				color: #333333;
				margin-top: 31rpx;
			}
			.content {
				margin-top: 11rpx;
				font-size: 24rpx;
				color: #666666;
			}
			.small {
				font-size: 18rpx;
				color: #999999;
			}
			&:nth-child(2) {
				.iconfont {
					color: #21ac86;
				}
			}
			&:nth-child(3) {
				.iconfont {
					color: #2373ff;
				}
			}
			&:nth-child(4) {
				.iconfont {
					color: #ed5b25;
				}
			}
		}
	}
}
.gobuy {
	width: 88%;
	height: 88rpx;
	line-height: 88rpx;
	text-align: center;
	background-color: #3b82fc;
	box-shadow: 0rpx 8rpx 20rpx 0rpx 
		rgba(59, 130, 252, 0.31);
	border-radius: 10rpx;
	margin: 0 auto;
	margin-top: 40rpx;
	font-size: 36rpx;
	color: #ffffff;
	margin-bottom: 116rpx;
}
</style>
