<template>
	<view class="EditAccount">
		<navigator url="../EditPhone/EditPhone" hover-class="none">
			<view>
				<text>修改手机号</text>
				<text class="iconfont">&#xe7d9;</text>
			</view>
		</navigator>
		<navigator url="../EditPwd/EditPwd">
			<view style="border: none;">
				<text>修改密码</text>
				<text class="iconfont">&#xe7d9;</text>
			</view>
		</navigator>
	</view>
</template>

<script>

	export default {

        components: {

        },
        data() {
            return {

            }
        },
        computed: {

        },
        watch: {

        },
        onLoad() {

        },
        onReady() {

        },
        methods: {

        }

    }
</script>

<style lang="scss">
	page {
		background-color: #f3f5f8;
	}
	.EditAccount {
		background-color: #fff;
		padding: 0 35rpx;
		border-top: 20rpx solid #f3f5f8;
		view {
			width: 100%;
			height: 109rpx;
			line-height: 109rpx;
			border-bottom: 0.5rpx solid #e0e0e0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			text {
				font-size: 34rpx;
				&:first-child {
					color: #333333;
				}
				&:last-child {
					color: #999999;
				}
			}
		}
	}
</style>