<template>
	<view class="bill_detail">
		<view class="bg"></view>
		<view class="container">
			<view class="title flex">
				<view class="left">所属月份</view>
				<picker mode="date" value="2020-05" fields="month" @cancel="cencel" @change="bindPickerChange" @click="chooseDate">
					<view class="right flex">
						<text>{{Month}}</text>
						<view class="iconfont" :class="{ arrowTransform: !flag, arrowTransformReturn: flag }" src="arrow.png">&#xe68c;</view>
					</view>
				</picker>
			</view>
			<view class="box">
				<view class="h1">添加票据</view>
				<view class="item">
					<sunui-upimg
						@change="getImageInfo1"
						:upload_auto="true"
						ref="upimg1"
						:upload_count="4"
						:upload_img_wh="upload_img_wh"
						:coverColor="coverColor"
						:borderStyle="borderStyle"
					></sunui-upimg>
				</view>
			</view>
			<view class="box2">
				<view class="h1">结算方式</view>
				<view class="list flex">
					<view class="item2 flex" :class="activeClass == index ? 'active' : ''" v-for="(item, index) of type_list" :key="index" @click="getItem(item, index)">
						{{ item }}
					</view>
				</view>
			</view>
			<view class="textarea">
				<textarea value="" placeholder="请输入备注信息" placeholder-style="font-size: 24rpx; color: #999999;" :adjust-position="true" maxlength="100" @input="descInput" v-model="desc" />
				<view class="num">{{ remnant }}/100</view>
			</view>
		</view>
		<button class="upload-button">上 传</button>
	</view>
</template>

<script>
import sunUiUpimg from '@/components/sunui-upimg/sunui-upimg.vue';
export default {
	components: {
		'sunui-upimg': sunUiUpimg
	},
	data() {
		return {
			upload_img_wh: 'width:131rpx;height:131rpx;',
			coverColor: 'rgba(59,130,252,.2)',
			borderStyle: 'border: 4rpx dashed rgba(59,130,252,.2);border-radius: 10rpx;',
			type_list: ['银 行', '现 金', '其 他'],
			activeClass: 0,
			flag: false,
			Month: '2020-05',
			desc: '',
			remnant: 0
		};
	},
	computed: {},
	watch: {},
	onLoad() {},
	onReady() {},
	methods: {
		getItem(value, index) {
			this.activeClass = index;
		},
		getImageInfo1(e) {
			console.log('图片返回1：', e);
		},
		cencel() {
			this.flag = !this.flag;
		},
		bindPickerChange(e) {
			this.Month = e.target.value;
			this.flag = !this.flag;
		},
		chooseDate() {
			this.flag = !this.flag;
		},
		//备注字数限制
		descInput(e) {
			this.remnant = e.detail.value.length;
			console.log(this.remnant)
		}
	}
};
</script>

<style lang="scss">
.bg {
	height: 160rpx;
	background-color: #3b82fc;
}
.container {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	margin-top: -150rpx;
	background-color: #fff;
	box-shadow: 0rpx 4rpx 13rpx 0rpx rgba(59, 130, 252, 0.1);
	border-radius: 10rpx;
	.title {
		justify-content: space-between;
		align-items: center;
		height: 98rpx;
		line-height: 98rpx;
		background-color: #f3f9ff;
		padding: 0 35rpx;
		.left {
			font-size: 28rpx;
			color: #333333;
			font-weight: bold;
		}
		.right {
			align-items: center;
			justify-content: center;
			width: 186rpx;
			height: 59rpx;
			background-color: #ffffff;
			border-radius: 30rpx;
			text {
				font-size: 24rpx;
				color: #666666;
				&:last-child {
					margin-left: 12rpx;
				}
			}
			.arrowTransform {
				transition: 0.2s;
				transform-origin: center center;
				transform: rotateZ(0deg);
				margin-left: 6rpx;
				color: #333333;
				opacity: 0.4;
			}
			.arrowTransformReturn {
				transition: 0.2s;
				transform-origin: center center;
				transform: rotateZ(180deg);
				margin-left: 6rpx;
				color: #333333;
				opacity: 0.4;
			}
		}
	}
	.box {
		padding: 0 35rpx;
		.h1 {
			font-size: 32rpx;
			color: #333333;
			font-weight: bold;
			margin-top: 64rpx;
			margin-bottom: 57rpx;
		}
		.list {
			width: 100%;
			justify-content: space-between;
			.item {
				width: 131rpx;
				height: 131rpx;
				display: flex;
			}
		}
	}
	.box2 {
		padding: 0 35rpx;
		.h1 {
			font-size: 32rpx;
			color: #333333;
			font-weight: bold;
			margin-top: 64rpx;
			margin-bottom: 57rpx;
		}
		.list {
			justify-content: space-between;
			.item2 {
				width: 186rpx;
				height: 62rpx;
				align-items: center;
				justify-content: center;
				background-color: #f4f4f4;
				border-radius: 5rpx;
				color: #fff;
				font-size: 26rpx;
				color: #333333;
			}
			.item2.active {
				background-color: #e6f3ff;
				color: #3b82fc;
			}
		}
	}
	.textarea {
		padding: 35rpx;
		position: relative;
		textarea {
			padding: 0 23rpx;
			padding-top: 45rpx;
			font-size: 24rpx;
		}
		.num {
			position: absolute;
			right: 30rpx;
			bottom: 30rpx;
			font-size: 26rpx;
			color: #CCCCCC;
		}
	}
}
.upload-button {
	width: 80%;
	margin-top: 75rpx;
	height: 88rpx;
	background-color: #3b82fc;
	box-shadow: 0rpx 8rpx 20rpx 0rpx rgba(59, 130, 252, 0.31);
	border-radius: 10rpx;
	font-size: 34rpx;
	color: #fff;
}
</style>
