<template>
	<view class="CompanyDetails">
		<u-navbar :is-back="true" title="企业信息" :is-fixed="true" title-size="38" title-color="#000">
			<view class="navbar-right" slot="right"><view class="set-btn iconfont" @click="goEdit" :class="[Edit == '保存'? 'blueColor': '']">{{Edit}}</view></view>
		</u-navbar>
		<view class="Company_title">
			<view class="title">企业信息</view>
			<text class="iconfont edit" v-show="isEdit" @click="goEditDetail(1)">&#xe644;</text>
		</view>
		<view class="info">
			<view>
				<text class="left-text">公司名称</text>
				<text>北京慧思背书科技发展有限公司</text>
			</view>
			<view>
				<text class="left-text">行业（必填）</text>
				<text>会计</text>
			</view>
			<view>
				<text class="left-text">电话</text>
				<text>010-57268371</text>
			</view>
			<view>
				<text class="left-text">邮箱</text>
				<text>wangyandesjx@yeah.net</text>
			</view>
			<view>
				<text class="left-text">网址</text>
				<text>www.baidu.com</text>
			</view>
		</view>
		<view class="Company_info">
			<view class="company_profiles">
				<view class="Company_title">
					<view class="title">企业照片</view>
					<text class="iconfont edit" v-show="isEdit" @click="goEditDetail(2)">&#xe644;</text>
				</view>
				<view class="slideshow">
					<swiper next-margin="20px" circular style="height: 367rpx;">
						<swiper-item v-for="(item, index) in company_banner" :key="index">
							<view class="wrap"><image :src="item.image"></image></view>
						</swiper-item>
					</swiper>
				</view>
			</view>
			<view class="company_profiles">
				<view class="Company_title">
					<view class="title">企业简介</view>
					<text class="iconfont edit" v-show="isEdit" @click="goEditDetail(3)">&#xe644;</text>
				</view>
				<view class="content">
					北京慧思背书科技发展有限公司zd是2017-01-04在北京市通州区注册成立的有限责任公司(自然人投资或控股)，注册地址位于北京市通州区龙旺庄路路西京客隆4层(北京金朝宾
				</view>
			</view>
			<view class="company_profiles" style="margin-top: 69rpx;margin-bottom: 100rpx;">
				<view class="Company_title">
					<view class="title">企业地址</view>
					<text class="iconfont edit" v-show="isEdit" @click="goEditDetail(4)">&#xe644;</text>
				</view>
				<view class="content">北京市通州区通州北关世界侨商中心7-1-1203</view>
			</view>
		</view>
	</view>
</template>

<script>
export default {
	components: {},
	data() {
		return {
			company_banner: [
				{
					image: '../../static/images/CompanyDetails/1.jpg',
					title: '蒹葭苍苍，白露为霜。所谓伊人，在水一方'
				},
				{
					image: '../../static/images/CompanyDetails/2.jpg',
					title: '溯洄从之，道阻且长。溯游从之，宛在水中央'
				},
				{
					image: '../../static/images/CompanyDetails/3.jpg',
					title: '蒹葭萋萋，白露未晞。所谓伊人，在水之湄'
				}
			],
			Edit: '编辑',
			isEdit: false //是否显示编辑
		};
	},
	computed: {},
	watch: {},
	onLoad() {},
	onReady() {},
	methods: {
		goEdit() {
			this.Edit = this.Edit == '编辑' ? '保存' : '编辑';
			if(this.Edit == '保存') {
				this.isEdit = true;
			}else {
				this.isEdit = false;
			}
		},
		// 编辑详情
		goEditDetail(type) {
			if(type == 1) {
				uni.navigateTo({
					url: '/pages/company_info/company_info'
				})
			}else if(type == 2) {
				uni.navigateTo({
					url: '/pages/company_photo/company_photo'
				})
			}else if(type == 3) {
				uni.navigateTo({
					url: '/pages/enterprise_profile/enterprise_profile'
				})
			}else {
				uni.navigateTo({
					url: '/pages/company_Address/company_Address'
				})
			}
		}
	}
};
</script>

<style lang="scss">
page {
	background-color: #f3f5f8;
}
.set-btn {
	font-size: 28rpx;
	color:#999;
	margin-right: 35rpx;
}
.blueColor {
	color: #3b82fc;
}
.Company_title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 36rpx;
	.title {
		font-size: 38rpx;
		color: #282828;
		font-weight: bold;
	}
	.edit {
		font-size: 38rpx;
		color: #3b82fc;
	}
}
.CompanyDetails {
	background-color: #fff;
	border-top: 20rpx solid #f3f5f8;
	padding: 70rpx 0;
	.info {
		padding: 0 36rpx;
		padding-bottom: 63rpx;
		line-height: 70rpx;
		font-size: 28rpx;
		margin-top: 31rpx;
		border-bottom: 20rpx solid #f3f5f8;
		view {
			display: flex;
			justify-content: space-between;
			.left-text {
				display: block;
				width: 169rpx;
				color: #999999;
				margin-right: 70rpx;
			}
			text {
				&:last-child {
					display: block;
					color: #333333;
					flex: 1;
				}
			}
		}
	}
	.Company_info {
		padding-top: 69rpx;
		.slideshow {
			padding: 0 36rpx;
			padding-right: 0;
			margin-top: 49rpx;
			margin-bottom: 62rpx;
			.wrap {
				width: 652rpx;
				height: 367rpx;
				border-radius: 20rpx;
				background-color: #dbdbdb;
				image {
					width: 100%;
					height: 100%;
					border-radius: 10rpx;
					box-sizing: border-box;
				}
			}
		}
	}
	.content {
		font-size: 28rpx;
		line-height: 38rpx;
		color: #666666;
		padding: 0 36rpx;
		margin-top: 27rpx;
	}
}
</style>
