<template>
	<view class="my">
		<u-navbar :is-back="false" title="" :is-fixed="true" title-color="#ffffff" title-size="38" :background="TopNavBackground">
			<view class="navbar-right" slot="right">
				<view class="set iconfont" @click="set">&#xe64d;</view>
				<view class="chat iconfont" @click="goMessage">
					&#xe61f;
					<uni-badge :text="badgeNum" :style="{ right: right }" class="badge" size="small"></uni-badge>
				</view>
			</view>
		</u-navbar>
		<view class="banner">
			<view class="userInfo">
				<image class="avatar" src="../../static/images/chat/1.jpg"></image>
				<view class="box">
					<text>北京慧思背书科技发展有限公司</text>
					<image class="certification" src="../../static/images/my/notcert.png"></image>
				</view>
			</view>
		</view>
		<view class="Perfect_information" @click="CompanyDetails">
			<view class="box">
				<text class="iconfont">&#xe622;</text>
				<text>企业信息待完善</text>
			</view>
			<view class="right_btn">
				<text>去完善</text>
				<text class="iconfont">&#xe7d9;</text>
			</view>
		</view>
		<view class="nav_menu">
			<view @click="clickItem(1)">
				<image src="../../static/images/my/1.png" mode=""></image>
				<text>我的会计</text>
			</view>
			<view @click="clickItem(2)">
				<image src="../../static/images/my/2.png" mode=""></image>
				<text>我的订单</text>
			</view>
			<view @click="clickItem(3)">
				<image src="../../static/images/my/3.png" mode=""></image>
				<text>企业认证</text>
			</view>
		</view>
		<view class="nav_list">
			<view class="item" @click="menuNav(1)">
				<view class="left">
					<text class="iconfont">&#xe627;</text>
					<text>上传票据</text>
				</view>
				<text class="iconfont right-ico">&#xe7d9;</text>
			</view>
			<view class="item" @click="menuNav(2)">
				<view class="left">
					<text class="iconfont">&#xe61b;</text>
					<text>我有建议</text>
				</view>
				<text class="iconfont right-ico">&#xe7d9;</text>
			</view>
			<view class="item" style="border: none;" @click="menuNav(3)">
				<view class="left">
					<text class="iconfont">&#xe632;</text>
					<text>在线客服</text>
				</view>
				<text class="iconfont right-ico">&#xe7d9;</text>
			</view>
		</view>
	</view>
</template>

<script>
export default {
	components: {},
	data() {
		return {
			src: 'http://pic2.sc.chinaz.com/Files/pic/pic9/202002/hpic2119_s.jpg',
			avatar: 'https://cdn.uviewui.com/uview/common/logo.png',
			TopNavBackground: {
				background: '#3b82fc' //顶部导航栏背景颜色
			},
			badgeNum: 1, //信息数字角标
			right: '-15rpx' //信息角标距离聊天图标的位置
		};
	},
	computed: {},
	watch: {},
	onLoad() {},
	onTabItemTap() {
		console.log("3")
	},
	methods: {
		goMessage() {
			uni.navigateTo({
				url: '/pages/MyMessage/MyMessage'
			});
		},
		set() {
			uni.navigateTo({
				url: '/pages/set/set'
			});
		},
		clickItem(type) {
			if (type == 1) {
				let friend = JSON.stringify({ uuid: '3bb179af-bcc5-4fe0-9dac-c05688484649', name: '2', avatar: '../../static/images/chat/2.jpg', online: false, unReadMessage: 0 });
				console.log(friend);
				uni.navigateTo({
					url: `/pages/Chatroom/ChatRoom?friend=${friend}`
				});
			}else if(type == 2) {
				uni.navigateTo({
					url: '/pages/MyOrder/MyOrder'
				})
			}else {
				uni.navigateTo({
					url: '/pages/uploads/uploads'
				})
			}
		},
		CompanyDetails() {
			uni.navigateTo({
				url: '/pages/CompanyDetails/CompanyDetails'
			})
		},
		menuNav(num) {
			if(num == 1) {
				uni.navigateTo({
					url: '/pages/upload_bill/upload_bill'
				})
			}else if(num == 2) {
				uni.navigateTo({
					url: '/pages/Feedback/Feedback'
				})
			}else if(num == 3) {
				uni.navigateTo({
					url: '/pages/service/service'
				})
			}
		}
	}
};
</script>

<style lang="scss">
page {
	background-color: #f0f2f5;
}
.navbar-right {
	display: flex;
	.set {
		font-size: 38rpx;
		color: #ffffff;
		margin-top: 10rpx;
	}
	.chat {
		font-size: 50rpx;
		margin-right: 54rpx;
		flex-shrink: 0;
		color: #ffffff;
		position: relative;
		margin-left: 19rpx;
		.badge {
			background-color: #ff5d16;
			color: #ffffff;
			position: absolute;
			right: -23rpx;
			top: -12rpx;
		}
	}
}
.banner {
	height: 400rpx;
	background-color: #3b82fc;
	padding: 0 56rpx;
	padding-top: 54rpx;
	.userInfo {
		display: flex;
		align-items: center;
		.avatar {
			width: 118rpx;
			height: 118rpx;
			border-radius: 50%;
		}
		.box {
			display: flex;
			flex-direction: column;
			margin-left: 45rpx;
			text {
				font-size: 32rpx;
				color: #ffffff;
				font-weight: bold;
			}
			.certification {
				width: 118rpx;
				height: 36rpx;
				margin-top: 25rpx;
			}
		}
	}
}
.Perfect_information {
	width: 90%;
	margin: 0 auto;
	border-top-left-radius: 20rpx;
	border-top-right-radius: 20rpx;
	background-color: #313542;
	box-shadow: 0rpx 5rpx 22rpx 2rpx rgba(144, 159, 175, 0.07);
	color: #c4cad8;
	font-size: 26rpx;
	margin-top: -150rpx;
	padding: 35rpx 38rpx;
	display: flex;
	justify-content: space-between;
	.box {
		.iconfont {
			font-size: 22rpx;
			margin-right: 31rpx;
		}
	}

	.right_btn {
		display: flex;
		justify-content: center;
		width: 133rpx;
		height: 42rpx;
		line-height: 42rpx;
		color: #313542;
		background-image: linear-gradient(90deg, #faefd8 0%, #fbe1b0 100%), linear-gradient(#cad1df, #cad1df);
		background-blend-mode: normal, normal;
		border-radius: 21rpx;
		font-size: 20rpx;
		.iconfont {
			font-size: 13rpx;
			color: #313542;
			opacity: 0.5;
			margin-left: 10rpx;
		}
	}
}
.nav_menu {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 275rpx;
	background-color: #fff;
	border-top-left-radius: 25rpx;
	border-top-right-radius: 25rpx;
	view {
		display: flex;
		flex-flow: column;
		align-items: center;
		image {
			width: 90rpx;
			height: 90rpx;
		}
		text {
			font-size: 24rpx;
			color: #666666;
			margin-top: 33rpx;
		}
	}
}
.nav_list {
	padding: 0 56rpx;
	background-color: #fff;
	margin-top: 20rpx;
	.item {
		height: 155rpx;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 0.5rpx solid #eaeaea;
		.left {
			display: flex;
			text {
				&:first-child {
					font-size: 35rpx;
					color: #666666;
					margin-right: 39rpx;
				}
				&:last-child {
					font-size: 28rpx;
					color: #333333;
					font-weight: bold;
				}
			}
		}
		.right-ico {
			font-size: 18rpx;
			color: #999999;
		}
	}
}
</style>
