<template>
	<view class="New_information">
		<view class="content">
			<text>新消息通知</text>
			<switch checked="true" @change="" color="#ff5d16" />
		</view>
	</view>
</template>

<script>

	export default {

        components: {

        },
        data() {
            return {

            }
        },
        computed: {

        },
        watch: {

        },
        onLoad() {

        },
        onReady() {

        },
        methods: {

        }

    }
</script>

<style lang="scss">
	page {
		background-color: #f3f5f8;
	}
	.New_information {
		overflow: hidden;
		.content {
			margin-top: 32rpx;
			background-color: #fff;
			padding: 33rpx 35rpx;
			display: flex;
			justify-content: space-between;
		}
	}

</style>