<template>
	<view class="InvitationMessage">
		<view class="time">09:12</view>
		<view class="flex">
			<image src="../../static/images/chat/1.jpg"></image>
			<view>
				<text>李会计接受了你的请求，现在</text>
				<text @click="gopay">去付款 {{">"}}</text>
			</view>
		</view>
	</view>
</template>

<script>
export default {
	components: {},
	data() {
		return {};
	},
	computed: {},
	watch: {},
	onLoad() {},
	onReady() {},
	methods: {
		gopay() {
			uni.navigateTo({
				url: '/pages/unpaid_order/unpaid_order'
			})
		}
	}
};
</script>

<style lang="scss">
page {
	background-color: #f3f5f8;
}
.InvitationMessage {
	padding: 20rpx 27rpx;
	.time {
		text-align: center;
		font-size: 26rpx;
		color: #999999;
		margin: 50rpx 0;
	}
	.flex {
		display: flex;
		align-items: center;
		image {
			width: 79rpx;
			height: 79rpx;
			border-radius: 50%;
			flex-shrink: 0;
			margin-right: 49rpx;
		}
		view {
			padding: 0 39rpx;
			line-height: 107rpx;
			height: 107rpx;
			background-color: #ffffff;
			box-shadow: 0rpx 5rpx 22rpx 2rpx rgba(144, 159, 175, 0.07);
			border-radius: 25rpx;
			background-color: #fff;
			font-size: 26rpx;
			color: #666666;
			text {
				&:last-child {
					color: #2585df;
				}
			}
		}
	}
}
</style>
