<template>
	<view class="pay_order">
		<view class="top">
			<view class="Remaining_Time">
				<text class="time-text">支付剩余时间</text>
				<u-count-down :timestamp="timestamp" :show-days="false" color="#999999" separator-color="#999999"></u-count-down>
			</view>
			<view class="price">4000</view>
		</view>
		<view class="select_pay">
			<radio-group @change="radioChange">
				<label for="abc">
					<view class="item">
						<view class="left">
							<text class="iconfont wx-ico">&#xe60c;</text>
							<text class="wx">微信支付</text>
						</view>
						<view class="right"><radio class="radio" id="abc" value="1" :checked="bianhao === '1'" color="#3b82fc" @click="radio('1')"></radio></view>
					</view>
				</label>
				<label for="qwe">
					<view class="item" style="border-bottom: none;">
						<view class="left">
							<text class="iconfont zfb-ico">&#xe611;</text>
							<text class="zfb">支付宝支付</text>
						</view>
						<view class="right"><radio class="radio" id="qwe" value="2" :checked="bianhao === '2'" color="#3b82fc" @click="radio('2')"></radio></view>
					</view>
				</label>

			</radio-group>
		</view>
		<button type="default" @click="gopay">确认支付</button>
	</view>
</template>

<script>
export default {
	components: {},
	data() {
		return {
			timestamp: 86400,
			bianhao: '1',
			checkboxItems: [
				{
					name: 'USA',
					value: '美国'
				},
				{
					name: 'CHN',
					value: '中国',
					checked: 'true'
				}
			],
			radioItems: [
				{
					name: 'USA',
					value: '美国'
				},
				{
					name: 'CHN',
					value: '中国',
					checked: 'true'
				}
			],
			hidden: false
		};
	},
	computed: {},
	watch: {},
	onLoad() {

	},
	onReady() {},
	methods: {
		radio(e) {
			
			console.log(e);
		},
		gopay() {
			console.log(this.bianhao);
			this.$showModal({
				title: '支付成功',
				concent:'¥ 4000',
				delCancel: true,
			}).then(res=>{
			console.log(res);
			//确认
			}).catch(res=>{
			//取消
			console.log(res);
			})
		},
		radioChange(e) {
			this.bianhao = e.detail.value;
		}
	}
};
</script>

<style lang="scss">
page {
	background-color: #f3f5f8;
}
.pay_order {
	overflow: hidden;
	.top {
		background-color: #fff;
		display: flex;
		flex-flow: column;
		align-items: center;
		padding-bottom: 68rpx;
		.Remaining_Time {
			font-size: 28rpx;
			color: #999999;
			margin-top: 54rpx;
			.time-text {
				margin-right: 10rpx;
			}
		}
		.price {
			margin-top: 48rpx;
			font-size: 72rpx;
			color: #333333;
			&::before {
				content: '¥';
				font-size: 48rpx;
				margin-right: 20rpx;
			}
		}
	}
	.select_pay {
		padding: 0 56rpx;
		background-color: #fff;
		margin-top: 20rpx;
		.item {
			padding: 38rpx 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 0.5rpx solid #e6e6e6;
			.left {
				display: flex;
				align-items: center;
				.iconfont {
					margin-right: 41rpx;
					font-size: 37rpx;
				}
				.wx,
				.zfb {
					font-size: 32rpx;
					color: #333333;
				}
				.wx-ico {
					color: #07b906;
				}
				.zfb-ico {
					color: #1296db;
				}
			}
			.right {
			}
		}
	}
	button {
		width: 638rpx;
		height: 88rpx;
		background-color: #3b82fc;
		box-shadow: 0rpx 8rpx 20rpx 0rpx rgba(59, 130, 252, 0.31);
		border-radius: 10rpx;
		font-size: 36rpx;
		color: #ffffff;
		position: absolute;
		bottom: 117rpx;
		left: 50%;
		transform: translateX(-50%);
	}
}
</style>
