<template>
	<view @click="close" class="mask flex" @touchstart.stop.prevent="notouch">
		<view class="content" v-show="isShow == 1">
			<text class="title">公司类型</text>
			<text style="margin-top: 43rpx;color: #666;font-size: 36rpx;margin-bottom: 53rpx;">1、您的公司纳税类型是？</text>
			<view class="choose-box flex" :class="activeClass == index ? 'active' : 'default'" v-for="(item, index) of type_list" :key="index" @touchstart.stop.prevent="getItem(item, index, 1)">
				<text v-html="activeClass == index ? '&#xe684;' : '&#xe629;'" :class="activeClass == index ? 'colorIco' : 'nocolorIco'" class="iconfont"></text>
				<text style="margin-left: 31rpx;">{{item}}</text>
			</view>
		</view>
		<view class="content" v-show="isShow==2">
			<text style="margin-top: 43rpx;color: #666;font-size: 36rpx;margin-bottom: 53rpx;">2、每个月产生的发票数量？</text>
			<view class="choose-box flex" :class="activeClass == index ? 'active' : 'default'" v-for="(item, index) of type_list2" :key="index" @touchstart.stop.prevent="getItem(item, index, 2)">
				<text v-html="activeClass == index ? '&#xe684;' : '&#xe629;'" :class="activeClass == index ? 'colorIco' : 'nocolorIco'" class="iconfont"></text>
				<text style="margin-left: 31rpx;">{{item}}</text>
			</view>
		</view>
		<view class="content" v-show="isShow==3">
			<text style="margin-top: 43rpx;color: #666;font-size: 36rpx;margin-bottom: 53rpx;">3、是否需要税控托管？100元/月</text>
			<view class="choose-box flex" :class="activeClass == index ? 'active' : 'default'" v-for="(item, index) of type_list3" :key="index" @touchstart.stop.prevent="getItem(item, index, 3)">
				<text v-html="activeClass == index ? '&#xe684;' : '&#xe629;'" :class="activeClass == index ? 'colorIco' : 'nocolorIco'" class="iconfont"></text>
				<text style="margin-left: 31rpx;">{{item}}</text>
			</view>
		</view>
		<view class="content" v-show="isShow==4">
			<view class="top">预估代理记账费用：<text>3600</text>元/年  </view>
			<view class="bottom">
				<view class="cancel">取 消</view>
				<view class="confirm">立即沟通</view>
			</view>
		</view>
	</view>
</template>


<script>
	export default {
		data() {
			return {
				type_list: ['一般纳税人', '非一般纳税人'],
				type_list2: ['0-10张', '11-20张', '20张以上'],
				type_list3: ['需要', '不需要'],
				activeClass: -1,
				isShow: 1,
			}
		},
		methods: {
			onClick(e) {
				uni.showToast({
					title: "点击蒙层关闭"
				})
				// #ifdef APP-NVUE
				e.stopPropagation()
				// #endif
				
			},
			close() {
				uni.navigateBack()
			},
			notouch() {
				return;
			},
			getItem(value, index, type) {
				this.activeClass = index;
				if(type == 1) {
					this.isShow = 2;
					this.activeClass = -1;
				}else if(type == 2) {
					this.isShow = 3;
					this.activeClass = -1;
				}else if(type == 3) {
					this.isShow = 4;
					// uni.navigateTo({
					// 	url: '/pages/Chatroom/ChatRoom'
					// })
				}
				
			}
		}
	}
</script>

<style lang="scss">
	page {
		background: transparent;
	}

	.mask {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.4);
	}
	.content {
		width: 573rpx;
		background-color: #ffffff;
		box-shadow: 0rpx -5rpx 11rpx 1rpx 
			rgba(126, 126, 126, 0.12);
		border-radius: 30rpx;
		padding: 54rpx;
		display: flex;
		flex-flow: column;

	}
	.title {
		font-size: 44rpx;
		color: #333333;
		font-weight: bold;
	}
	.choose-box {
		flex: 1;
		align-items: center;
		height: 80rpx;
		line-height: 80rpx;
		border-radius: 5rpx;
		padding-left: 29rpx;
		font-size: 26rpx;
		color: #333333;
		margin-bottom: 20rpx;
	}
	.default {
		background-color: #f9f9f9;
		color: #333333;
	}
	.active {
		background-color: #ecf2fe;
		color: #005cff;
	}
	.colorIco {
		color: #3b82fc;
	}
	.nocolorIco {
		color: #d0d0d0;
	}
	.top {
		font-size: 34rpx;
		color: #333333;
		font-weight: bold;
		margin-bottom: 65rpx;
		text {
			color: #ff5d16;
		}
	}
	.bottom {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.cancel {
			flex: 1;
			line-height: 80rpx;
			height: 80rpx;
			border-radius: 5rpx;
			font-size: 28rpx;
			color: #333333;
			background-color: #ecf2fe;
			margin-right: 34rpx;
			background-color: #f9f9f9;
			border: 0;
			text-align: center;
		}
		.confirm {
			flex: 1;
			line-height: 80rpx;
			height: 80rpx;
			border-radius: 5rpx;
			font-size: 28rpx;
			background-color: #ecf2fe;
			color: #005cff;
			text-align: center;
		}
	}
</style>
