<template>
	<view class="mask flex" @click="close">
		<view class="content">
			<view class="icon-box">
				<text class="iconfont">&#xe625;</text>
			</view>
			<view class="title">提醒！不要线下交易！</view>
			<view class="text">只有通过平台进行交易，平台才可以保障您的权益；因平台导致错报漏报问题，平台优先赔付！</view>
			<view class="more" @click.stop="goMore">点击了解更多 {{">"}}</view>
		</view>
	</view>
</template>


<script>
	export default {
		data() {
			return {

			}
		},
		methods: {
			notouch() {
				return;
			},
			goMore() {
				uni.navigateTo({
					url: '/pages/agreement/agreement'
				})
			},
			close() {
				uni.navigateBack()
			}
		}
	}
</script>

<style lang="scss">
	page {
		background: transparent;
	}

	.mask {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.4);
	}
	.content {
		width: 573rpx;
		background-color: #ffffff;
		box-shadow: 0rpx -5rpx 11rpx 1rpx 
			rgba(126, 126, 126, 0.12);
		border-radius: 30rpx;
		padding: 54rpx;
		display: flex;
		flex-flow: column;
		.icon-box {
			margin: 0 auto;
			width: 99rpx;
			height: 99rpx;
			line-height: 99rpx;
			border-radius: 50%;
			text-align: center;
			background-color: #ff5d16;
			text {
				font-size: 44rpx;
				color: #FFFFFF;
			}
		}
		.title {
			margin: 0 auto;
			margin-top: 44rpx;
			font-size: 34rpx;
			color: #ff5d16;
		}
		.text {
			width: 483rpx;
			margin: 0 auto;
			margin-top: 52rpx;
			font-size: 28rpx;
			letter-spacing: 0rpx;
			color: #666666;
		}
		.more {
			font-size: 28rpx;
			color: #333333;
			margin-top: 34rpx;
		}
	}
</style>
