<template>
	<view class="invoice">
		<u-navbar :is-back="true" title="开具发票" :is-fixed="true" title-color="#282828" title-size="38rpx">
			<view class="navbar-right" slot="right" style="font-weight: normal;" @click="record">开票记录</view>
		</u-navbar>
		<view class="list">
			<view class="item">
				<text class="left">发票抬头</text>
				<view class="right">
					<view v-for="(c, index) of cities" :key="index" @click="changeList(index)" class="flex">
						<text class="iconfont" :style="{ color: index == n ? '#3b82fc' : '#d0d0d0' }" v-html="index == n ? '&#xe684;' : '&#xe629;'"></text>
						<text class="text2">{{ c }}</text>
					</view>
				</view>
			</view>
			<block v-if="n == 0">
				<view class="item">
					<text class="left">发票类型</text>
					<view class="right">
						<view class="flex">
							<text class="iconfont" style="color: #3b82fc;" v-html="'&#xe684;'"></text>
							<text class="text2">增值税普通发票</text>
						</view>
					</view>
				</view>
				<view class="item">
					<text class="left require">个人名称</text>
					<view class="right"><input type="text" placeholder="填写收票人姓名" placeholder-style="font-size: 28rpx;color: #ccc;" :adjust-position="false" /></view>
				</view>
				<view class="item">
					<text class="left require">收票人手机</text>
					<view class="right"><input type="number" placeholder="填写收票人手机号" placeholder-style="font-size: 28rpx;color: #ccc;" :adjust-position="false" /></view>
				</view>
				<view class="item" style="border: none;">
					<text class="left require">收票人邮箱</text>
					<view class="right"><input type="text" placeholder="填写收票人邮箱" placeholder-style="font-size: 28rpx;color: #ccc;" :adjust-position="false" /></view>
				</view>
			</block>
			<block v-if="n == 1">
				<view class="item" style="padding: 22rpx 0 12rpx 0;height: auto;">
					<text class="left">发票类型</text>
					<view class="column">
						<view class="flex" v-for="(item, index) of type" :key="index" @click="changetype(index)">
							<text class="iconfont" :style="{ color: index == idx ? '#3b82fc' : '#d0d0d0' }" v-html="index == idx ? '&#xe684;' : '&#xe629;'"></text>
							<text class="text2">{{ item }}</text>
						</view>

					</view>
				</view>
				<view class="item">
					<text class="left require">税号</text>
					<view class="right"><input type="number" placeholder="填写纳税人识别号" placeholder-style="font-size: 28rpx;color: #ccc;" :adjust-position="false" /></view>
				</view>
				<view class="item">
					<text class="left">注册地址</text>
					<view class="right"><input type="text" placeholder="填写注册地址(非必填)" placeholder-style="font-size: 28rpx;color: #ccc;" :adjust-position="false" /></view>
				</view>
				<view class="item">
					<text class="left">注册电话</text>
					<view class="right"><input type="number" placeholder="填写注册电话(非必填)" placeholder-style="font-size: 28rpx;color: #ccc;" :adjust-position="false" /></view>
				</view>
				<view class="item">
					<text class="left">开户银行</text>
					<view class="right"><input type="text" placeholder="填写开户银行(非必填)" placeholder-style="font-size: 28rpx;color: #ccc;" :adjust-position="false" /></view>
				</view>
				<view class="item">
					<text class="left">银行卡号</text>
					<view class="right"><input type="number" placeholder="填写银行账号(非必填)" placeholder-style="font-size: 28rpx;color: #ccc;" :adjust-position="false" /></view>
				</view>
				<view class="item">
					<text class="left require">收票人手机</text>
					<view class="right"><input type="number" placeholder="填写收票人手机号" placeholder-style="font-size: 28rpx;color: #ccc;" :adjust-position="false" /></view>
				</view>
				<view class="item" style="border: none;">
					<text class="left require">收票人邮箱</text>
					<view class="right"><input type="text" placeholder="填写收票人邮箱" placeholder-style="font-size: 28rpx;color: #ccc;" :adjust-position="false" /></view>
				</view>
			</block>
		</view>
		<button class="submit">确认开票</button>
	</view>
</template>

<script>
export default {
	components: {},
	data() {
		return {
			cities: ['个人', '企业单位'],
			n: 0,
			type: ['增值税普通发票', '增值税专用发票'],
			idx: 0
		};
	},
	computed: {},
	watch: {},
	onLoad() {},
	onReady() {},
	methods: {
		changeList(index) {
			this.n = index; //this指向app
		},
		changetype(index) {
			this.idx = index;
		},
		record() {
			uni.navigateTo({
				url: '/pages/invoice_record/invoice_record'
			})
		}
	}
};
</script>

<style lang="scss">
	page {
		background-color: #f3f5f8;
	}
.navbar-right {
	font-size: 28rpx;
	color: #999999;
	margin-right: 24rpx;
}
.list {
	background-color: #fff;
	padding: 0 56rpx;
	margin-top: 20rpx;
	.item {
		height: 106rpx;
		line-height: 106rpx;
		display: flex;
		align-items: center;
		border-bottom: 0.5rpx solid #e6e6e6;
		.left {
			width: 175rpx;
			font-size: 30rpx;
			color: #666666;
		}
		.require {
			&::after {
				content: '*';
				color: #ff5d16;
				margin-left: 10rpx;
			}
		}
		.right {
			margin-left: 71rpx;
			display: flex;
			.flex {
				display: flex;
				margin-right: 42rpx;
				.iconfont {
					margin-left: 12rpx;
					font-size: 27rpx;
					color: #d0d0d0;
				}
				.text2 {
					font-size: 28rpx;
					color: #666666;
					margin-left: 22rpx;
				}
			}
		}
		.column {
			margin-left: 71rpx;
			display: flex;
			flex-direction: column;
			align-items: center;
			text {
				font-size: 28rpx;
				color: #666666;
			}
			.flex {
				display: flex;
				line-height: 0;
				height: 62rpx;
				line-height: 62rpx;
				.iconfont {
					margin-right: 22rpx;
				}
			}
		}
	}
}
.submit {
	width: 638rpx;
	height: 88rpx;
	line-height: 88rpx;
	text-align: center;
	background-color: #3b82fc;
	box-shadow: 0rpx 8rpx 20rpx 0rpx 
		rgba(59, 130, 252, 0.31);
	border-radius: 10rpx;
	font-size: 36rpx;
	color: #FFFFFF;
	margin-top: 50rpx;
}
</style>
