<template>
	<view class="MyMessage">
		<u-navbar :is-back="true" title="我的消息" :is-fixed="true" title-color="#282828" title-size="38">

		</u-navbar>
		<view class="MyMessage">
			<view class="tabs">
				<view :class="target == 0 ? 'active' : 'target'" @click="setIndex" data-index="0">服务通知</view>
				<view :class="target == 1 ? 'active' : 'target'" @click="setIndex" data-index="1">对话</view>
			</view>
				<hr-pull-load
					@refresh="refresh"
					@loadMore="loadMore"
					:height="windowHeight + 'px'"
					:pullHeight="50"
					:maxHeight="100"
					:lowerThreshold="100"
					:bottomTips="bottomTips"
					:isTab="false"
					ref="hrPullLoad"
					:isAllowPull="false"
					style="margin-top: 88rpx;"
					v-show="target == 0"
					:scrollTop="scrollTop"
				>
				<view class="list">
					<view class="item" @click="goInvite">
						<view class="left">
							<view class="image1">
								<text class="iconfont">&#xe606;</text>
								<view class="badge2"></view>
							</view>
							<view class="box">
								<view class="between">
									<text>消息提醒</text>
									<text class="time">今天 12:21</text>
								</view>
								<text>会计（李会计）接受了你的请求，查看详情 {{">"}}</text>
							</view>
						</view>
					</view>
					<tui-swipe-action :actions="item.actions" @click="handlerButton($event,index,item)" v-for="(item, index) in list" :key="index" :params="item" ref="tuiSwipeAction">
						<template v-slot:content>
							<view @click="goOrderdetail(item.id)" :class="[item.isTop ? 'item gray' : 'item']">
								<!-- 此层wrap在此为必写的，否则可能会出现标题定位错误 -->
								<view class="left">
									<view class="image1">
										<text class="iconfont">&#xe606;</text>
										<view class="badge2"></view>
									</view>
									<view class="box">
										<view class="between">
											<text>系统提醒</text>
											<text class="time">{{ item.time }}</text>
										</view>
										<text>{{ item.content }} {{ '>' }}</text>
									</view>
								</view>
							</view>
						</template>
					</tui-swipe-action>
				</view>
				</hr-pull-load>
				<hr-pull-load
					@refresh="refresh2"
					@loadMore="loadMore2"
					:height="windowHeight + 'px'"
					:pullHeight="50"
					:maxHeight="100"
					:lowerThreshold="100"
					:bottomTips="bottomTips"
					:isTab="false"
					ref="hrPullLoad"
					:isAllowPull="false"
					style="margin-top: 88rpx;"
					v-show="target == 1"
				>
				<view class="list">
					<tui-swipe-action :actions="friend.actions" @click="handlerButton2($event,friendUUID,friend)" v-for="(friend, friendUUID) in friends || []" :key="friendUUID" :params="friend" ref="tuiSwipeAction2">
						<template v-slot:content>
							<view class="item" @click="listTap(friendUUID)" :class="[friend.isTop ? 'item gray' : 'item']">
								<view class="left">
									<view class="user-item-avatar">
										<image :src="friend.avatar" class="image2" :class="friend.online ? '' : 'offline-gray'"></image>
										<view class="online-dot" v-if="friend.online">
											<view></view>
										</view>
									</view>
									<view class="box2">
										<view class="between">
											<text class="title">{{ friend.name }}</text>
											<text class="time" v-if="friend.timestamp">{{ $formatTime._getTimeStringAutoShort2(friend.timestamp, false) }}</text>
										</view>
										<view v-if="friend.unReadMessage > 0">
											<text class="NotRead">[未读]</text>
											<text>{{ friend.payload }}</text>
										</view>
										<view v-else>
											<text class="Read">[已读]</text>
											<text>{{ friend.payload }}</text>
										</view>
									</view>
								</view>
							</view>
						</template>
					</tui-swipe-action>
				</view>
			</hr-pull-load>
		</view>
		<u-back-top :scroll-top="scrollTop" @onScroll="gotop" top="600" v-show="target == 0"></u-back-top>
	</view>
</template>

<script>
import uniBadge from '@/components/uni-badge/uni-badge.vue';
import tabs from '@/components/tabs/tabs.vue';
import { mapState, mapMutations } from 'vuex';
import uBackTop from '../../components/u-back-top/u-back-top'
export default {
	components: {
		uniBadge,
		tabs,
		uBackTop
	},
	data() {
		return {
			// 当前样式
			target: 0,
			windowHeight: '',
			list: [],
			friends: null,
			currentUser: null,
			payload: '', //朋友发来的消息内容
			timestamp: '',
			friendMsg: {},
			bottomTips: '',
			currentPage: 1,
			scrollTop: 0
		};
	},
	computed: {},
	watch: {},
	onLoad() {
		var that = this;
		if (!that.imService.currentUser) {
			uni.reLaunch({
				url: '/pages/login/login'
			});
		}
		that.currentUser = that.imService.currentUser;
		that.friends = that.imService.friends;
		that.getExampleData(1);
		that.getExampleData2(1);
	},
	async onReady() {
		/* 获取设备窗口尺寸 */
		var that = this;
		let tabs = await that.$commonFun.getElSize('tabs');
		let navbar = await that.$commonFun.getElSize('u-navbar-inner');
		uni.getSystemInfo({
			success: res => {
				that.windowHeight = res.windowHeight - (tabs.height + navbar.height + res.statusBarHeight);
			}
		});
	},
	onShow() {
		var that = this;
		that.imService.onNewPrivateMessageReceive = (friendId, message) => {
			let friendName = ''
			for(let item in that.friends) {
				if(friendId == that.friends[item].uuid) {
					friendName = that.friends[item].name;
				}
			}
			//#ifdef APP-PLUS
			plus.push.createMessage(message.payload,'',{title: friendName});
			// #endif
			//震动
			uni.vibrateLong({
			    success: function () {
			        console.log('success');
			    }
			});
			for (let key in that.friends) {
				if (friendId == that.friends[key].uuid) {
					that.$set(that.friends[key], 'payload', message.payload);
					that.$set(that.friends[key], 'timestamp', message.timestamp);
				}
			}
		};
	},
	onUnload() {
		this.imService.disconnect();
	},
	methods: {
		gotop(e) {
			this.scrollTop = e
		},
		listenScroll(e) {
			this.scrollTop = e;
		},
		moveStop() {
			return;
		},
		/* 切换选项卡 */
		setIndex(e) {
			let index = e.currentTarget.dataset.index;
			this.target = index;
			this.$refs.tuiSwipeAction.map((item,index) => {
				return item.closeButtonGroup()
			})
			this.$refs.tuiSwipeAction2.map((item,index) => {
				return item.closeButtonGroup()
			})
		},
		/* 进入新消息设置 */
		goset() {
			uni.navigateTo({
				url: '/pages/New_information/New_information'
			});
		},
		/* 进入聊天室 */
		listTap(friendUUID) {
			let friend = JSON.stringify(this.friends[friendUUID]);
			uni.navigateTo({
				url: `/pages/Chatroom/ChatRoom?friend=${friend}`
			});
		},
		handlerButton(e,index,item) {
			if(e.index == 0) {
				this.$showModal({
					title: '提示',
					concent:'删除后将无法在列表中找到，确定删除？',
				}).then(res=>{
					//确认
					this.list.splice(index,1)
					if(this.list.length <= 7) {
						this.bottomTips = "nomore";
					}
				}).catch(res=>{
					//取消
				})
			}else {
				//置顶
				this.list.splice(index,1)
				this.list.unshift(item)
				item.isTop = true;
				item.actions[1].name = '取消置顶';
			}
		},
		handlerButton2(e,index,item) {
			if(e.index == 0) {
				this.$showModal({
					title: '提示',
					concent:'删除后将无法在列表中找到，确定删除？',
				}).then(res=>{
					//确认
					this.friends.splice(index,1)
					if(this.friends.length <= 7) {
						this.bottomTips = "nomore";
					}
				}).catch(res=>{
					//取消
				})
			}else {
				//置顶
				this.friends.splice(index,1)
				this.friends.unshift(item)
				item.isTop = true;
				item.actions[1].name = '取消置顶';
			}
		},
		goOrderdetail(id) {
			if(id == 1) {
				uni.navigateTo({
					url: '/pages/pay_order/pay_order'
				})
			}else if(id == 3) {
				uni.navigateTo({
					url: '/pages/RefundDetails/RefundDetails'
				})
			}
		},
		goInvite() {
			uni.navigateTo({
				url: '/pages/InvitationMessage/InvitationMessage'
			})
		},
		getExampleData(type) {
			/* type 1代表下拉刷新 2代表加载更多 */
			
				/* 接口获取到的数据 */
				let data = [
					{
						id: 1,
						content: '您有一个待支付订单，请尽快支付1',
						time: '12:21',
						isTop: false,
						actions: [{
							name: '删除',
							color: '#fff',
							fontsize: 30, //单位rpx
							width: 70, //单位px
							background: '#3b82fc'
						},
						{
							name: '置顶',
							width: 70,
							fontsize: 30,
							color: '#fff',
							background: '#C8C7CD'
						}]
					},
					{
						id: 3,
						content: '您有一条退款消息，查看详情2',
						time: '12:06',
						isTop: false,
						actions: [{
							name: '删除',
							color: '#fff',
							fontsize: 30, //单位rpx
							width: 70, //单位px
							background: '#3b82fc'
						},
						{
							name: '置顶',
							width: 70,
							fontsize: 30,
							color: '#fff',
							background: '#C8C7CD'
						}]
					},					{
						id: 1,
						content: '您有一个待支付订单，请尽快支付3',
						time: '12:21',
						isTop: false,
						actions: [{
							name: '删除',
							color: '#fff',
							fontsize: 30, //单位rpx
							width: 70, //单位px
							background: '#3b82fc'
						},
						{
							name: '置顶',
							width: 70,
							fontsize: 30,
							color: '#fff',
							background: '#C8C7CD'
						}]
					},
					{
						id: 3,
						content: '您有一条退款消息，查看详情4',
						time: '12:06',
						isTop: false,
						actions: [{
							name: '删除',
							color: '#fff',
							fontsize: 30, //单位rpx
							width: 70, //单位px
							background: '#3b82fc'
						},
						{
							name: '置顶',
							width: 70,
							fontsize: 30,
							color: '#fff',
							background: '#C8C7CD'
						}]
					},					{
						id: 1,
						content: '您有一个待支付订单，请尽快支付5',
						time: '12:21',
						isTop: false,
						actions: [{
							name: '删除',
							color: '#fff',
							fontsize: 30, //单位rpx
							width: 70, //单位px
							background: '#3b82fc'
						},
						{
							name: '置顶',
							width: 70,
							fontsize: 30,
							color: '#fff',
							background: '#C8C7CD'
						}]
					},
					{
						id: 3,
						content: '您有一条退款消息，查看详情6',
						time: '12:06',
						isTop: false,
						actions: [{
							name: '删除',
							color: '#fff',
							fontsize: 30, //单位rpx
							width: 70, //单位px
							background: '#3b82fc'
						},
						{
							name: '置顶',
							width: 70,
							fontsize: 30,
							color: '#fff',
							background: '#C8C7CD'
						}]
					},
					{
						id: 1,
						content: '您有一个待支付订单，请尽快支付7',
						time: '12:21',
						isTop: false,
						actions: [{
							name: '删除',
							color: '#fff',
							fontsize: 30, //单位rpx
							width: 70, //单位px
							background: '#3b82fc'
						},
						{
							name: '置顶',
							width: 70,
							fontsize: 30,
							color: '#fff',
							background: '#C8C7CD'
						}]
					},
					{
						id: 3,
						content: '您有一条退款消息，查看详情8',
						time: '12:06',
						isTop: false,
						actions: [{
						name: '删除',
						color: '#fff',
						fontsize: 30, //单位rpx
						width: 70, //单位px
						background: '#3b82fc'
					},
					{
						name: '置顶',
						width: 70,
						fontsize: 30,
						color: '#fff',
						background: '#C8C7CD'
					}]
					}
				];
				let actions = [
					{
						name: '删除',
						color: '#fff',
						fontsize: 30, //单位rpx
						width: 70, //单位px
						background: '#3b82fc'
					},
					{
						name: '置顶',
						width: 70,
						fontsize: 30,
						color: '#fff',
						background: '#C8C7CD'
					}
				];
				/* 拿到数据后的处理 */
				if (data.length > 0) {
					if (type == 1) {
						this.list = data;
					} else if (type == 2) {
						this.list = this.list.concat(data);
					}
					/* 这里的20是每次调用后台接口返回的最大数据条数，可以自定义 */
					if (this.list.length < 3) {
						this.bottomTips = 'nomore';
					} else {
						this.bottomTips = 'more';
					}
				} else {
					if (type == 1) {
						this.list = [];
					} else if (type == 2) {
						this.currentPage--;
					}
					this.bottomTips = 'nomore';
				}
				/* 这里300毫秒的延时，主要是为了优化视觉效果 */
				setTimeout(() => {
					this.$refs.hrPullLoad.reSet();
				}, 300);
		},
		//自定义上拉加载更多
		loadMore() {
			this.currentPage++;
			this.bottomTips = 'loading';
			setTimeout(() => {
				this.getExampleData(2);
			},500)
			
		},
		//自定义下拉刷新
		refresh() {
			this.currentPage = 1;
			setTimeout(() => {
				this.getExampleData(1);
			},500)
		},
		getExampleData2(type) {
			/* type 1代表下拉刷新 2代表加载更多 */
				/* 接口获取到的数据 */
				let data = [
					{
					    "id": "1",
					    "name": "1",
					    "password": "123",
					    "avatar": '../../static/images/chat/1.jpg',
						actions: [{
							name: '删除',
							color: '#fff',
							fontsize: 30, //单位rpx
							width: 70, //单位px
							background: '#3b82fc'
						},
						{
							name: '置顶',
							width: 70,
							fontsize: 30,
							color: '#fff',
							background: '#C8C7CD'
						}]
					},
					{
					    "id": "2",
					    "name": "2",
					    "password": "123",
					    "avatar": '../../static/images/chat/2.jpg',
						actions: [{
							name: '删除',
							color: '#fff',
							fontsize: 30, //单位rpx
							width: 70, //单位px
							background: '#3b82fc'
						},
						{
							name: '置顶',
							width: 70,
							fontsize: 30,
							color: '#fff',
							background: '#C8C7CD'
						}]
					},
					{
					    "id": "3",
					    "name": "3",
					    "password": "123",
					    "avatar": '../../static/images/chat/3.jpg',
						actions: [{
							name: '删除',
							color: '#fff',
							fontsize: 30, //单位rpx
							width: 70, //单位px
							background: '#3b82fc'
						},
						{
							name: '置顶',
							width: 70,
							fontsize: 30,
							color: '#fff',
							background: '#C8C7CD'
						}]
					},
					{
					    "id": "4",
					    "name": "4",
					    "password": "123",
					    "avatar": '../../static/images/chat/4.jpg',
						actions: [{
							name: '删除',
							color: '#fff',
							fontsize: 30, //单位rpx
							width: 70, //单位px
							background: '#3b82fc'
						},
						{
							name: '置顶',
							width: 70,
							fontsize: 30,
							color: '#fff',
							background: '#C8C7CD'
						}]
					},
					{
					    "id": "5",
					    "name": "5",
					    "password": "123",
					    "avatar": '../../static/images/chat/5.jpg',
						actions: [{
							name: '删除',
							color: '#fff',
							fontsize: 30, //单位rpx
							width: 70, //单位px
							background: '#3b82fc'
						},
						{
							name: '置顶',
							width: 70,
							fontsize: 30,
							color: '#fff',
							background: '#C8C7CD'
						}]
					},
					{
					    "id": "6",
					    "name": "6",
					    "password": "123",
					    "avatar": '../../static/images/chat/6.jpg',
						actions: [{
							name: '删除',
							color: '#fff',
							fontsize: 30, //单位rpx
							width: 70, //单位px
							background: '#3b82fc'
						},
						{
							name: '置顶',
							width: 70,
							fontsize: 30,
							color: '#fff',
							background: '#C8C7CD'
						}]
					},
					{
					    "id": "7",
					    "name": "7",
					    "password": "123",
					    "avatar": '../../static/images/chat/7.jpg',
						actions: [{
							name: '删除',
							color: '#fff',
							fontsize: 30, //单位rpx
							width: 70, //单位px
							background: '#3b82fc'
						},
						{
							name: '置顶',
							width: 70,
							fontsize: 30,
							color: '#fff',
							background: '#C8C7CD'
						}]
					},
					{
					    "id": "8",
					    "name": "8",
					    "password": "123",
					    "avatar": '../../static/images/chat/8.jpg',
						actions: [{
							name: '删除',
							color: '#fff',
							fontsize: 30, //单位rpx
							width: 70, //单位px
							background: '#3b82fc'
						},
						{
							name: '置顶',
							width: 70,
							fontsize: 30,
							color: '#fff',
							background: '#C8C7CD'
						}]
					},
					{
					    "id": "9",
					    "name": "9",
					    "password": "123",
					    "avatar": '../../static/images/chat/9.jpg',
						actions: [{
							name: '删除',
							color: '#fff',
							fontsize: 30, //单位rpx
							width: 70, //单位px
							background: '#3b82fc'
						},
						{
							name: '置顶',
							width: 70,
							fontsize: 30,
							color: '#fff',
							background: '#C8C7CD'
						}]
					},
					{
					    "id": "10",
					    "name": "10",
					    "password": "123",
					    "avatar": '../../static/images/chat/10.jpg',
						actions: [{
							name: '删除',
							color: '#fff',
							fontsize: 30, //单位rpx
							width: 70, //单位px
							background: '#3b82fc'
						},
						{
							name: '置顶',
							width: 70,
							fontsize: 30,
							color: '#fff',
							background: '#C8C7CD'
						}]
					},
					{
					    "id": "11",
					    "name": "11",
					    "password": "123",
					    "avatar": '../../static/images/chat/11.jpg',
						actions: [{
							name: '删除',
							color: '#fff',
							fontsize: 30, //单位rpx
							width: 70, //单位px
							background: '#3b82fc'
						},
						{
							name: '置顶',
							width: 70,
							fontsize: 30,
							color: '#fff',
							background: '#C8C7CD'
						}]
					},
					{
					    "id": "12",
					    "name": "12",
					    "password": "123",
					    "avatar": '../../static/images/chat/12.jpg',
						actions: [{
							name: '删除',
							color: '#fff',
							fontsize: 30, //单位rpx
							width: 70, //单位px
							background: '#3b82fc'
						},
						{
							name: '置顶',
							width: 70,
							fontsize: 30,
							color: '#fff',
							background: '#C8C7CD'
						}]
					},
					{
					    "id": "13",
					    "name": "13",
					    "password": "123",
					    "avatar": '../../static/images/chat/13.jpg',
						actions: [{
							name: '删除',
							color: '#fff',
							fontsize: 30, //单位rpx
							width: 70, //单位px
							background: '#3b82fc'
						},
						{
							name: '置顶',
							width: 70,
							fontsize: 30,
							color: '#fff',
							background: '#C8C7CD'
						}]
					},
					{
					    "id": "14",
					    "name": "14",
					    "password": "123",
					    "avatar": '../../static/images/chat/8.jpg',
						actions: [{
							name: '删除',
							color: '#fff',
							fontsize: 30, //单位rpx
							width: 70, //单位px
							background: '#3b82fc'
						},
						{
							name: '置顶',
							width: 70,
							fontsize: 30,
							color: '#fff',
							background: '#C8C7CD'
						}]
					},
					{
					    "id": "15",
					    "name": "15",
					    "password": "123",
					    "avatar": '../../static/images/chat/9.jpg',
						actions: [{
							name: '删除',
							color: '#fff',
							fontsize: 30, //单位rpx
							width: 70, //单位px
							background: '#3b82fc'
						},
						{
							name: '置顶',
							width: 70,
							fontsize: 30,
							color: '#fff',
							background: '#C8C7CD'
						}]
					},
					{
					    "id": "16",
					    "name": "16",
					    "password": "123",
					    "avatar": '../../static/images/chat/10.jpg',
						actions: [{
							name: '删除',
							color: '#fff',
							fontsize: 30, //单位rpx
							width: 70, //单位px
							background: '#3b82fc'
						},
						{
							name: '置顶',
							width: 70,
							fontsize: 30,
							color: '#fff',
							background: '#C8C7CD'
						}]
					},
					{
					    "id": "17",
					    "name": "17",
					    "password": "123",
					    "avatar": '../../static/images/chat/11.jpg',
						actions: [{
							name: '删除',
							color: '#fff',
							fontsize: 30, //单位rpx
							width: 70, //单位px
							background: '#3b82fc'
						},
						{
							name: '置顶',
							width: 70,
							fontsize: 30,
							color: '#fff',
							background: '#C8C7CD'
						}]
					},
					{
					    "id": "18",
					    "name": "18",
					    "password": "123",
					    "avatar": '../../static/images/chat/12.jpg',
						actions: [{
							name: '删除',
							color: '#fff',
							fontsize: 30, //单位rpx
							width: 70, //单位px
							background: '#3b82fc'
						},
						{
							name: '置顶',
							width: 70,
							fontsize: 30,
							color: '#fff',
							background: '#C8C7CD'
						}]
					},
					{
					    "id": "19",
					    "name": "19",
					    "password": "123",
					    "avatar": '../../static/images/chat/13.jpg',
						actions: [{
							name: '删除',
							color: '#fff',
							fontsize: 30, //单位rpx
							width: 70, //单位px
							background: '#3b82fc'
						},
						{
							name: '置顶',
							width: 70,
							fontsize: 30,
							color: '#fff',
							background: '#C8C7CD'
						}]
					}
				];
				
				/* 拿到数据后的处理 */
				if (data.length > 0) {
					if (type == 1) {
						this.friends = data;
					} else if (type == 2) {
						this.friends = this.friends.concat(data);
					}
					/* 这里的20是每次调用后台接口返回的最大数据条数，可以自定义 */
					if (this.friends.length < 3) {
						this.bottomTips = 'nomore';
					} else {
						this.bottomTips = 'more';
					}
				} else {
					if (type == 1) {
						this.friends = [];
					} else if (type == 2) {
						this.currentPage--;
					}
					this.bottomTips = 'nomore';
				}
				/* 这里300毫秒的延时，主要是为了优化视觉效果 */
				setTimeout(() => {
					this.$refs.hrPullLoad.reSet();
				}, 300);
		},
		//自定义上拉加载更多
		loadMore2() {
			this.currentPage++;
			this.bottomTips = 'loading';
			setTimeout(() => {
				this.getExampleData2(2);
			},500)
			
		},
		//自定义下拉刷新
		refresh2() {
			this.currentPage = 1;
			setTimeout(() => {
				this.getExampleData2(1);
			},500)
			
		}
	}
};
</script>

<style lang="scss">
page {
	background-color: #f3f5f8;
}
.MyMessage {
	overflow: hidden;
}
.set-btn {
	font-size: 40rpx;
	color: #282828;
}
.tabs {
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 25rpx 0;
	background-color: #fff;
	position: fixed;
	z-index: 9999999;
	.target {
		font-size: 30rpx;
		color: #333333;
	}
	.active {
		font-size: 30rpx;
		color: #3b82fc;
		position: relative;
		&::after {
			content: '';
			display: block;
			width: 20rpx;
			height: 6rpx;
			background-color: #3b82fc;
			border-radius: 3rpx;
			position: absolute;
			bottom: -25rpx;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.list {
	overflow: hidden;
	border-top: 11rpx solid #f3f5f8;
	.item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 37rpx;
		background-color: #fff;
		.left {
			flex: 1;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 37rpx 0;
			border-bottom: 1rpx solid rgba(204,204,204,.5);
			.user-item-avatar {
				width: 95rpx;
				height: 95rpx;
				flex-shrink: 0;
				position: relative;
				.image2 {
					width: 100%;
					height: 100%;
					background-color: #2585df;
					border-radius: 50%;
					flex-shrink: 0;
				}
				.offline-gray {
					-webkit-filter: grayscale(100%);
					-moz-filter: grayscale(100%);
					-ms-filter: grayscale(100%);
					-o-filter: grayscale(100%);
					filter: grayscale(100%);
					filter: gray;
				}
				
				.online-dot {
					background-color: #fff;
					position: absolute;
					padding: 5rpx;
					border-radius: 50%;
					right: 0;
					bottom: 0;
					border: 0.5rpx solid #09BB07;
					view {
						width: 15rpx;
						height: 15rpx;
						background-color: #09BB07;
						border-radius: 50%;
					}
				}
			}


			.image1 {
				width: 90rpx;
				height: 90rpx;
				line-height: 90rpx;
				text-align: center;
				font-size: 39rpx;
				color: #ffffff;
				background-color: #2585df;
				border-radius: 10rpx;
				flex-shrink: 0;
				position: relative;

				.badge {
					position: absolute;
					right: -20rpx;
					top: -15rpx;
					padding: 0;
					background-color: #ff5d16;
					z-index: 100;
				}

				.badge2 {
					width: 16rpx;
					height: 16rpx;
					border-radius: 50%;
					position: absolute;
					right: -6rpx;
					top: -6rpx;
					padding: 0;
					background-color: #ff5d16;
				}
			}

			.company_logo {
				width: 90rpx;
				height: 90rpx;
				background-color: #2585df;
				border-radius: 10rpx;
				flex-shrink: 0;
			}

			.box {
				height: 90rpx;
				margin-left: 30rpx;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				flex: 1;
				.between {
					display: flex;
					justify-content: space-between;
					.time {
						font-size: 24rpx;
						color: #666666;
					}
				}

				text {
					&:first-child {
						font-size: 30rpx;
						font-weight: bold;
						color: #333333;
						margin-right: 10rpx;
					}

					&:last-child {
						font-size: 24rpx;
						color: #666666;
					}
				}
			}

			.box2 {
				margin-left: 30rpx;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				flex: 1;

				.between {
					display: flex;
					justify-content: space-between;
					align-items: center;
					.title {
						font-size: 30rpx;
						line-height: 38rpx;
						color: #333333;
						font-weight: bold;
						margin-top: 4rpx;
					}

					.time {
						font-size: 24rpx;
						color: #666666;
					}
				}

				view {
					text {
						font-size: 24rpx;
						color: #666666;
					}
					.NotRead {
						color: #ff5d16;
						margin-right: 10rpx;
					}
					.Read {
						margin-right: 10rpx;
					}
				}
			}
			
		}
	}
	.gray {
		background-color: #F7F7F7;
	}
}
</style>
