<template name="uploadImg">
	<view class="flex">
		<view class="add" @click.stop.prevent="upload" v-if="isAdd" :style="borderStyle">
			<text class="iconfont cover" :style="coverColor">&#xe600;</text>

		</view>
		<view class="upload_box" :style="boxStyle" v-for="(item,index) in uploadList" :key="index" @click="previewImage(index)" v-else>
			<view class="box" v-if="isBorder"></view>
			<image class="cover" :src="cover" v-show="isShow"></image>
			<image :src="item" class="img"></image>
			<view class="delete iconfont" :style="deleteBtn" @click.stop.prevent="deleteImg(item,index)" v-show="showDelete">&#xe60b;</view>
		</view>

	</view>

</template>

<script>
import { pathToBase64, base64ToPath } from '../../common/image-tools/index.js';
export default {
	name: 'uploadImg',
	props: {
		/* 上传盒子样式 */
		boxStyle: {
			type: String,
			require: true,
			default: 'width: 142rpx;height: 142rpx;border-radius: 30rpx;'
		},
		/* 删除上传图片 */
		deleteBtn: {
			type: Object,
			require: true,
			default: () => {
				return {
					width: '34rpx',
					height: '34rpx',
					background: '#3b82fc',
					borderRadius: '50%',
					fontSize: '16rpx',
					display: 'flex',
					alignItems: 'center',
					fontWeight: 'bold',
					justifyContent: 'center',
					color: '#fff',
					position: 'absolute',
					right: '-10rpx',
					top: '-10rpx'
				};
			}
		},
		/* 相册边框 */
		borderStyle: {
			type: String,
			require: false
		},
		coverColor: {
			type: String,
			default: 'color: #3b82fc;'
		}
	},
	components: {
		pathToBase64,
		base64ToPath
	},
	data() {
		return {
			cover: '../../static/images/uploads/camera.png',
			isShow: true, //是否显示封面
			showDelete: false, //是否显示删除按钮
			imgurl: '',
			isBorder: true,
			uploadList: [],
			isAdd: true, //是否自增
		};
	},
	methods: {
		upload() {
			var that = this;
			uni.chooseImage({
				count: 1, //默认9
				sizeType: ['compressed'], //可以指定是原图还是压缩图，默认二者都有
				sourceType: ['camera'], //从相册选择
				success: (res) => {
					console.log(res)
					let imageArr = [];
					for(let i = 0; i < res.tempFilePaths.length; i++) {
						let path = res.tempFilePaths[i];
						imageArr.push(path);
						that.uploadList.push(path)
						pathToBase64(res.tempFilePaths[i])
						.then(base64 => {
							console.log(base64)
							
							// that.$emit('upload',that.imgurl)
							that.isShow = false;
							that.showDelete = true;
							that.isBorder = false;
							that.isAdd = false;
						})
						.catch(error => {
							console.error(error);
						});
					}
				}
			});
			
		},
		deleteImg(item,index) {
			uni.showModal({
				title: '提示',
				content: '确定删除吗？',
				success: (res) => {
					if (res.confirm) {
						this.uploadList[index] = '';
						this.uploadList.splice(index, 1)

						this.isAdd = true;
					} else if (res.cancel) {
						console.log('用户点击取消');
					}
				}
			});

		},
		previewImage(index) {
			if (!this.uploadList.length) return;
			uni.previewImage({
				current: this.uploadList[index],
				loop: true,
				urls: this.uploadList
			})
		}
	}
};
</script>

<style lang="scss" scoped>
.flex {
	display: flex;
	align-items: center;
}
.upload_box {
	position: relative;
	flex-shrink: 0;
	.box {
		position: absolute;
		width: 100%;
		height: 100%;
		border: 1rpx solid red;
		border-radius: 30rpx;
	}
	.cover {
		width: 57rpx;
		height: 54rpx;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
	.img {
		width: 100%;
		height: 100%;
		border-radius: inherit;
	}
	.delete {
		text-align: center;
	}
}
.add {
	width: 142rpx;
	height: 142rpx;
	border-radius: 30rpx;
	border: 0.5rpx solid red;
	flex-shrink: 0;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	.cover {
		font-size: 50rpx;
	}
}
</style>
