<template>
	<view class="Financial_status">
		<u-navbar :is-back="false" title="财税状况" :is-fixed="true" title-color="#ffffff" :title-size="36" :background="TopNavBackground">
			<view class="right" slot="right" @click="gochat">
				<view class="iconfont chat">&#xe61f;</view>
				<uni-badge text="9" type="error" style="margin-left: -25rpx; margin-top: 3rpx; background-color: #ff5d16;font-size: 25rpx;" size="small"></uni-badge>
			</view>
		</u-navbar>
		<view class="header">
			<picker mode="date" :value="currentDate" fields="month" @change="SelectDate" @click="clickDate" @cancel="cancel">
				<view class="flex">
					<view class="currentDate">{{ currentDate }}</view>
					<text class="iconfont down" :class="{ arrowTransform: flag, arrowTransformReturn: !flag }">&#xe68c;</text>
				</view>
			</picker>
			<view class="nav">
				<view>
					<text>收入</text>
					<text>900.00</text>
				</view>
				<view>
					<text>支出</text>
					<text>1900.00</text>
				</view>
				<view>
					<text>利润</text>
					<text>2900.00</text>
				</view>
			</view>
		</view>
		<view class="tabs">
			<view :class="target == 0 ? 'active' : 'tabTitle'" @click.stop="setIndex" data-index="0">财税情况</view>
			<view :class="target == 1 ? 'active' : 'tabTitle'" @click.stop="setIndex" data-index="1">财务报表</view>
		</view>
		<swiper class="tabSwiper" :duration="500" :current="thisindex" :data-index="thisindex" @change.stop="toggle" circular :style="{ height: windowHeight }">
			<swiper-item>
				<!-- 按顺序对应第一个的内容 -->
				<scroll-view scroll-y="true" :style="{ height: windowHeight }" :show-scrollbar="false">
					<view class="bg">
						<view class="tax_affairs">
							<view class="title">纳税情况</view>
							<view id="container"></view>
							<text class="mouth">{{mouth}}</text>
						</view>
						<view class="Financial_indicators">
							<view class="title">财务指标</view>
							<view class="s-page-wrapper">
								<view class="s-grids has-bg-white">
									<view class="is-grid is-col-8 is-a is-center" v-for="(nav, index) in Financial_indicators" :key="index">
										<view class="has-pd-20">
											<view class="is-size-14">
												<view style="color: #333333;">{{ nav['title'] }}</view>
												<view style="color: #999999;">{{ nav['price'] }}</view>
											</view>
										</view>
									</view>
								</view>
							</view>
						</view>
						<view class="Financial_early_warning">
							<view class="title">财务预警</view>
							<view class="item">
								<view class="h2">
									<text class="iconfont big">&#xe626;</text>
									<text>本年累计增值税税负率：0.3%</text>
								</view>
								<view class="content">增值税税负率=本年已交增值税/销售收入*100%。 您的税负率偏低，可能会被税务局列入重点监控对象。</view>
							</view>
							<view class="item">
								<view class="h2">
									<text class="iconfont">&#xe625;</text>
									<text>一般纳税人预警</text>
								</view>
								<view class="content">一般纳税人标准为5000000元，过去11个月的营业收入合计为3000000元，本年再新增收入2000000元，将达到一般纳税人标准。</view>
							</view>
							<view class="item">
								<view class="h2">
									<text class="iconfont">&#xe68b;</text>
									<text>印花税缴纳</text>
								</view>
								<view class="content">本年截止到当前日期还没有缴纳印花税记录，请勿漏缴</view>
							</view>
						</view>
					</view>

				</scroll-view>
			</swiper-item>
			<swiper-item style="background-color: #FFFFFF;">
				<!-- 按顺序对应第二个的内容 -->
				<scroll-view scroll-y="true" :style="{ height: windowHeight }" :show-scrollbar="false">
					<view class="relative">
						<ms-dropdown-menu><ms-dropdown-item v-model="value1" :list="list"></ms-dropdown-item></ms-dropdown-menu>
					</view>
					<view class="relative2">
						<view class="box">
							<text>项目名称</text>
							<text>期末余额</text>
							<text>年初余额</text>
						</view>
						<u-collapse>
							<u-collapse-item title="营业税附加金">
								<view class="padding">
									<view class="flex">
										<text>其中：消费税</text>
										<text>8000.00</text>
										<text>8000.00</text>
									</view>
									<view class="flex">
										<text>其中：消费税</text>
										<text>8000.00</text>
										<text>8000.00</text>
									</view>
									<view class="flex">
										<text>其中：消费税</text>
										<text>8000.00</text>
										<text>8000.00</text>
									</view>
									<view class="flex">
										<text>其中：消费税</text>
										<text>8000.00</text>
										<text>8000.00</text>
									</view>
								</view>
							</u-collapse-item>
						</u-collapse>
					</view>
				</scroll-view>
			</swiper-item>
		</swiper>
	</view>
</template>

<script>
import uniBadge from '@/components/uni-badge/uni-badge.vue';
import msDropdownMenu from '@/components/ms-dropdown/dropdown-menu.vue';
import msDropdownItem from '@/components/ms-dropdown/dropdown-item.vue';

export default {
	components: {
		uniBadge,
		msDropdownMenu,
		msDropdownItem
	},
	data() {
		return {
			TopNavBackground: {
				background: '#3b82fc' //顶部导航栏背景颜色
			},
			right: '-15rpx', //信息角标距离聊天图标的位置
			currentDate: this.$u.date(new Date().getTime(), 'yyyy/mm'),
			flag: false,
			// 当前样式
			target: 0,
			// 当前item位置
			thisindex: 0,
			windowHeight: '',
			Financial_indicators: [
				{
					title: '现金',
					price: '1000'
				},
				{
					title: '银行存款',
					price: '10000'
				},
				{
					title: '应收账款',
					price: '1000'
				},
				{
					title: '应付账款',
					price: '1000'
				},
				{
					title: '库存商品',
					price: '1000'
				},
				{
					title: '营业收入',
					price: '1000'
				},
				{
					title: '净利润',
					price: '1000'
				},
				{
					title: '毛利率',
					price: '1000'
				},
				{
					title: '净利率',
					price: '1000'
				}
			],
			border: true,
			list: [
				{
					text: '资产负债表',
					value: 0
				},
				{
					text: '利润表',
					value: 1
				}
			],
			value1: 0,
			value2: 1,
			mouth: '05月'
		};
	},
	computed: {},
	watch: {},
	onLoad() {

	},
	async onReady() {
		var that = this;
		let navbar = await that.$commonFun.getElSize('u-navbar-inner');
		let header = await that.$commonFun.getElSize('header');
		let tabs = await that.$commonFun.getElSize('tabs');
		uni.getSystemInfo({
			success: res => {
				console.log(res)
				that.windowHeight = res.windowHeight - header.height -res.statusBarHeight - navbar.height - tabs.height + 'px';
			}
		});
	},
	onPullDownRefresh() {
		setTimeout(function () {
			//重新请求的数据
			uni.stopPullDownRefresh();
		}, 1000);
	},
	methods: {
		gochat() {
			uni.navigateTo({
				url: '/pages/MyMessage/MyMessage'
			});
		},
		SelectDate(e) {
			this.flag = false;
			this.currentDate = e.detail.value.replace(/-/g, '/');
			this.mouth = this.currentDate.slice(5) + '月';
		},
		clickDate() {
			this.flag = true;
		},
		cancel() {
			this.flag = false;
		},
		// 切换触发的事件
		toggle(e) {
			let index = e.detail.current;
			this.target = index;
			this.thisindex = this.target;
		},
		// 点击nav控制下面的展示
		setIndex(e) {
			let index = e.currentTarget.dataset.index;
			this.thisindex = index;
		},
		choose() {
			let obj = {
				value: 'test'
			};
			this.$refs.dropdownItem.choose(obj);
		},
		close() {
			this.$refs.dropdownItem.closePopup();
		}
	}
};
</script>

<script module="f2" lang="renderjs">
	export default {
		mounted() {
			// renderjs 里可以自由操作 window 、dom等浏览器环境属性
			const container = document.getElementById('container')
			// 创建 html5 canvas DOM
			const canvas = document.createElement('canvas')
			// id 不可重复
			canvas.id = 'f2'
			container.appendChild(canvas)

			if (typeof window.F2 === 'function') {
				this.initF2()
			} else {
				// 动态引入较大类库避免影响页面展示
				const script = document.createElement('script')
				// view 层的页面运行在 www 根目录，其相对路径相对于 www 计算
				script.src = 'static/f2@3.6.0-alpha.5-all.min.js'
				script.onload = this.initF2.bind(this)
				document.head.appendChild(script)
			}
		},
		methods: {
			initF2() {
				// F2 对数据源格式的要求，仅仅是 JSON 数组，数组的每个元素是一个标准 JSON 对象。
				const data = [{
						genre: '增值税',
						sold: 9000
					},
					{
						genre: '所得税',
						sold: 6900
					},
					{
						genre: '城建税',
						sold: 12000
					},
					{
						genre: '教育费附加',
						sold: 5500
					},
					{
						genre: '个人所得税',
						sold: 5500
					},
					{
						genre: '其他税金',
						sold: 10000
					}
				];
				
				let System = uni.getSystemInfoSync();

				// Step 1: 创建 Chart 对象
				const chart = new F2.Chart({
					id: 'f2',
					width: System.windowWidth - 46,
					height: 235,
					pixelRatio: window.devicePixelRatio, // 指定分辨率
					appendPadding: [20,10,10,0]
				});
				// Step 2: 载入数据源
				chart.source(data,{genre:{min: 0, max: 15000}});

				// Step 3：创建图形语法，绘制柱状图，由 genre 和 sold 两个属性决定图形位置，genre 映射至 x 轴，sold 映射至 y 轴
				chart.interval().position('genre*sold').color('genre',[ '#4e4af9', '#52d0ff', '#24a0ff', '#00cec0', '#9d62ff', '#ffce55' ]);
				chart.legend({
					position: 'bottom',
					marker: 'square'
				})
				
				chart.axis('genre', {
					label: null, //不展示坐标轴标题
				})
				let max = data.reduce((a,b) => {
					return b.sold > a.sold ? b : a;
				})
				
				let array = JSON.parse(JSON.stringify(data));
				
				let ticks = array.map((item,index,arr) => {
					if(item.sold == max.sold) {
						arr[arr.length -1].sold = max.sold + 3000
					}
					return item.sold
				})

				chart.scale('sold', {
					type: 'linear',
					tickCount: 5,
					ticks: ticks
				})
				// Step 4: 渲染图表
				chart.render();
			}
		}
	}
</script>

<style lang="scss">
/* 九宫格布局的样式 */
@import '../../static/css/simplepro.css';
page {
	background-color: #fafafa;
}
.right {
	display: flex;
	margin-right: 25rpx;
	.chat {
		font-size: 50rpx;
		color: #FFFFFF;
	}
}
.Financial_status {
	overflow: hidden;
}
.header {
	padding: 0 55rpx;
	padding-top: 60rpx;
	background-color: #3b82fc;
	.flex {
		display: flex;
		align-items: center;
		.currentDate {
			font-size: 38rpx;
			color: #ffffff;
		}
		.down {
			font-size: 34rpx;
			color: #ffffff;
			margin-left: 20rpx;
		}
		.arrowTransform {
			transition: 0.2s;
			transform-origin: center;
			transform: rotateZ(180deg);
		}
		.arrowTransformReturn {
			transition: 0.2s;
			transform-origin: center;
			transform: rotateZ(0deg);
		}
	}
	.nav {
		display: flex;
		justify-content: space-around;
		margin-top: 48rpx;
		padding-bottom: 44rpx;
		view {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			text {
				&:first-child {
					font-size: 24rpx;
					color: #a9c9ff;
				}
				&:last-child {
					font-size: 34rpx;
					color: #ffffff;
					margin-top: 15rpx;
					font-weight: bold;
				}
			}
		}
	}
}
.tabs {
	width: 100%;
	height: 94rpx;
	line-height: 94rpx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	border-bottom: 0.5rpx solid #e7e7e7;
	.tabTitle {
		flex: 1;
		text-align: center;
		font-size: 32rpx;
		color: #333333;
		
	}
	.active {
		flex: 1;
		color: #3b82fc;
		font-size: 32rpx;
		text-align: center;
		position: relative;
		&::after {
			display: block;
			height: 4rpx;
			width: 100%;
			background-color: #3b82fc;
			position: absolute;
			bottom: 0;
			left: 0;
			content: '';
		}
	}
}
.tabSwiper {
	background-color: #f3f5f8;
	.bg {
		background-color: #fafafa;
		.tax_affairs {
			padding: 0 54rpx;
			padding-right: 0;
			padding-top: 34rpx;
			padding-bottom: 55rpx;
			background-color: #fff;
			.title {
				font-size: 28rpx;
				color: #333333;
				font-weight: bold;
			}
			.mouth {
				font-size: 24rpx;
				color: #666666;
				position: absolute;
				right: 58rpx;
				top: 36rpx;
			}
		}
		.Financial_indicators {
			margin-top: 18rpx;
			.title {
				height: 94rpx;
				line-height: 94rpx;
				padding-left: 53rpx;
				font-size: 28rpx;
				font-weight: bold;
				color: #333333;
				background-color: #fff;
			}
			.has-pd-20 {
				padding: 34rpx 87rpx 35rpx 47rpx !important;
			}
		}
		.Financial_early_warning {
			margin-top: 18rpx;
			padding: 0 53rpx;
			background-color: #fff;
			padding-top: 39rpx;
			padding-bottom: 60rpx;
			.title {
				font-size: 28rpx;
				color: #333333;
				font-weight: bold;
				margin-bottom: 33rpx;
			}
			.item {
				.h2 {
					display: flex;
					font-size: 24rpx;
					color: #666666;
					margin-top: 33rpx;
					.iconfont {
						font-size: 24rpx;
						background-color: #3b82fc;
						color: #ffffff;
						border-radius: 6rpx;
						display: block;
						width: 32rpx;
						height: 32rpx;
						text-align: center;
						line-height: 32rpx;
						margin-right: 20rpx;
					}
				}
				.content {
					font-size: 24rpx;
					color: #666666;
					margin-top: 28rpx;
				}
			}
		}
	}

	.box {
		padding: 0 35rpx;
		height: 70rpx;
		line-height: 70rpx;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 28rpx;
		color: #666666;
		border-top: 1rpx solid #e7e7e7;
		border-bottom: 0.5rpx solid #e7e7e7;
		background-color: #fafafa;
	}
	.u-collapse {
		background-color: #fff;
	}
	.uicon-arrow-down[data-v-2c24c4e1]:before {
		font-size: 24rpx !important;
	}
	.u-iconfont[data-v-2c24c4e1]::before {
		font-size: 24rpx !important;
	}
	.padding {
		padding-top: 20rpx;
		padding-bottom: 25rpx;
		.flex {
			height: 60rpx;
			line-height: 60rpx;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 36rpx;
			line-height: 58rpx;
			text {
				font-size: 28rpx;
				color: #666666;
				&:last-child {
					color: #3b82fc;
				}
			}
		}
	}
}
.relative {
	position: relative;
	z-index: 10000000;
}
.relative2 {
	position: relative;
	z-index: 100000;
}
</style>
