<template>
	<view class="company_photo">
		<view class="title">企业照片</view>
		<sunui-upimg @change="getImageInfo1" :upload_auto="true" ref="upimg1" :upload_count="4" :upload_img_wh="upload_img_wh" :coverColor="coverColor" :borderStyle="borderStyle"></sunui-upimg>
	</view>
</template>

<script>
import sunUiUpimg from '@/components/sunui-upimg/sunui-upimg.vue';
export default {
	components: {
		'sunui-upimg': sunUiUpimg
	},
	data() {
		return {
			upload_img_wh: 'width:142rpx;height:142rpx;',
			coverColor: 'rgba(59,130,252,.2)',
			borderStyle: 'border: 4rpx dashed rgba(59,130,252,.2);border-radius: 10rpx;'
		};
	},
	computed: {},
	watch: {},
	onLoad() {},
	onReady() {},
	methods: {
		getImageInfo1(e) {
			console.log('图片返回1：', e);
		}
	}
};
</script>

<style lang="scss">
	page {
		background-color: #fff;
	}
	.company_photo {
		padding: 0 36rpx;
		overflow: hidden;
		.title {
			font-size: 42rpx;
			color: #282828;
			font-weight: bold;
			margin-bottom: 61rpx;
			margin-top: 35rpx;
		}
	}
</style>
