<template>
	<view class="uploads">
		<view class="inner">
			<view class="ID_card">
				<view class="jobTime" style="margin: 39rpx 0;">
					<view class="df">
						<text class="iconfont">&#xe61e;</text>
						<text>法人身份证</text>
					</view>
					<view class="uploadTip">图片大小不超过2M</view>
				</view>
				<view class="list">
					<view class="item">
						<view class="box">
							<view>身份证正面</view>
							<view>请上传您身份证人像面</view>
						</view>
						<view class="image_box"><uploadImg :boxStyle="boxStyle" :borderStyle="borderStyle" @upload="upload1"></uploadImg></view>
					</view>
					<view class="item">
						<view class="box">
							<view>身份证反面</view>
							<view>请上传您身份证国徽面</view>
						</view>
						<view class="image_box"><uploadImg :boxStyle="boxStyle" :borderStyle="borderStyle" @upload="upload2"></uploadImg></view>
					</view>
					<view class="item">
						<view class="box">
							<view>手持身份证</view>
							<view>请上传您手持身份证</view>
						</view>
						<view class="image_box"><uploadImg :boxStyle="boxStyle" :borderStyle="borderStyle" @upload="upload3"></uploadImg></view>
					</view>
				</view>
				<view class="jobTime" style="margin: 39rpx 0;">
					<view class="df">
						<text class="iconfont" style="font-size: 38rpx;">&#xe60a;</text>
						<text>营业执照</text>
					</view>
				</view>
				<view class="list">
					<view class="item">
						<view class="box">
							<view>营业执照</view>
							<view>请上传公司营业执照</view>
						</view>
						<view class="image_box"><uploadImg :boxStyle="boxStyle" :borderStyle="borderStyle" @upload="upload4"></uploadImg></view>
					</view>
				</view>
				<button type="default" class="next-btn" @click="next">提交</button>
			</view>
		</view>
	</view>
</template>

<script>
import uploadImg from '../../components/uploadImg/uploadImg.vue';
export default {
	components: {
		uploadImg
	},
	data() {
		return {
			show: false,
			boxStyle: 'width: 142rpx; height: 142rpx;border-radius: 30rpx;',
			borderStyle: 'border: 1rpx solid #3b82fc;'
		};
	},
	computed: {},
	watch: {},
	onLoad() {},
	onReady() {},
	methods: {
		SelectDate(e) {
			this.startime = e.detail.value;
		},
		abc() {

		},
		cancel() {
			
		},
		upload1(data) {
			console.log(data);
		},
		upload2(data) {
			console.log(data);
		},
		upload3(data) {
			console.log(data);
		},
		upload4(data) {
			console.log(data);
		},
		//下一步
		next() {
			uni.navigateTo({
				url: '/pages/certificates/certificates'
			});
		}
	}
};
</script>

<style lang="scss">
page {
	background-color: #fff;
}
.inner {
	.jobTime {
		padding: 0 36rpx;
		display: flex;
		align-items: center;
		.df {
			display: flex;
			align-items: center;
			text {
				&:first-child {
					display: block;
					width: 74rpx;
					height: 74rpx;
					line-height: 74rpx;
					text-align: center;
					font-size: 33rpx;
					color: #3b82fc;
					background-color: #eef4ff;
					border-radius: 50%;
					flex-shrink: 0;
				}
				&:last-child {
					font-size: 38rpx;
					font-weight: 700;
					margin-left: 36rpx;
					color: #282828;
				}
			}
		}
		.uploadTip {
			font-size: 28rpx;
			color: #999999;
			margin-left: 45rpx;
		}
	}
	.time_line {
		margin: 0 36rpx;
		display: flex;
		align-items: center;
		height: 141rpx;
		padding: 0 37rpx;
		background-color: #ffffff;
		box-shadow: 0rpx 8rpx 27rpx 0rpx rgba(187, 187, 187, 0.24);
		border-radius: 30rpx;
		margin-top: 39rpx;
		text {
			&:first-child {
				font-size: 28rpx;
				color: #999999;
			}
			&.line,
			&.current {
				color: #333333;
				font-size: 28rpx;
			}
			&.line {
				margin: 0 39rpx;
			}
		}
	}
	.tip {
		font-size: 28rpx;
		color: #999999;
		margin-bottom: 44rpx;
	}

	.ID_card {
		overflow: hidden;
		.title {
			font-size: 40rpx;
			font-weight: bold;
			color: #282828;
			margin-bottom: 32rpx;
			font-weight: bold;
		}

		.list {
			box-sizing: border-box;
			padding: 0 36rpx;
			.item {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 38rpx 41rpx;
				background-color: #fff;
				border-radius: 30rpx;
				background-color: #ffffff;
				box-shadow: 0rpx 8rpx 27rpx 0rpx rgba(187, 187, 187, 0.24);
				border-radius: 30rpx;
				margin-bottom: 10rpx;
				box-sizing: border-box;
				.box {
					height: 142rpx;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					padding: 14rpx 0;

					view {
						&:first-child {
							font-size: 30rpx;
							color: #333333;
						}

						&:last-child {
							font-size: 28rpx;
							color: #999999;
						}
					}
				}
				.image_box {
					@include wh(142rpx, 142rpx);
				}
			}
		}
		.next-btn {
			width: 90%;
			margin: 0 auto;
			margin-bottom: 77rpx;
			height: 88rpx;
			line-height: 88rpx;
			background-color: #3b82fc;
			box-shadow: 0rpx 8rpx 20rpx 0rpx 
				rgba(59, 130, 252, 0.31);
			border-radius: 10rpx;
			color: #ffffff;
			font-size: 36rpx;
			margin-top: 40rpx;
		}
	}
}
</style>
