<template>
	<view class="RefundDetails">
		<view class="top">
			<view class="top-title">
				<text class="iconfont">&#xe667;</text>
				<text>退款成功</text>
			</view>
			<view class="top-tip">预计最晚2020年04月07日到账</view>
		</view>
		<view class="center">
			<view class="flex">
				<text>退款金额</text>
				<text>¥3600</text>
			</view>
			<view class="flex">
				<text>退款账户</text>
				<text class="nocolor">原支付账户</text>
			</view>
		</view>
		<view class="center2">
			<view class="title">退款流程</view>
			<view class="time-line">
				<u-time-line>
					<u-time-line-item nodeTop="12">
						<!-- 此处自定义了左边内容，用一个图标替代 -->
						<template v-slot:content>
							<view>
								<view class="u-order-title">退款入账（支付宝）</view>
								<view class="u-order-desc">支付宝会在退款处理完成后2天内完成入账，将3600元入账至您的支付宝支付账户</view>
							</view>
						</template>
					</u-time-line-item>
					<u-time-line-item>
						<!-- 此处没有自定义左边的内容，会默认显示一个点 -->
						<template v-slot:content>
							<view>
								<view class="u-order-title">支付宝正在处理您的退款</view>
								<view class="u-order-desc">预计支付宝会在1天内处理完成。具体处理进度可使用交易号2901920192012910拨打支付宝客服95188查询。</view>
							</view>
						</template>
					</u-time-line-item>
					<u-time-line-item>
						<!-- 此处没有自定义左边的内容，会默认显示一个点 -->
						<template v-slot:content>
							<view>
								<view class="u-order-title">共享方圆审核通过</view>
								<view class="u-order-desc">3600元的退款申请已提交至支付宝</view>
								<view class="u-order-time">2020-04-01 15:15:19</view>
							</view>
						</template>
					</u-time-line-item>
					<u-time-line-item>
						<!-- 此处没有自定义左边的内容，会默认显示一个点 -->
						<template v-slot:content>
							<view>
								<view class="u-order-title">提交申请退款</view>
								<view class="u-order-time">2020-04-01 15:15:19</view>
							</view>
						</template>
					</u-time-line-item>
				</u-time-line>
			</view>
		</view>
		<view class="bottom">
			<view class="title">退款信息</view>
			<view class="flex">
				<text>代理记账服务套餐</text>
				<text>¥4000/年</text>
			</view>
			<view class="flex">
				<text>¥4000/年</text>
				<text>订单取消时，自动退款</text>
			</view>
		</view>
	</view>
</template>

<script>
export default {
	components: {},
	data() {
		return {};
	},
	computed: {},
	watch: {},
	onLoad() {},
	onReady() {},
	methods: {}
};
</script>

<style lang="scss">
.top {
	background-color: #3b82fc;
	color: #ffffff;
	padding: 0 56rpx;
	padding-top: 35rpx;
	padding-bottom: 51rpx;
	.top-title {
		display: flex;
		align-items: center;
		text {
			&:first-child {
				font-size: 48rpx;
				margin-right: 32rpx;
			}
			&:last-child {
				font-size: 42rpx;
			}
		}
	}
	.top-tip {
		font-size: 28rpx;
		color: #ffffff;
		margin-top: 35rpx;
	}
}
.center {
	padding: 40rpx 57rpx;
	background-color: #fff;
	.flex {
		display: flex;
		justify-content: space-between;
		line-height: 85rpx;
		text {
			font-size: 30rpx;
			&:first-child {
				color: #999999;
			}
			&:last-child {
				color: #3b82fc;
			}
		}
		.nocolor {
			color: #333333 !important;
		}
	}
}
.center2 {
	padding: 54rpx 55rpx;
	background-color: #fff;
	margin-top: 20rpx;
	.title {
		color: #333333;
		font-size: 32rpx;
	}
	.time-line {
		margin-top: 51rpx;
		.u-node {
			width: 44rpx;
			height: 44rpx;
			border-radius: 100rpx;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #d0d0d0;
		}
		
		.u-order-title {
			color: #3b82fc;
			font-size: 26rpx;
		}
		
		.u-order-desc {
			color: #999999;
			font-size: 24rpx;
			margin-top: 10rpx;
		}
		
		.u-order-time {
			color: #999999;
			font-size: 24rpx;
		}
	}
}
.bottom {
	padding: 45rpx 55rpx;
	background-color: #fff;
	margin-top: 20rpx;
	.title {
		color: #333333;
		font-size: 32rpx;
	}
	.flex {
		display: flex;
		justify-content: space-between;
		line-height: 105rpx;
		font-size: 30rpx;
		color: #999999;
		text {
			&:last-child {
				color: #333333;
			}
		}
	}
} 
</style>
