<template>
	<view class="wait_order">
		<u-navbar :is-back="false" title="附近的会计" title-size="36rpx" :is-fixed="true" title-color="#ffffff" :background="TopNavBackground" style="font-weight: bold;">
			<view class="navbar-right" slot="right" style="font-weight: normal;" @click="goback">取消订单</view>
		</u-navbar>
		<view class="banner">
			<view class="location">
				<text class="iconfont">&#xea76;</text>
				<text class="mapname">位置：世界侨商中心</text>
			</view>
		</view>
		<myp-list ref="myp-list" @down="toLoadItems" @up="toLoadItems">
			<view class="list">
				<view class="item" @click.stop="goIndex" v-for="(item, index) in list" :key="index">
					<view class="top">
						<view class="left">
							<image src="../../static/images/chat/1.jpg" @click.stop="lookUser"></image>
							<view class="box">
								<text>{{ item.name }}</text>
								<text class="iconfont">&#xe639; {{ item.start }}</text>
							</view>
						</view>
						<view class="right">
							<text>{{ item.distance }}m</text>
							<text class="iconfont">&#xe633; {{ item.order_num }}</text>
						</view>
					</view>
					<view class="bottom">
						<text v-if="item.judge_list[0].type === 0">暂未收到评价</text>
						<view :class="[v.type == 1 || v.type == 2 ? 'box2' : 'box3']" v-else v-for="(v, k) in item.judge_list" :key="k">
							<text class="iconfont" v-if="v.num && v.type == 1" style="color: #3b82fc;">&#xe66f;</text>
							<text class="iconfont" v-if="v.num && v.type == 2" style="color: #3b82fc;">&#xe731;</text>
							<text class="iconfont" v-if="v.num && v.type == 3" style="color: #999;">&#xe602;</text>
							<text class="iconfont" v-if="v.num && v.type == 4" style="color: #999;">&#xe6bc;</text>
							<text v-if="v.num && v.type == 1" style="color: #3b82fc;">非常满意 {{ v.num }}</text>
							<text v-if="v.num && v.type == 2" style="color: #3b82fc;">满意 {{ v.num }}</text>
							<text v-if="v.num && v.type == 3" style="color: #999;">一般 {{ v.num }}</text>
							<text v-if="v.num && v.type == 4" style="color: #999;">不满意 {{ v.num }}</text>
						</view>
					</view>
				</view>
			</view>
			</myp-list>
	</view>
</template>

<script>
import hrPullLoad from '@/components/hr-pull-load/hr-pull-load.vue';
export default {
	components: {
		hrPullLoad
	},
	data() {
		return {
			TopNavBackground: {
				background: '#3b82fc' //顶部导航栏背景颜色
			},
			list: [
				{
					userId: 1,
					name: '李会计',
					start: '5.0',
					avatar: '../../static/images/chat/1.jpg',
					distance: 397,
					order_num: '首次接单',
					judge_list: [
						{
							type: 1, //一般
							num: 20
						},
						{
							type: 4, //不满意
							num: 4
						}
					]
				},
				{
					userId: 2,
					name: '王会计',
					start: '4.5',
					avatar: '../../static/images/chat/1.jpg',
					distance: 200,
					order_num: '2次接单',
					judge_list: [
						{
							type: 0 //未评价
						}
					]
				},
				{
					userId: 3,
					name: '张会计',
					start: '3.8',
					avatar: '../../static/images/chat/1.jpg',
					distance: 400,
					order_num: '3次接单',
					judge_list: [
						{
							type: 3, //一般
							num: 20
						},
						{
							type: 4, //不满意
							num: 4
						}
					]
				}
			],
			bottomTips: '',
			currentPage: 1,
			windowHeight: 0
		};
	},
	computed: {},
	watch: {},
	onLoad() {
		this.getExampleData(1);
	},
	async onReady() {
		var that = this;
		let navbar = await that.$commonFun.getElSize('u-navbar-inner');
		let banner = await that.$commonFun.getElSize('banner');
		uni.getSystemInfo({
			success: res => {
				console.log(res);
				that.windowHeight = res.windowHeight - banner.height - navbar.height - 26;
			}
		});
	},
	methods: {
		lookUser() {
			uni.navigateTo({
				url: '/pages/Account_homepage/Account_homepage'
			});
		},
		goIndex() {
			uni.reLaunch({
				url: `/pages/index/index?userId=${1}`
			});
		},
		goback() {
			uni.navigateBack({
				delta: 1
			});
		},
		getExampleData(type) {
			/* type 1代表下拉刷新 2代表加载更多 */
			setTimeout(() => {
				/* 接口获取到的数据 */
				let data = [
					{
						userId: 4,
						name: '郝会计',
						start: '4.0',
						avatar: '../../static/images/chat/1.jpg',
						distance: 307,
						order_num: '首次接单',
						judge_list: [
							{
								type: 1, //一般
								num: 20
							},
							{
								type: 4, //不满意
								num: 4
							}
						]
					},
					{
						userId: 5,
						name: '赵会计',
						start: '4.5',
						avatar: '../../static/images/chat/1.jpg',
						distance: 450,
						order_num: '2次接单',
						judge_list: [
							{
								type: 0 //未评价
							}
						]
					},
					{
						userId: 6,
						name: '孙会计',
						start: '3.8',
						avatar: '../../static/images/chat/1.jpg',
						distance: 600,
						order_num: '3次接单',
						judge_list: [
							{
								type: 3, //一般
								num: 20
							},
							{
								type: 4, //不满意
								num: 4
							}
						]
					},
					{
						userId: 7,
						name: '李会计',
						start: '3.8',
						avatar: '../../static/images/chat/1.jpg',
						distance: 800,
						order_num: '5次接单',
						judge_list: [
							{
								type: 1, //一般
								num: 10
							},
							{
								type: 2, //不满意
								num: 6
							}
						]
					}
				];
				/* 拿到数据后的处理 */
				if (data.length > 0) {
					if (type == 1) {
						this.list = data;
					} else if (type == 2) {
						this.list = this.list.concat(data);
					}
					/* 这里的20是每次调用后台接口返回的最大数据条数，可以自定义 */
					if (this.list.length < 3) {
						this.bottomTips = 'nomore';
					} else {
						this.bottomTips = 'more';
					}
				} else {
					if (type == 1) {
						this.list = [];
					} else if (type == 2) {
						this.currentPage--;
					}
					this.bottomTips = 'nomore';
				}
				/* 这里300毫秒的延时，主要是为了优化视觉效果 */
				setTimeout(() => {
					this.$refs.hrPullLoad.reSet();
				}, 300);
			}, 500);
		},
		//自定义上拉加载更多
		loadMore() {
			this.currentPage++;
			this.bottomTips = 'loading';
			this.getExampleData(2);
		},
		//自定义下拉刷新
		refresh() {
			this.currentPage = 1;
			this.getExampleData(1);
		},
		// #ifdef APP-NVUE
		toRefresh() {
			const cp = 1
			setTimeout(()=>{
				this.items = rawItems
				this.currentPage = 1
				this.hasMore = true
				this.$refs['myp-refresher'].cancel()
			}, 300)
		},
		toLoad() {
			if (!this.hasMore) {
				console.log('没有更多辣')
				const platform = getPlatform()
				if (platform === 'ios') {
					this.$refs['myp-loader'].cancel()
				} else {
					setTimeout(()=>{
						this.$refs['myp-loader'].cancel()
					}, 0)
				}
				return
			}
			const cp = this.currentPage + 1
			setTimeout(()=>{
				if (cp === 1) {
					this.items = rawItems
					this.currentPage = 1
					this.hasMore = true
					this.$refs['myp-loader'].cancel()
				} else {
					const newItems = []
					rawItems.forEach(val => {
						newItems.push(val+(cp-1)*10)
					})
					this.items = this.items.concat(newItems)
					this.currentPage = cp
					this.$refs['myp-loader'].cancel()
					if (cp >= 4) {
						this.hasMore = false
					} else {
						this.hasMore = true
					}
				}
			}, 300)
		},
		// #endif
		toLoadItems() {
			const ins = this.$refs['myp-list']
			const cp = ins.mypCurrentPage
			setTimeout(()=>{
				if (cp === 1) {
					this.items = rawItems
					ins.mypEndSuccess(true)
				} else {
					const newItems = []
					rawItems.forEach(val => {
						newItems.push(val+(cp-1)*10)
					})
					this.items = this.items.concat(newItems)
					if (cp >= 4) {
						ins.mypEndSuccess(false)
					} else {
						ins.mypEndSuccess(true)
					}
				}
			}, 300)
		}
	}
};
</script>

<style lang="scss" scoped>
.wait_order {
	position: fixed;
	left: 0;
	bottom: 0;
	top: 0;
	right: 0;
	background-color: #f3f5f8;
}
.uni-scroll-view {
	background-color: transparent;
	&::-webkit-scrollbar {
		display: none;
		width: 0 !important;
		height: 0 !important;
		-webkit-appearance: none;
		background: transparent;
	}
}
.navbar-right {
	margin-right: 26rpx;
	font-size: 28rpx;
	color: #ffffff;
}
.banner {
	width: 100%;
	height: 112rpx;
	background-color: #3b82fc;
	padding: 0 27rpx;
	padding-top: 20rpx;
	.tip {
		font-size: 32rpx;
		color: #ffffff;
		text {
			color: #04c693;
		}
	}
	.location {
		width: 320rpx;
		max-width: 100%;
		min-width: 320rpx;
		height: 50rpx;
		background-color: #f7f9fd;
		border-radius: 25px;
		font-size: 30rpx;
		font-weight: bold;
		color: #999;
		display: flex;
		align-items: center;
		padding-left: 17rpx;
		padding-right: 28rpx;
		.iconfont {
			font-size: 30rpx;
			color: #00c490;
			margin-right: 14rpx;
			font-weight: bold;
		}
		.mapname {
			color: #999;
			font-size: 24rpx;
		}
	}
}
.list {
	padding: 0 25rpx;
	overflow: hidden;
	.item {
		padding: 40rpx 48rpx;
		background-color: #fff;
		box-shadow: 0rpx 5rpx 22rpx 2rpx rgba(144, 159, 175, 0.07);
		border-radius: 25rpx;
		margin-bottom: 20rpx;
		.top {
			display: flex;
			justify-content: space-between;
			padding-bottom: 44rpx;
			border-bottom: 0.5rpx solid #dedede;
			.left {
				display: flex;
				image {
					width: 90rpx;
					height: 90rpx;
					flex-shrink: 0;
					background-color: #3b82fc;
					box-shadow: 0rpx 2rpx 9rpx 0rpx rgba(153, 153, 153, 0.47);
					border: solid 5rpx #ffffff;
					border-radius: 50%;
				}
				.box {
					margin-left: 40rpx;
					display: flex;
					flex-flow: column;
					justify-content: center;
					text {
						&:first-child {
							font-size: 32rpx;
							color: #333333;
						}
						&:last-child {
							font-size: 28rpx;
							color: #ff5d16;
							margin-top: 16rpx;
						}
					}
				}
			}
			.right {
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				flex-flow: column;
				text {
					&:first-child {
						font-size: 30rpx;
						color: #999;
					}
					&:last-child {
						font-size: 26rpx;
						color: #999999;
						margin-top: 25rpx;
					}
				}
			}
		}
		.bottom {
			padding-top: 39rpx;
			font-size: 26rpx;
			color: #333333;
			display: flex;
			align-items: center;
			.box2 {
				height: 60rpx;
				line-height: 60rpx;
				display: flex;
				align-items: center;
				background-color: #e6f3ff;
				border-radius: 30rpx;
				font-size: 26rpx;
				color: #3b82fc;
				padding: 18rpx 21rpx;
				margin-right: 21rpx;
				.iconfont {
					margin-right: 17rpx;
				}
			}
			.box3 {
				width: 200rpx;
				height: 60rpx;
				display: flex;
				align-items: center;
				padding: 18rpx 21rpx;
				background-color: #f1f1f1;
				border-radius: 30rpx;
				font-size: 26rpx;
				color: #999999;
				margin-right: 21rpx;
				.iconfont {
					margin-right: 17rpx;
				}
			}
		}
		&:first-child {
			margin-top: 30rpx;
		}
	}
}
</style>
