<template>
	<view class="About">
		<view class="logo"><image src="../../static/logo.png" mode="aspectFit"></image></view>
		<view class="version">当前版本 V1.0.0</view>
		<view class="item flex">
			<text>检查更新</text>
			<text class="iconfont">&#xe7d9;</text>
			<view class="mark"></view>
		</view>
	</view>
</template>

<script>
export default {
	components: {},
	data() {
		return {
			version: ''
		};
	},
	computed: {},
	watch: {},
	onLoad() {
		plus.runtime.getProperty(plus.runtime.appid, wgtinfo => {
			console.log(wgtinfo.version); //应用版本号
			this.version = wgtinfo.version;
		});
	},
	onReady() {},
	methods: {}
};
</script>

<style lang="scss">
.logo {
	width: 200rpx;
	height: 200rpx;
	margin: 0 auto;
	margin-top: 69rpx;
	image {
		width: 200rpx;
		height: 200rpx;
		background-color: #ffffff;
		border-radius: 25rpx;
	}
}
.version {
	text-align: center;
	margin-top: 57rpx;
	font-size: 30rpx;
	color: #999999;
}
.item {
	width: 750rpx;
	height: 110rpx;
	line-height: 110rpx;
	background-color: #ffffff;
	font-size: 34rpx;
	color: #333333;
	margin-top: 83rpx;
	justify-content: space-between;
	align-items: center;
	padding: 0 37rpx;
	padding-left: 48rpx;
	position: relative;
	.mark {
		width: 20rpx;
		height: 20rpx;
		border-radius: 50%;
		background-color: red;
		position: absolute;
		right: 80rpx;
		top: 50%;
		transform: translateY(-50%);
	}
}
</style>
