<template>
	<view class="upload_bill">
		<view class="box">
			<image src="../../static/images/upload_bill/camera.png" @click="goUpload"></image>
			<text>请上传票据</text>
		</view>
		<view class="nav">
			<view class="title" v-for="(item, index) in billList" :key="index" @click="chooseTab(index)" :class="{active: currentTab == index}">{{ item.title }}</view>
		</view>
		<view v-for="(item, index) in billList" :key="index">
			<view class="item" v-for="(v, idx) in item.list" :key="idx" v-show="index == currentTab">
				<view class="between">
					<text>{{ v.title }}</text>
					<text>{{ v.time }}</text>
				</view>
				<view class="img-box"><image :src="a.src" v-for="(a, i) in v.imgList" :key="i" @click="openImg"></image></view>
			</view>
		</view>
	</view>
</template>

<script>
export default {
	components: {},
	data() {
		return {
			billList: [
				{
					title: '全部',
					list: [
						{
							title: '现金',
							time: '2020年5月8日 12:21',
							imgList: [
								{
									src: '../../static/images/chat/1.jpg'
								},
								{
									src: '../../static/images/chat/2.jpg'
								},
								{
									src: '../../static/images/chat/3.jpg'
								},
								{
									src: '../../static/images/chat/4.jpg'
								}
							]
						},
						{
							title: '银行',
							time: '2020年5月8日 14:21',
							imgList: [
								{
									src: '../../static/images/chat/1.jpg'
								},
								{
									src: '../../static/images/chat/2.jpg'
								},
								{
									src: '../../static/images/chat/3.jpg'
								},
								{
									src: '../../static/images/chat/4'
								}
							]
						}
					]
				},
				{
					title: '现金',
					list: [
						{
							title: '现金',
							time: '2020年5月8日 12:21',
							imgList: [
								{
									src: '../../static/images/chat/1.jpg'
								},
								{
									src: '../../static/images/chat/2.jpg'
								},
								{
									src: '../../static/images/chat/3.jpg'
								},
								{
									src: '../../static/images/chat/4.jpg'
								}
							]
						}
					]
				},
				{
					title: '银行',
					list: [
						{
							title: '银行',
							time: '2020年5月8日 14:21',
							imgList: [
								{
									src: '../../static/images/chat/1.jpg'
								},
								{
									src: '../../static/images/chat/2.jpg'
								},
								{
									src: '../../static/images/chat/3.jpg'
								},
								{
									src: '../../static/images/chat/4.jpg'
								}
							]
						}
					]
				},
				{
					title: '其他',
					list: [
						{
							title: '其他',
							time: '2020年5月8日 15:21',
							imgList: [
								{
									src: '../../static/images/chat/1.jpg'
								},
								{
									src: '../../static/images/chat/2.jpg'
								},
								{
									src: '../../static/images/chat/3.jpg'
								},
								{
									src: '../../static/images/chat/4.jpg'
								}
							]
						}
					]
				}
			],
			currentTab: 0,
			thisindex: 0,
			src: ['../../static/images/chat/1.jpg']
		};
	},
	computed: {},
	watch: {},
	onLoad() {
		
	},
	onReady() {},
	methods: {
		chooseTab(index) {
			this.currentTab = index;
			console.log(this.currentTab)
			// let index = e.detail.current;
			// this.currentTab = index;
		},
		openImg() {
			// 预览图片
			uni.previewImage({
				urls: this.src
			});
		},
		goUpload() {
			uni.navigateTo({
				url: '/pages/bill_detail/bill_detail'
			})
		}
	}
};
</script>

<style lang="scss">
page {
	background-color: #f4f6f9;
}
.flex {
	display: flex;
}
.upload_bill {
	background-image: linear-gradient(0deg, #f3f5f8 0%, #3b82fc 100%), linear-gradient(#3b82fc, #3b82fc);
	background-blend-mode: normal, normal;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 0 25rpx;
	.box {
		background-color: #fff;
		width: 100%;
		height: 327rpx;
		box-shadow: 0rpx 5rpx 22rpx 2rpx rgba(144, 159, 175, 0.07);
		border-radius: 25rpx;
		display: flex;
		flex-flow: column;
		align-items: center;
		image {
			width: 165rpx;
			height: 146rpx;
			flex-shrink: 0;
			margin-top: 51rpx;
		}
		text {
			font-size: 28rpx;
			color: #333333;
			margin-top: 58rpx;
			font-weight: bold;
		}
	}
	.nav {
		display: flex;
		margin-top: 59rpx;
		margin-bottom: 40rpx;
		.title {
			width: 138rpx;
			height: 52rpx;
			background-color: #fff;
			line-height: 52rpx;
			text-align: center;
			font-size: 24rpx;
			color: #333333;
			letter-spacing: 10rpx;
			margin-right: 10rpx;
			border-radius: 26rpx;
		}
		.active {
			background-color: #2d62e6;
			color: #FFFFFF;
		}
	}
	.item {
		margin-bottom: 10rpx;
		background-color: #fff;
		padding: 47rpx 30rpx;
		box-shadow: 0rpx 5rpx 22rpx 2rpx rgba(144, 159, 175, 0.07);
		border-radius: 25rpx;
		.between {
			display: flex;
			justify-content: space-between;
			align-items: center;
			text {
				&:first-child {
					font-size: 30rpx;
					color: #333333;
					font-weight: bold;
				}
				&:last-child {
					font-size: 24rpx;
					color: #999999;
				}
			}
		}
		.img-box {
			display: flex;
			justify-content: space-between;
			margin-top: 44rpx;
			image {
				width: 137rpx;
				height: 137rpx;
				border-radius: 5rpx;
			}
		}
	}
}
</style>
