<template>
	<view class="EditPhone">
		<view class="logo">
			<view></view>
			<text>修改手机号</text>
		</view>
		<view class="info">
			<text>您当前的手机号为198******558</text>
			<text>修改后，您当前账号中的订单信息、个人资产不变</text>
		</view>
		<button @click="goEdit">立即修改</button>
	</view>
</template>

<script>
export default {
	components: {},
	data() {
		return {};
	},
	computed: {},
	watch: {},
	onLoad() {},
	onReady() {},
	methods: {
		goEdit() {
			uni.navigateTo({
				url: '/pages/setNewPhone/setNewPhone'
			});
		}
	}
};
</script>

<style lang="scss">
page {
	background-color: #f3f5f8;
}
.EditPhone {
	padding: 0 56rpx;
	.logo {
		display: flex;
		flex-flow: column;
		align-items: center;
		margin-top: 88rpx;

		view {
			width: 163rpx;
			height: 201rpx;
			background: url('~@/static/images/EditPhone/phone.png') no-repeat;
			background-size: 163rpx 100%;
		}
		text {
			margin-top: 70rpx;
			font-size: 48rpx;
			color: #282828;
		}
	}
	.info {
		font-size: 28rpx;
		color: #999999;
		display: flex;
		flex-flow: column;
		align-items: center;
		line-height: 50rpx;
		margin-top: 28rpx;
	}
	button {
		height: 88rpx;
		line-height: 88rpx;
		background-color: #3b82fc;
		box-shadow: 0rpx 8rpx 20rpx 0rpx rgba(59, 130, 252, 0.31);
		border-radius: 10rpx;
		font-size: 36rpx;
		color: #ffffff;
		margin-top: 102rpx;
	}
}
</style>
