<template>
	<view class="Feedback">
		<view class="title">请提出您宝贵的意见</view>
		<view class="box">
			<text class="type">问题反馈类型</text>
			<view class="type_list">
				<text :class="activeClass == index ? 'active' : ''" v-for="(item, index) of type_list" :key="index" @click="getItem(item, index)">{{ item }}</text>
			</view>
			<view class="textarea_box">
				<textarea value="" placeholder="请输入您的反馈意见" placeholder-style="color: #cccccc;" maxlength="200" class="textarea" />
				<text class="numberV">{{ xinde.length }}/200</text>
			</view>
		</view>
		<button class="ok">完 成</button>
	</view>
</template>

<script>
export default {
	components: {},
	data() {
		return {
			type_list: ['功能异常', '体验问题', '其他'],
			activeClass: 0,
			xinde: ''
		};
	},
	computed: {},
	watch: {},
	onLoad() {},
	onReady() {},
	methods: {
		getItem(value, index) {
			this.activeClass = index;
		},
		ok() {}
	}
};
</script>

<style lang="scss">
page {
	background-color: #f3f5f8;
}
.Feedback {
	.title {
		height: 90rpx;
		line-height: 90rpx;
		font-size: 30rpx;
		color: #666666;
		padding-left: 35rpx;
		background-color: #f3f5f8;
	}
	.box {
		background-color: #fff;
		padding: 0 35rpx;
		padding-top: 42rpx;
		padding-bottom: 58rpx;
		.type {
			font-size: 30rpx;
			color: #333333;
			font-weight: bold;
		}
		.type_list {
			display: flex;
			justify-content: space-between;
			margin-top: 50rpx;

			text {
				width: 186rpx;
				height: 62rpx;
				line-height: 62rpx;
				background-color: #f4f4f4;
				border-radius: 5rpx;
				font-size: 26rpx;
				color: #333333;
				text-align: center;
			}

			.active {
				background-color: #e6f3ff;
				color: #3b82fc;
			}
		}
		.textarea_box {
			position: relative;
			.textarea {
				width: 100%;
				height: 262rpx;
				margin-top: 30rpx;
				background-color: #fafafa;
				border: solid 1rpx #f2f2f2;
				padding: 30rpx 36rpx;
				box-sizing: border-box;
				font-size: 26rpx;
				color: #333333;
			}
			.numberV {
				position: absolute;
				right: 36rpx;
				top: 30rpx;
				font-size: 26rpx;
				color: #cccccc;
			}
		}
	}
	.ok {
		width: 88%;
		height: 88rpx;
		line-height: 88rpx;
		background-color: #3b82fc;
		box-shadow: 0rpx 8rpx 20rpx 0rpx 
				rgba(59, 130, 252, 0.31);
		border-radius: 10rpx;
		position: absolute;
		bottom: 93rpx;
		left: 50%;
		margin-left: -44%;
		font-size: 36rpx;
		color: #FFFFFF;
	}
}
</style>
