<template>
	<view class="SetPwd">
		<view class="inner">
			<view class="title">设置登录密码</view>
			<view class="tip">须包含数字与字母组合的8-16位密码</view>
			<view class="input_box">
				<input-box ref="input2" type="password" :verification="['isNull','isChineseEnlishAndNumber']" :verificationTip="['密码不能为空','']"
				 placeholder="请输入密码" :maxLength="maxLength" class="phone-input"></input-box>
			</view>
			<button type="default" :custom-style="loginBth" class="login_btn" @click="gologin">确 定</button>
		</view>
	</view>
</template>

<script>
	import inputBox from '@/components/input-box/input-box';
	export default {

		components: {
			inputBox
		},
		data() {
			return {
				/* 登录按钮动态样式 */
				loginBth: {
					backgroundColor: '#3b82fc', // 注意驼峰命名，并且值必须用引号包括，因为这是对象
					color: '#FFFFFF'
				},
				password: '',
				maxLength: '16',
				isShow: false,
				num: 0
			}
		},
		computed: {

		},
		watch: {

		},
		onLoad() {
			
		},
		onReady() {
			this.$refs.input2.isShowEye = true;
		},
		methods: {
			gologin() {
				uni.navigateTo({
					url: '/pages/login/login'
				})
			}
		}

	}
</script>

<style lang="scss">
	page {
		background-color: #fff;
	}
	.inner {
		width: 100%;
		position: fixed;
		top: 233rpx;
		left: 0;
		padding: 0 56rpx;
		overflow: hidden;

		.title {
			height: 34rpx;
			font-size: 34rpx;
			line-height: 34rpx;
			color: #282828;
		}

		.tip {
			height: 27rpx;
			font-size: 27rpx;
			line-height: 27rpx;
			color: #999999;
			margin-top: 42rpx;
		}

		.input_box {
			width: 100%;
			display: flex;
			overflow: hidden;
			position: relative;
			margin-top: 53rpx;

			.phone-input {
				flex: 1;
				height: 120rpx;
				line-height: 120rpx;
				font-size: 36rpx;
				border-bottom: 0.5rpx solid #cccccc;
			}
		}

		.login_btn {
			background-color: #3b82fc;
			color: #FFFFFF;
			margin-top: 100rpx;
			height: 88rpx;
			line-height: 88rpx;
			box-shadow: 0rpx 8rpx 20rpx 0rpx rgba(255, 65, 22, 0.31);
			border-radius: 10rpx;
			font-size: 36rpx;
		}
	}
</style>
