<template>
	<view class="personal_data">
		<view class="header">
			<text class="text1">头像</text>
			<view>
				<avatar
					ref="child"
					selWidth="400rpx"
					selHeight="400rpx"
					@upload="ModifyAvatar"
					avatarSrc="../../static/images/CompanyDetails/1.jpg"
					avatarStyle="width:70upx;height:70upx;border-radius: 50%;"
					inner="true"
					canRotate="false"
				>
				</avatar>
				<text class="iconfont right_icon">&#xe7d9;</text>
			</view>
		</view>
		<view class="list">
			<view class="item" @click="goEdit">
				<text class="text1">用户名</text>
				<view>
					<text class="text2">李会计</text>
					<text class="iconfont right_icon">&#xe7d9;</text>
				</view>
			</view>
			<view class="item">
				<text class="text1">姓名</text>
				<text class="text2">李天然</text>
			</view>
			<view class="item">
				<text class="text1">性别</text>
				<text class="text2">女</text>
			</view>
			<view class="item">
				<text class="text1">生日</text>
				<text class="text2">1990-01-01</text>
			</view>
			<view class="item" style="border: none;" @click="goEditPhone">
				<text class="text1">手机号</text>
				<view>
					<text class="text2">18888888888</text>
					<text class="iconfont right_icon">&#xe7d9;</text>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	/* 引入头像组件 */
	import avatar from "@/components/yq-avatar/yq-avatar.vue";
export default {
	components: {
		avatar
	},
	data() {
		return {};
	},
	computed: {},
	watch: {},
	onLoad() {},
	onReady() {},
	methods: {
		//去修改昵称
		goEdit() {
			uni.navigateTo({
				url: '/pages/EditNickname/EditNickname'
			});
		},
		goEditPhone() {
			uni.navigateTo({
				url: '/pages/setNewPhone/setNewPhone'
			})
		},
		//修改头像
		ModifyAvatar(rsp) {
			console.log("头像",rsp)
		}
	}
};
</script>

<style lang="scss">
.personal_data {
	overflow: hidden;
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 112rpx;
		background-color: #fff;
		padding: 0 35rpx;
		padding-right: 75rpx;
		position: relative;
		.text1 {
			font-size: 34rpx;
			color: #333333;
		}
		image {
			width: 70rpx;
			height: 70rpx;
			border-radius: 50%;
		}
		.right_icon {
			color: #999999;
			position: absolute;
			right: 35rpx;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	.list {
		background-color: #fff;
		margin-top: 20rpx;
		overflow: hidden;
		padding: 0 35rpx;
		.item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 112rpx;
			line-height: 112rpx;
			border-bottom: 0.5rpx solid #e0e0e0;
			.text1 {
				font-size: 34rpx;
				color: #333333;
			}
			.text2 {
				font-size: 30rpx;
				color: #999999;
				margin-right: 10rpx;
			}
			.right_icon {
				color: #999999;
			}
			.inpt {
				width: 278rpx;
				height: 112rpx;
				line-height: 112rpx;
				text-align: right;
			}
		}
	}
}
</style>
