<template>
	<view class="withdraw_cash">
		<view class="inner">
			<view class="between">
				<text class="text1">提现到</text>
				<view>
					<text class="iconfont wx_ico">&#xe6a0;</text>
					<text>微信</text>
					<text class="iconfont right_ico">&#xe7d9;</text>
				</view>
			</view>
			<view class="Cash_withdrawals">
				<text>提现金额</text>
				<input type="number" placeholder="请输入提现金额" placeholder-style="font-size: 36rpx;" @input="inputValue" v-model="value" />
			</view>
			<view class="tip">
				<text>零钱余额{{ money }}元，</text>
				<text @click="All_withdrawals">全部提现</text>
			</view>
			<button :style="{ opacity: opacity ? 1 : 0.5 }" @click="openPupop">提现</button>
			<view class="mask" v-show="mask">
				<view class="popup">
					<text class="close iconfont" @click.stop="close">&#xe60b;</text>
					<view class="title">请输入支付密码</view>
					<view class="content">
						<text>提现</text>
						<text>¥ 4000</text>
						<view class="view">
							<password-input :numLng='password' @tap='KeyboarOpen' @clickInput="clickInput"></password-input>
						</view>
					</view>
				</view>
			</view>

		</view>
		<number-keyboard ref='KeyboarHid' @input='onInput' psdLength='6'></number-keyboard>
	</view>
</template>

<script>
import numberKeyboard from '@/components/number-keyboard/number-keyboard.vue'
import passwordInput from '@/components/password-input/password-input.vue'
export default {
	components: {
		numberKeyboard,
		passwordInput
	},
	data() {
		return {
			opacity: false,
			value: '',
			password: '',
			money: 4000,
			mask: false
		};
	},
	computed: {},
	watch: {},
	created() {

	},
	onLoad() {

	},
	onReady() {},
	methods: {
		inputValue() {
			if (this.value.length > 0) {
				this.opacity = true;
			} else {
				this.opacity = false;
			}
		},
		All_withdrawals() {
			this.opacity = true;
			this.value = this.money;
		},
		finish() {
			
		},
		change() {
			
		},
		KeyboarOpen() {
			this.$refs.KeyboarHid.open()
		},
		//输入的值
		onInput(val) {
		  this.password = val
		},
		clickInput() {
			this.$refs.KeyboarHid.open()
		},
		openPupop() {
			if(this.opacity) {
				this.mask = true;
				this.$refs.KeyboarHid.open()
			}

		},
		close() {
			this.mask = false;
			this.$refs.KeyboarHid.close()
		}
	}
};
</script>

<style lang="scss">
page {
	background-color: #fff;
}
.inner {
	padding: 0 70rpx;
	overflow: hidden;
	.between {
		display: flex;
		justify-content: space-between;
		padding-bottom: 38rpx;
		border-bottom: 0.5rpx solid #e8e8e8;
		margin-top: 84rpx;
		.text1 {
			font-size: 38rpx;
			color: #282828;
		}
		view {
			display: flex;
			align-items: center;
			text {
				&:first-child {
					font-size: 32rpx;
					color: #5ccf40;
				}
				&:nth-child(2) {
					font-size: 28rpx;
					color: #999999;
					margin-left: 25rpx;
				}
				&:last-child {
					font-size: 22rpx;
					color: #999999;
					margin-left: 50rpx;
				}
			}
		}
	}
	.Cash_withdrawals {
		padding-top: 46rpx;
		text {
			font-size: 38rpx;
			color: #282828;
		}
		input {
			font-size: 68rpx;
			padding-top: 35rpx;
			padding-bottom: 23rpx;
			border-bottom: 0.5rpx solid #e8e8e8;
		}
	}
	.tip {
		margin-top: 50rpx;
		text {
			font-size: 28rpx;
			color: #999999;
			&:last-child {
				color: #ff5d16;
			}
		}
	}
	button {
		margin-top: 100rpx;
		height: 88rpx;
		line-height: 88rpx;
		background-color: #ff5d16;
		box-shadow: 0rpx 8rpx 20rpx 0rpx rgba(255, 93, 22, 0.31);
		border-radius: 10rpx;
		opacity: 0.5;
		font-size: 36rpx;
		color: #ffffff;
	}
	.mask {
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
		z-index: 77;
		.popup {
			width: 573rpx;
			height: 418rpx;
			background-color: #ffffff;
			box-shadow: 0rpx -5rpx 11rpx 1rpx rgba(126, 126, 126, 0.12);
			border-radius: 30rpx;
			position: absolute;
			left: 50%;
			top: 30%;
			transform: translateX(-50%);
			z-index: 1000;
			.close {
				position: absolute;
				left: 45rpx;
				top: 35rpx;
				font-size: 28rpx;
				color: #CCCCCC;
			}
			.title {
				height: 98rpx;
				line-height: 98rpx;
				font-size: 32rpx;
				color: #333333;
				text-align: center;
				border-bottom: 0.5rpx solid #e5e5e5;
			}
			.content {
				display: flex;
				flex-flow: column;
				align-items: center;
				padding-top: 35rpx;
				text {
					font-size: 28rpx;
					&:first-child {
						color: #999999;
					}
					&:nth-child(2) {
						font-size: 48rpx;
						color: #ff5d16;
						margin-top: 12rpx;
					}
				}
				.view {
					width: 480rpx;
					overflow: hidden;
					padding-top: 23rpx;
				}
			}
		}
	}
}
</style>
