<template>
	<view class="order_detail">
		<u-navbar :is-back="true" title="订单详情" :is-fixed="true" title-color="#000000" :title-size="36">
		</u-navbar>
		<hr-pull-load
			@refresh="refresh"
			@loadMore="loadMore"
			:height="windowHeight + 'px'"
			:pullHeight="50"
			:maxHeight="100"
			:lowerThreshold="100"
			:bottomTips="bottomTips"
			:isTab="false"
			ref="hrPullLoad"
			@scroll="listenScroll"
			:scrollTop="scrollTop"
		>
			<view class="list">
				<view class="item" v-for="(item,index) in list" :key="index">
					<view class="top">{{item.date}}</view>
					<view class="bottom">
						<view class="left">
							<text class="iconfont" v-if="item.type == 1">&#xe73b;</text>
							<text>{{type[index]}}</text>
						</view>
						<view class="right">
							<view class="view1" @click="evaluation" v-if="item.type == 1">评价</view>
							<view class="view4" v-if="item.type == 3">申请退款</view>
							<view class="view2" :class="{'view3': item.type == 2 || item.type == 3}">{{btnText[index]}}</view>
							
						</view>
					</view>
				</view>
			</view>
		</hr-pull-load>
		<u-popup v-model="show" mode="bottom" height="518rpx">
			<view class="popup-box">
				<view class="title">请对本月做账做出评价</view>
				<view class="ico-list">
					<view class="ico-item" v-for="(item, index) in evaluationList" :key="index" @click="handleIco(index)">
						<text class="iconfont" v-html="item.iconfont" :style="{color: active == index ? '#3b82fc' : '#ababab' }"></text>
						<text class="name" :style="{color: active == index ? '#3b82fc' : '#ababab' }">{{item.name}}</text>
					</view>
				</view>
				<view class="btn-box">
					<view class="btn1" @click="cancel">取消</view>
					<view class="btn2" @click="confirm">确定</view>
				</view>
			</view>
		</u-popup>
		<u-back-top :scroll-top="scrollTop" @onScroll="gotop" top="600"></u-back-top>
	</view>
</template>

<script>
	import uBackTop from '../../components/u-back-top/u-back-top'
	export default {

        components: {
			uBackTop
        },
        data() {
            return {
				show: false,
				list: [],
				evaluationList: [{
					name: '非常满意',
					iconfont: '&#xe66f;'
				},{
					name: '满意',
					iconfont: '&#xe731;'
				},{
					name: '一般',
					iconfont: '&#xe602;'
				},{
					name: '不满意',
					iconfont: '&#xe6bc;'
				},{
					name: '非常不满意',
					iconfont: '&#xe65c;'
				}],
				active: 0,
				windowHeight: 0,
				bottomTips: '',
				currentPage: 1,
				scrollTop: 0
            }
        },
        computed: {
			type() {
				return this.list.map((item) => {
					let {type} = item;
					return type === 1 ? '已完成' : type === 2 ? '会计做账中...' : type === 3 ? '未开始' : '';
				})
			},
			btnText() {
				return this.list.map((item) => {
					let {type} = item;
					return type === 1 ? '确认' : type === 2 ? '待确认' : type === 3 ? '待确认' : '';
				})
			}
        },
        watch: {

        },
        onLoad() {
			this.getExampleData(1);
        },
		async onReady() {
			var that = this;
			let navbar = await that.$commonFun.getElSize('u-navbar-inner');
			console.log(navbar.height)
			uni.getSystemInfo({
				success: res => {
					that.windowHeight = res.windowHeight - navbar.height;
					console.log(res.windowHeight);
				}
			});
		},
        methods: {
			gotop(e) {
				this.scrollTop = e
			},
			listenScroll(e) {
				this.scrollTop = e;
			},
			evaluation() {
				this.show = true;
			},
			//点击评价
			handleIco(index) {
				this.active = index;
			},
			cancel() {
				this.show = false;
			},
			confirm() {
				this.show = false;
				this.$commonFun.msg('评价成功 !')
			},
			getExampleData(type) {
				/* type 1代表下拉刷新 2代表加载更多 */
				setTimeout(() => {
					/* 接口获取到的数据 */
					let data = [
						{
							date: '2020-04',
							type: 1, //已完成
							
						},{
							date: '2020-04',
							type: 2, //会计做账中...
						},{
							date: '2020-04',
							type: 3, //未开始
						},{
							date: '2020-04',
							type: 3, //未开始
						},{
							date: '2020-04',
							type: 1, //已完成
							
						},{
							date: '2020-04',
							type: 2, //会计做账中...
						},{
							date: '2020-04',
							type: 3, //未开始
						},{
							date: '2020-04',
							type: 1, //未开始
						}
					];
					/* 拿到数据后的处理 */
					if (data.length > 0) {
						if (type == 1) {
							this.list = data;
						} else if (type == 2) {
							this.list = this.list.concat(data);
						}
						/* 这里的20是每次调用后台接口返回的最大数据条数，可以自定义 */
						if (this.list.length < 3) {
							this.bottomTips = 'nomore';
						} else {
							this.bottomTips = 'more';
						}
					} else {
						if (type == 1) {
							this.list = [];
						} else if (type == 2) {
							this.currentPage--;
						}
						this.bottomTips = 'nomore';
					}
					/* 这里300毫秒的延时，主要是为了优化视觉效果 */
					setTimeout(() => {
						this.$refs.hrPullLoad.reSet();
					}, 300);
				}, 500);
			},
			//自定义上拉加载更多
			loadMore() {
				this.currentPage++;
				this.bottomTips = 'loading';
				this.getExampleData(2);
			},
			//自定义下拉刷新
			refresh() {
				this.currentPage = 1;
				this.getExampleData(1);
			}
        }

    }
</script>

<style lang="scss">
	page {
		background-color: #f3f5f8;
	}
	.order_detail {
		.list {
			padding: 32rpx 25rpx;
			.item {
				background-color: #fff;
				padding: 33rpx 44rpx;
				box-shadow: 0rpx 5rpx 22rpx 2rpx 
					rgba(144, 159, 175, 0.07);
				border-radius: 25rpx;
				margin-bottom: 20rpx;
				.top {
					padding-bottom: 30rpx;
					border-bottom: 0.5rpx solid #e5e5e5;
					font-size: 30rpx;
					color: #333333;
				}
				.bottom {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding-top: 31rpx;
					.left {
						display: flex;
						align-items: center;
						.iconfont {
							display: block;
							width: 33rpx;
							height: 33rpx;
							line-height: 33rpx;
							text-align: center;
							font-size: 22rpx;
							color: #FFFFFF;
							background-color: #00c490;
							border-radius: 50%;
							margin-right: 28rpx;
						}
						text {
							font-size: 28rpx;
							color: #666666;
						}
					}
					.right {
						display: flex;
						view {
							width: 132rpx;
							height: 59rpx;
							line-height: 59rpx;
							text-align: center;
							font-size: 26rpx;
							border-radius: 30rpx;
						}
						.view1 {
							color: #3b82fc;
							border: 1rpx solid #3b82fc;
							background-color: #fff;
						}
						.view2 {
							color: #FFFFFF;
							background-color: #3b82fc;
							margin-left: 21rpx;
						}
						.view3 {
							color: #999999;
							background-color: #f1f1f1;
						}
						.view4 {
							box-sizing: border-box;
							min-width: 80px;
							background-color: #FFFFFF;
							border: solid 1rpx #e1e1e1;
							color: #999999;
							margin-right: 21rpx;
						}
					}
				}
			}
		}

		.popup-box {
			padding: 68rpx 55rpx;
			.title {
				font-size: 38rpx;
				color: #333333;
				font-weight: 600;
				margin-bottom: 63rpx;
			}
			.ico-list {
				display: flex;
				justify-content: space-between;
				overflow: hidden;
				.ico-item {
					display: flex;
					flex-direction: column;
					align-items: center;
					.iconfont {
						font-size: 64rpx;
						color: #ababab;
					}
					.name {
						font-size: 24rpx;
						color: #CCCCCC;
						margin-top: 24rpx;
					}
				}
			}
			.btn-box {
				display: flex;
				margin-top: 55rpx;
				view {
					width: 308rpx;
					height: 88rpx;
					display: flex;
					align-items: center;
					font-size: 36rpx;
					border-radius: 10rpx;
					justify-content: center;
				}
				view.btn1 {
					color: #999999;
					border: solid 1rpx #e1e1e1;
					margin-right: 22rpx;
					background-color: #fff;
				}
				view.btn2 {
					color: #FFFFFF;
					background-color: #3b82fc;
				}
			}
		}
	}
</style>