<template>
	<view class="Confirm_cash_pwd">
		<view class="box">
			<text>设置密码</text>
			<text>请再次填写确认密码</text>
			<view class="input_box">
				<u-message-input mode="box" :maxlength="6" @finish="finish" @change="change" :value="value"></u-message-input>
			</view>
			<button class="btn-ok" :style="{'opacity': !bgc ? 0.5 : 1 }">完成</button>
		</view>
	</view>
</template>

<script>

	export default {

        components: {

        },
        data() {
            return {
				value: '',
				bgc: false
            }
        },
        computed: {

        },
        watch: {

        },
        onLoad() {

        },
        onReady() {

        },
        methods: {
			finish(value) {
				
				
			},
			change(value) {
				if(value.length >= 6) {
					this.bgc = true;
				}else {
					this.bgc = false;
				}
			}
        }

    }
</script>

<style lang="scss">
	.box {
		display: flex;
		flex-flow: column;
		align-items: center;
		text {
			&:first-child {
				margin-top: 163rpx;
				font-size: 48rpx;
				color: #282828;
			}
			&:nth-child(2) {
				font-size: 28rpx;
				margin-top: 34rpx;
				color: #999999;
			}
		}
		.input_box {
			margin-top: 41rpx;
		}
		.btn-ok {
			width: 90%;
			height: 88rpx;
			line-height: 88rpx;
			background-color: #ff5d16;
			box-shadow: 0rpx 8rpx 20rpx 0rpx 
			rgba(255, 93, 22, 0.31);
			border-radius: 10rpx;
			opacity: 0.5;
			margin-top: 55rpx;
			font-size: 36rpx;
			color: #FFFFFF;
		}
	}
</style>