<template>
	<view class="invoice_collect">
		<view class="pictures_box">
			<view class="camera" @click="godetail"></view>
			<view class="title">
				<text>请拍照完成您的</text>
				<text>发票采集</text>
			</view>
		</view>
		<view class="Submission_details">
			<view class="title_box">
				<text class="title">发票提交明细</text>
				<view>
					<xfl-select 
					:list="list"
					:clearable="false"
					:showItemNum="5" 
					:isCanInput="false"  
					:style_Container="listBoxStyle"
					:placeholder = "list[0]"
					:initValue = "list[0]"
					@change="change"
					>
					</xfl-select>
				</view>
			</view>
			<view class="list" :style="{'height': listHeight}">
				<view class="item">
					<view>
						<text>发票代码：123545879878</text>
						<text>发票号码：12354587</text>
					</view>
					<view>
						<text>发票种类：增值税专用发票</text>
						<text>-0.25</text>
					</view>
					<view>
						<text>李明</text>
						<text>2020年5月8日 12:21</text>
					</view>
				</view>
				<view class="item">
					<view>
						<text>发票代码：123545879878</text>
						<text>发票号码：12354587</text>
					</view>
					<view>
						<text>发票种类：增值税专用发票</text>
						<text>-0.25</text>
					</view>
					<view>
						<text>李明</text>
						<text>2020年5月8日 12:21</text>
					</view>
				</view>
				<view class="item">
					<view>
						<text>发票代码：123545879878</text>
						<text>发票号码：12354587</text>
					</view>
					<view>
						<text>发票种类：增值税专用发票</text>
						<text>-0.25</text>
					</view>
					<view>
						<text>李明</text>
						<text>2020年5月8日 12:21</text>
					</view>
				</view>
				<view class="item">
					<view>
						<text>发票代码：123545879878</text>
						<text>发票号码：12354587</text>
					</view>
					<view>
						<text>发票种类：增值税专用发票</text>
						<text>-0.25</text>
					</view>
					<view>
						<text>李明</text>
						<text>2020年5月8日 12:21</text>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import xflSelect from '@/components/xfl-select/xfl-select.vue';
	export default {
		
        components: {
			xflSelect
        },
        data() {
            return {
				listBoxStyle: `width: 88.5px; height: 23px; font-size: 11px; background-color: #f6f6f6;padding: 6px 10px;`,
				list: [
					'2020年5月',
					'2020年6月',
					'2020年7月',
					'2020年8月',
					'2020年9月'
				],
				listHeight: 0
            }
        },
        computed: {

        },
        watch: {

        },
        onLoad() {

        },
        onReady() {
			/* 获取设备窗口尺寸 */
			uni.getSystemInfo({
				success: (res) => {
					console.log(res.windowHeight)
					this.listHeight = res.windowHeight - 300  + "px";
					console.log(this.listHeight)
				}
			})
        },
        methods: {
			visibleChange(isShow){ // 列表框的显示隐藏事件
				console.log('isShow::', isShow);
			},
			change({newVal, oldVal, index, orignItem}){ 
				console.log(newVal, oldVal, index, orignItem);
			},
			godetail() {
				uni.navigateTo({
					url: '/pages/invoice_detail/invoice_detail'
				})
			}
        }

    }
</script>

<style lang="scss">
	page {
		background-color: #fff;
	}
	.invoice_collect {
		padding: 0 36rpx;
		width: 100%;
		height: 400rpx;
		position: absolute;
		left: 0;
		top: 0;
		background-image: linear-gradient(#fe8754, #fcfafc);
		.pictures_box {
			width: 100%;
			height: 347rpx;
			background-color: #ffffff;
			box-shadow: 0rpx 4rpx 13rpx 0rpx 
				rgba(255, 93, 22, 0.1);
			border-radius: 10rpx;
			display: flex;
			flex-flow: column;
			align-items: center;
			.camera {
				width: 190rpx;
				height: 178rpx;
				background: url("~@/static/images/invoice_collect/camera.png") no-repeat;
				background-size: 100% 100%;
				margin-top: 47rpx;
			}
			.title {
				margin-top: 28rpx;
				text {
					font-size: 30rpx;
					color: #333333;
					&:last-child {
						color: #ff5d16;
					}
				}
			}
		}
		.Submission_details {
			padding: 0 35rpx;
			background-color: #fff;
			border-radius: 10rpx;
			margin-top: 20rpx;
			box-shadow: 0rpx 4rpx 13rpx 0rpx rgba(255, 93, 22, 0.1);
			.title_box {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 29rpx 0;
				
				.title {
					font-size: 30rpx;
					color: #333333;
					font-weight: bold;
				}
				view {
					margin-bottom: 15rpx;
				}
			}
			.list {
				overflow-y: scroll;
				.item {
					border-top: 1rpx solid #e8e8e8;
					padding-top: 35rpx;
					view {
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding: 35rpx 0;
						padding-top: 0;
						text {
							font-size: 24rpx;
							color: #666666;
						}
					}
				}
			}
		}
	}

</style>