<template>
	<view class="vault">
		<view class="total_assets">
			<text>总资产 (元)</text>
			<text>18,778,66</text>
			<view @click="withdraw_cash">提现</view>
		</view>
		<view class="Cumulative_amount">
			<text>累计赚到</text>
			<text>¥ 18,778,66</text>
		</view>
		<view class="list">
			<view class="title">
				<view>
					<xfl-select
						:list="list"
						:clearable="false"
						:showItemNum="5"
						:isCanInput="false"
						:style_Container="listBoxStyle"
						:placeholder="list[0]"
						:initValue="list[0]"
						@change="change"
					></xfl-select>
				</view>
				<text>累计提现 ¥600</text>
			</view>
			<scroll-view scroll-y="true" :style="{height:listHeight + 'px'}">
				<view class="item">
					<view class="top">
						<view>
							<text class="iconfont weixin">&#xe60c;</text>
							<text>零钱提现</text>
						</view>
						<text>¥ 200</text>
					</view>
					<view class="bottom">2020年5月22日 16:45</view>
				</view>
				<view class="item">
					<view class="top">
						<view>
							<text class="iconfont zhifubao">&#xe611;</text>
							<text>零钱提现</text>
						</view>
				
						<text>¥ 200</text>
					</view>
					<view class="bottom">2020年5月22日 16:45</view>
				</view>
				<view class="item">
					<view class="top">
						<view>
							<text class="iconfont zhifubao">&#xe611;</text>
							<text>零钱提现</text>
						</view>
				
						<text>¥ 200</text>
					</view>
					<view class="bottom">2020年5月22日 16:45</view>
				</view>
				<view class="item">
					<view class="top">
						<view>
							<text class="iconfont zhifubao">&#xe611;</text>
							<text>零钱提现</text>
						</view>
				
						<text>¥ 200</text>
					</view>
					<view class="bottom">2020年5月22日 16:45</view>
				</view>
				<view class="item">
					<view class="top">
						<view>
							<text class="iconfont zhifubao">&#xe611;</text>
							<text>零钱提现</text>
						</view>
				
						<text>¥ 200</text>
					</view>
					<view class="bottom">2020年5月22日 16:45</view>
				</view>
			</scroll-view>
		</view>
	</view>
</template>

<script>
import xflSelect from '@/components/xfl-select/xfl-select.vue';
export default {
	components: {
		xflSelect
	},
	data() {
		return {
			listBoxStyle: `width: 90px; height: 23px; font-size: 15px; border:none;`,
			list: ['2020-05', '2020-06', '2020-07', '2020-08', '2020-09'],
			listHeight: 0,
			style: `color: red;`
		};
	},
	computed: {},
	watch: {},
	onLoad() {},
	async onReady() {
		var that = this;
		let vault = await that.$commonFun.getElSize('vault');
		let title = await that.$commonFun.getElSize('title');
		uni.getSystemInfo({
			success(res) {
				that.listHeight = res.windowHeight - vault.height - title.height - 44;
			}
		})
		console.log(vault)
	},
	onNavigationBarButtonTap(e) {
		let index = e.index;
		console.log(index);
		if (index == 0) {
			/* 去设置 */
			uni.navigateTo({
				url: '/pages/vault_seting/vault_seting'
			});
		}
	},
	methods: {
		change({ newVal, oldVal, index, orignItem }) {
			console.log(newVal, oldVal, index, orignItem);
		},
		withdraw_cash() {
			uni.navigateTo({
				url: '/pages/withdraw_cash/withdraw_cash'
			})
		}
	}
};
</script>

<style lang="scss">
page {
	background-color: #fff;
}
.vault {
	width: 100%;
	height: 400rpx;
	position: absolute;
	left: 0;
	top: 0;
	background-image: linear-gradient(#fe8754, #fcfafc);
	padding: 32rpx 36rpx;
	.total_assets {
		display: flex;
		flex-flow: column;
		align-items: center;
		text {
			&:first-child {
				font-size: 24rpx;
				color: #ffffff;
			}
			&:nth-child(2) {
				font-size: 70rpx;
				color: #ffffff;
				margin-top: 31rpx;
			}
		}
		view {
			width: 277rpx;
			height: 75rpx;
			line-height: 75rpx;
			background-image: linear-gradient(0deg, #fcfafc 0%, #ffe2d9 100%), linear-gradient(#fcfafc, #fcfafc);
			background-blend-mode: normal, normal;
			box-shadow: 0rpx 2rpx 4rpx 0rpx rgba(255, 93, 22, 0.23);
			border-radius: 38rpx;
			text-align: center;
			font-size: 30rpx;
			color: #ff5d16;
			font-weight: bold;
			margin-top: 43rpx;
		}
	}
	.Cumulative_amount {
		display: flex;
		justify-content: space-between;
		height: 136rpx;
		line-height: 136rpx;
		background-color: #ffffff;
		box-shadow: 0rpx 4rpx 13rpx 0rpx rgba(255, 93, 22, 0.1);
		border-radius: 10rpx;
		margin-top: 35rpx;
		padding: 0 78rpx;
		text {
			&:first-child {
				font-size: 30rpx;
				color: #666666;
				font-weight: bold;
				position: relative;
				padding-right: 102rpx;

				&::after {
					content: '';
					display: block;
					width: 1rpx;
					height: 61rpx;
					background-color: #e8e8e8;
					position: absolute;
					right: 0rpx;
					top: 50%;
					transform: translateY(-50%);
				}
			}
			&:last-child {
				font-size: 32rpx;
				color: #ff5d16;
				font-weight: bold;
			}
		}
	}
	.list {
		.title {
			padding-top: 84rpx;
			padding-bottom: 44rpx;
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 30rpx;
			color: #333333;
			text {
				&:last-child {
					font-size: 26rpx;
					color: #999999;
				}
			}
		}
		.item {
			padding-top: 48rpx;
			padding-bottom: 41rpx;
			border-top: 1rpx solid #e8e8e8;
			.top {
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-size: 30rpx;
				color: #333333;
				view {
					text {
						&.weixin {
							font-size: 32rpx;
							color: #0fb906;
							margin-right: 11rpx;
						}
						&.zhifubao {
							font-size: 32rpx;
							color: #1296db;
							margin-right: 11rpx;
						}
					}
				}
				text {
					&:last-child {
						font-weight: bold;
					}
				}
			}
			.bottom {
				margin-top: 22rpx;
				font-size: 24rpx;
				color: #999999;
			}
		}
	}
}
</style>
