<template>
	<view class="enterprise_profile">
		<view class="title">企业简介</view>
		<view class="input-box">
			<textarea :maxlength="140" auto-height @input="descInput" :cursor="Number(desc.length)" :auto-focus="true" :placeholder="placeholder" v-model="desc" />
			<view class="num">{{ desc.length }}/140</view>
		</view>
	</view>
</template>

<script>

	export default {

        components: {

        },
        data() {
            return {
				placeholder: '',
				desc: '北京慧思背书科技发展有限公司zd是2017-01-04在北京市通州区注册成立的有限责任公司(自然人投资或控股)，注册地址位于北京市通州区龙旺庄路路西京客隆4层'
            }
        },
        computed: {

        },
        watch: {

        },
        onLoad() {

        },
        onReady() {

        },
        methods: {
			clear() {
				this.placeholder = '请输入企业简介'
			},
			descInput(e) {
				this.remnant = e.detail.value.length;
			}
        }

    }
</script>

<style lang="scss">
	page {
		background-color: #fff;
	}
	.enterprise_profile {
		padding: 0 36rpx;
		padding-top: 56rpx;
		.title {
			font-size: 42rpx;
			color: #282828;
			font-weight: bold;
		}
		.input-box {
			display: flex;
			align-items: center;
			padding-bottom: 12rpx;
			position: relative;
			margin-top: 40rpx;
			padding-bottom: 80rpx;
			textarea {
				line-height: 48rpx;
				flex: 1;
				font-size: 28rpx;
				color: #666666;
				
			}
			.num {
				text-align: right;
				padding-top: 30rpx;
				display: block;
				width: 100%;
				// border-top: 1rpx solid #cbcbcb;
				position: absolute;
				right: 0;
				bottom: 0;
				font-size: 24rpx;
				color: #cbcbcb;
			}
		}
	}
</style>