<template>
	<view class="certificates">
		<view class="inner">
			<view class="tip">提供会计职称证(初级，中级或注册会计师)，图片大小不超过2M</view>
			<view class="ID_card">
				<view class="title">职称证</view>
				<view class="list">
					<view class="item flex">
						<view class="box flex">
							<view>职称证</view>
							<view>请上传您的职称证</view>
						</view>
						<view class="image_box flex">
							<sunui-upimg @change="getImageInfo1" :upload_auto="true" ref="upimg1" :upload_count="1" :upload_img_wh="upload_img_wh"></sunui-upimg>
						</view>
					</view>
				</view>
			</view>
			<button type="default" class="next-btn" @click="next">下一步</button>
		</view>
	</view>
</template>

<script>
	import sunUiUpimg from '@/components/sunui-upimg/sunui-upimg.vue';
	export default {

		components: {
			'sunui-upimg': sunUiUpimg
		},
		data() {
			return {
				upload_img_wh: 'width:142rpx;height:142rpx;',
				serviceArr2: [],
				serviceArr3: [{
					path: 'https://dss0.bdstatic.com/6Ox1bjeh1BF3odCf/it/u=1537304011,3995405403&fm=74&app=80&f=JPEG&size=f121,140?sec=1880279984&t=97b7ba208086526f1a92f5294f1a68a3'
				}],
				serviceArr4: [{
						path: 'https://dss0.bdstatic.com/6Ox1bjeh1BF3odCf/it/u=1537304011,3995405403&fm=74&app=80&f=JPEG&size=f121,140?sec=1880279984&t=97b7ba208086526f1a92f5294f1a68a3'
					},
					{
						path: 'https://dss0.baidu.com/73t1bjeh1BF3odCf/it/u=63785387,1979900985&fm=85&s=8015CD304A92909C8F80B180030030EB'
					}
				]
			}
		},
		computed: {

		},
		watch: {

		},
		onLoad() {
			// 数据更新不及时时可以在下次DOM更新时使用
			this.$nextTick(function(){
				this.getInfo();
			})
			// this.getInfo();
		},
		onReady() {

		},
		methods: {
			async getInfo() {
				await uni.request({
					url: 'http://www.pbdpw.com/info.php',
					method: 'GET',
					data: {},
					success: res => {
						if (res.data.status == 'ok') {
							this.serviceArr2 = res.data.data;
							console.log('服务器返回值：', JSON.stringify(res.data.data))
						}
					}
				});
			},
			getImageInfo1(e) {
				console.log('图片返回1：', e)
			},
			getImageInfo2(e) {
				console.log('图片返回2：', e)
			},
			getImageInfo3(e) {
				console.log('图片返回3：', e)
			},
			//下一步
			next() {

			}
		}

	}
</script>

<style lang="scss">
	page {
		background-color: #f3f5f8;
	}

	.inner {
		padding: 52rpx 36rpx;

		.tip {
			font-size: 28rpx;
			color: #999999;
			margin-bottom: 44rpx;
		}

		.ID_card {
			overflow: hidden;

			.title {
				font-size: 40rpx;
				font-weight: bold;
				color: #282828;
				margin-bottom: 32rpx;
				font-weight: bold;
			}

			.list {
				.item {
					align-items: center;
					justify-content: space-between;
					padding: 38rpx 41rpx;
					background-color: #fff;
					margin-bottom: 10rpx;
					border-radius: 30rpx;

					.box {
						height: 142rpx;
						flex-direction: column;
						justify-content: space-around;
						padding: 14rpx 0;

						view {
							&:first-child {
								font-size: 30rpx;
								color: #333333;
							}

							&:last-child {
								font-size: 28rpx;
								color: #999999;
							}
						}
					}

					.image_box {
						@include wh(142rpx, 142rpx);
						border: solid 1px #ff5d16;
						border-radius: 30rpx;
						overflow: hidden;
					}
				}
			}
		}

		.next-btn {
			height: 88rpx;
			line-height: 88rpx;
			background-color: #ff5d16;
			box-shadow: 0rpx 8rpx 20rpx 0rpx rgba(255, 93, 22, 0.31);
			border-radius: 10rpx;
			color: #FFFFFF;
			font-size: 36rpx;
			margin-top: 40rpx;
		}
	}
</style>
