<template>
	<view class="Account_homepage">
		<u-navbar :is-back="true" title="TA的主页" :is-fixed="true" title-color="#ffffff" :title-size="36" :background="{background: '#3b82fc'}" back-icon-color="#ffffff">
		</u-navbar>
		<view class="banner">
			<view class="userInfo flex">
				<image src="../../static/images/chat/1.jpg"></image>
				<view class="box">
					<text class="name">李会计</text>
					<view class="flex">
						<text>90后</text>
						<text>3年经验</text>
					</view>
				</view>
			</view>
			<view class="menu flex">
				<view>
					<text>加入左邻会计</text>
					<text>90天</text>
				</view>
				<view>
					<text>接单次数</text>
					<text>3次</text>
				</view>
			</view>
			<view class="middle">
				<view class="title">完成会计认证</view>
				<view class="flex nav">
					<view @click="show = true">
						<image src="../../static/images/Account_homepage/3.png" mode=""></image>
						<text>实名认证</text>
					</view>
					<view @click="show = true">
						<image src="../../static/images/Account_homepage/4.png" mode=""></image>
						<text>从业资格</text>
					</view>
				</view>
			</view>
			<view class="bottom">
				<view class="title">来自客户的评价</view>
				<view class="flex estimate">
					<view class="iconfont">&#xe66f; 非常满意 2</view>
					<view class="iconfont">&#xe731; 满意 1</view>
				</view>
			</view>
			<u-popup v-model="show" mode="bottom" :border-radius="35" height="475rpx">
				<view class="popup-box">
					<view class="item flex">
						<view class="left"><text class="iconfont">&#xe61e;</text></view>
						<view class="right">
							<view class="top flex">
								<text>实名认证</text>
								<text>已认证</text>
							</view>
							<view class="bottom2"><text>会计已提供有效身份证明</text></view>
						</view>
					</view>
					<view class="item flex">
						<view class="left"><text class="iconfont">&#xe61e;</text></view>
						<view class="right">
							<view class="top flex">
								<text>从业资格</text>
								<text>已认证</text>
							</view>
							<view class="bottom2"><text>从业证经过严格审核</text></view>
						</view>
					</view>
					<button class="mysee" @click="show=!show">我知道了</button>
				</view>
			</u-popup>
		</view>
	</view>
</template>

<script>
export default {
	components: {},
	data() {
		return {
			show: false
		};
	},
	computed: {},
	watch: {},
	onLoad() {},
	onReady() {},
	methods: {}
};
</script>

<style lang="scss">
page {
	background-color: #f4f6f9;
}
.Account_homepage {
	.banner {
		background-image: linear-gradient(0deg, #f3f5f8 0%, #3b82fc 100%), linear-gradient(#3b82fc, #3b82fc);
		background-blend-mode: normal, normal;
		padding: 0 26rpx;
		padding-top: 40rpx;
		.userInfo {
			align-items: center;
			padding: 0 20rpx;
			image {
				width: 120rpx;
				height: 120rpx;
				border-radius: 50%;
				border: solid 5rpx #ffffff;
				margin-right: 40rpx;
			}
			.name {
				font-size: 38rpx;
				color: #ffffff;
				font-weight: bold;
			}
			.flex {
				font-size: 28rpx;
				color: #ffffff;
				margin-top: 10rpx;
				text {
					&:first-child {
						position: relative;
						padding-right: 47rpx;
						margin-right: 37rpx;
						&::after {
							content: '';
							opacity: 0.4;
							display: block;
							width: 1rpx;
							height: 20rpx;
							background-color: #fff;
							position: absolute;
							right: 0;
							top: 50%;
							margin-top: -8rpx;
						}
					}
				}
			}
		}
		.menu {
			margin-top: 44rpx;
			view {
				padding: 32rpx 38rpx;
				display: flex;
				flex-flow: column;
				background-color: #fff;
				flex: 1;
				background: url('~@/static/images/Account_homepage/1.png') no-repeat;
				background-size: 339rpx 144rpx;
				text {
					font-size: 24rpx;
					color: #999999;
					&:last-child {
						font-size: 38rpx;
						color: #333333;
					}
				}
				&:last-child {
					margin-left: 20rpx;
					background: url('~@/static/images/Account_homepage/2.png') no-repeat;
					background-size: 339rpx 144rpx;
				}
			}
		}
		.middle {
			padding: 55rpx 43rpx;
			background-color: #ffffff;
			border-radius: 35rpx;
			margin-top: 20rpx;
			.title {
				font-size: 32rpx;
				font-weight: bold;
				color: #333333;
			}
			.nav {
				margin-top: 53rpx;
				view {
					display: flex;
					flex-direction: column;
					align-items: center;
					image {
						width: 59rpx;
						height: 41rpx;
					}
					text {
						font-size: 24rpx;
						color: #666666;
						margin-top: 39rpx;
					}
					&:last-child {
						margin-left: 129rpx;
					}
				}
			}
		}
		.bottom {
			padding: 55rpx 43rpx;
			padding-bottom: 268rpx;
			background-color: #fff;
			border-radius: 35rpx;
			margin-top: 20rpx;
			.title {
				font-size: 32rpx;
				color: #000000;
				font-weight: bold;
			}
			.estimate {
				margin-top: 58rpx;
				view {
					height: 60rpx;
					line-height: 60rpx;
					padding: 0 21rpx;
					background-color: #e6f3ff;
					border-radius: 30rpx;
					font-size: 26rpx;
					color: #3b82fc;
					&:last-child {
						margin-left: 21rpx;
					}
				}
			}
		}
	}
	.popup-box {
		padding: 67rpx 55rpx;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.item {
			align-items: center;
			.left {
				margin-right: 39rpx;
				width: 62rpx;
				height: 62rpx;
				border-radius: 50%;
				background-color: #e6f3fe;
				text-align: center;
				text {
					color: #3b82fc;
				}
			}
			.right {
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding-bottom: 27rpx;
				border-bottom: 1rpx solid #e6e6e6;
				.top {
					align-items: center;
					margin-bottom: 5rpx;
					text {
						&:first-child {
							font-size: 32rpx;
							color: #333333;
							font-weight: bold;
						}
						&:last-child {
							height: 34rpx;
							padding: 0 12rpx;
							background-color: #ff5d16;
							font-size: 24rpx;
							line-height: 34rpx;
							border-radius: 30rpx;
							color: #fff;
							margin-left: 23rpx;
						}
					}
				}
				.bottom2 {
					font-size: 24rpx;
					line-height: 38rpx;
					color: #999999;
				}
			}
			&:nth-child(2) {
				.right {
					margin-top: 27rpx;
					border-bottom: none;
				}
			}
		}
		.mysee {
			width: 638rpx;
			height: 88rpx;
			line-height: 88rpx;
			background-color: #3b82fc;
			box-shadow: 0rpx 8rpx 20rpx 0rpx rgba(59, 130, 252, 0.31);
			border-radius: 10rpx;
			font-size: 36rpx;
			color: #ffffff;
		}
	}
}
</style>
