<template name="sunui-password">
	<view>
		<view class="visible" @tap="showTap">
			<text class="iconfont eye" :style="{color: status.color}">{{status.text}}</text>
		</view>
		
	</view>
</template>

<script>
export default {
	data() {
		return {
			showpass: true
		};
	},
	computed: {
		status() {
			if(this.showpass) {
				return {
					color: '#cbcbcb',
					text: '\ue604'
				}
			}else {
				return {
					color: '#3b82fc',
					text: '\ue61d'
				}
			}
		}
	},
	name: 'sunui-password',
	methods: {
		showTap() {
			this.showpass = !this.showpass;
			this.$emit('change', this.showpass);
		}
	}
};
</script>

<style>
.iconfont {
	font-family: iconfont;
}
.visible {
	width: 100rpx;
	flex-direction: row;
	justify-content: flex-end;
}
.eye {
	font-size: 50rpx;
}
</style>
