<template>
	<view class="company_Address">
		<view class="title">企业地址</view>
		<view class="input-box">
			<textarea :maxlength="80" auto-height @input="descInput" :placeholder="placeholder" v-model="desc" focus />
			<view class="num">{{ desc.length }}/80</view>
		</view>
	</view>
</template>

<script>

	export default {

        components: {

        },
        data() {
            return {
				placeholder: '',
				desc: '北京市朝阳区望京soho T1 B座 1201'
            }
        },
        computed: {

        },
        watch: {

        },
        onLoad() {

        },
        onReady() {

        },
        methods: {
			clear() {
				this.placeholder = '请输入企业简介'
			},
			descInput(e) {
				this.remnant = e.detail.value.length;
			}
        }

    }
</script>

<style lang="scss">
	page {
		background-color: #fff;
	}
	.company_Address {
		padding: 0 36rpx;
		padding-top: 56rpx;
		.title {
			font-size: 42rpx;
			color: #282828;
			font-weight: bold;
		}
		.input-box {
			display: flex;
			align-items: center;
			padding-bottom: 12rpx;
			position: relative;
			margin-top: 40rpx;
			padding-bottom: 80rpx;
			textarea {
				line-height: 48rpx;
				flex: 1;
				font-size: 28rpx;
				color: #666666;
				caret-color: green;
			}
			.num {
				text-align: right;
				padding-top: 30rpx;
				display: block;
				width: 100%;
				position: absolute;
				right: 0;
				bottom: 0;
				font-size: 24rpx;
				color: #cbcbcb;
			}
		}
	}
</style>