<template>
	<view class="Message_Settings">
		<view class="tip">消息免打扰</view>
		<view class="list">
			<view class="item">
				<text>开启</text>
				<switch :checked="true" @change="" color="#3b82fc" />
			</view>
			<view class="item">
				<text>只在夜间开启</text>
				<switch :checked="false" @change="" color="#3b82fc" />
			</view>
			<view class="item" style="border: none;">
				<text>关闭</text>
				<switch :checked="false" @change="" color="#3b82fc" />
			</view>
		</view>
		<view class="text">开启后，收到所有消息都不会提醒，如果设置为“只在夜间开启”，则只在22:00-8:00间生效</view>
	</view>
</template>

<script>

	export default {

        components: {

        },
        data() {
            return {

            }
        },
        computed: {

        },
        watch: {

        },
        onLoad() {

        },
        onReady() {

        },
        methods: {

        }

    }
</script>

<style lang="scss">
	page {
		background-color: #f3f5f8;
	}
	.tip {
		height: 100rpx;
		line-height: 100rpx;
		padding-left: 37rpx;
		font-size: 30rpx;
		color: #666666;
	}
	.list {
		background-color: #fff;
		padding: 0 35rpx;
		.item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 109rpx;
			border-bottom: 0.5rpx solid #e0e0e0;
		}
	}
	.text {
		font-size: 30rpx;
		color: #666666;
		padding: 0 37rpx;
		margin-top: 46rpx;
	}
</style>